{
  "swagger": "2.0",
  "info": {
    "version": "2022-03-23",
    "description": "适用于Easy Ship的销售合作伙伴API可帮助您构建应用程序，帮助卖家管理和运送Amazon Easy ship订单。\n\n您的Easy Ship应用程序可以:\n\n* 获取可用的时间槽包被安排交付。\n\n* 安排，重新安排，并取消轻松发货订单。\n\n* 打印标签、发票和保修。\n\n请参阅 [Marketplace支持表](doc:easyship-api-v2022-03-23-use-case-guide # marketplace-Support-Table)，了解不同marketplace在轻松发货操作方面的差异。",
    "title": "Selling Partner API for Easy Ship",
    "contact": {
      "name": "销售合作伙伴API开发人员支持",
      "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
    },
    "license": {
      "name": "Apache许可证2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "sellingpartnerapi-na.amazon.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/easyShip/2022-03-23/timeSlot": {
      "post": {
        "tags": [
          "easyShip"
        ],
        "description": "根据卖方指定的包装重量和尺寸，返回可用于安排轻松发货订单的时间段。\n\n此操作适用于基于市场支持的计划订单和未计划订单。请参阅 [市场支持表] 中的 ** 获取时隙 ** (doc:easyship-api-v2022-03-23-use-case-guide # Marketplace-Support-Table)。\n\n此操作可以返回具有拾取或丢弃移交方法的时隙-请参阅 [市场支持表] 中的 ** 支持的移交方法 ** (doc:easyship-api-v2022-03-23-use-case-guide # Marketplace-Support-Table)。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 1 | 5 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制] (文档: Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "listHandoverSlots",
        "parameters": [
          {
            "name": "ListHandoverSlotsRequest",
            "description": "“Listhandoverslots” 操作的请求架构。",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ListHandoverSlotsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "amazonOrderId": "931-2308757-7991048",
                        "marketplaceId": "A21TJRUUN4KGV",
                        "packageDimensions": {
                          "length": 15,
                          "width": 10,
                          "height": 12,
                          "unit": "Cm",
                          "identifier": "test"
                        },
                        "packageWeight": {
                          "value": 50,
                          "unit": "G"
                        }
                      }
                    }
                  },
                  "response": {
                    "amazonOrderId": "931-2308757-7991048",
                    "timeSlots": [
                      {
                        "handoverMethod": "Pickup",
                        "slotId": "AQc48yxSAAAAADZG0qQAAAAA6kkAAAAAAAA=",
                        "startTime": "2022-03-09T23:30:00Z",
                        "endTime": "2022-03-10T02:00:00Z"
                      },
                      {
                        "handoverMethod": "Pickup",
                        "slotId": "AQef4K2CAAAAAGdIAEAAAAAA6kkAAAAAAAA=",
                        "startTime": "2022-03-10T02:00:00Z",
                        "endTime": "2022-03-10T04:30:00Z"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ListHandoverSlotsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "amazonOrderId": "",
                          "marketplaceId": "A21TJRUUN4KGV",
                          "packageDimensions": {
                            "length": 15,
                            "width": 10,
                            "height": 12,
                            "unit": "Cm"
                          },
                          "packageWeight": {
                            "value": 50,
                            "unit": "G"
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Request has missing or invalid parameters and cannot be parsed.",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "amazonOrderId": "931-2308757-7991048",
                          "marketplaceId": "",
                          "packageDimensions": {
                            "length": 15,
                            "width": 10,
                            "height": 12,
                            "unit": "Cm"
                          },
                          "packageWeight": {
                            "value": 50,
                            "unit": "G"
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "ResourceNotFound",
                        "message": "The specified resource (for example, `AmazonOrderId` or `MarketplaceId`) does not exist."
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    },
    "/easyShip/2022-03-23/package": {
      "get": {
        "tags": [
          "easyShip"
        ],
        "description": "返回有关包裹的信息，包括尺寸、重量、用于移交的时隙信息、发票和项目信息以及状态。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 1 | 5 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制] (文档: Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getScheduledPackage",
        "parameters": [
          {
            "name": "amazonOrderId",
            "in": "query",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Amazon定义的订单标识符。标识卖家希望使用Amazon Easy Ship交付的订单。"
          },
          {
            "name": "marketplaceId",
            "in": "query",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "卖方在其中销售的市场的标识符。"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "amazonOrderId": {
                        "value": "903-1713775-3598252"
                      },
                      "marketplaceId": {
                        "value": "A21TJRUUN4KGV"
                      }
                    }
                  },
                  "response": {
                    "scheduledPackageId": {
                      "amazonOrderId": "903-1713775-3598252",
                      "packageId": "1ab0f06a-9149-87e0-aba9-7098117872d6"
                    },
                    "packageDimensions": {
                      "length": 12,
                      "width": 12,
                      "height": 12,
                      "unit": "Cm"
                    },
                    "packageWeight": {
                      "value": 23,
                      "unit": "G"
                    },
                    "packageTimeSlot": {
                      "slotId": "AQc48yxSAAAAADZG0qQAAAAA6kkAAAAAAAA=",
                      "startTime": "2022-03-09T23:30:00Z",
                      "endTime": "2022-03-10T02:00:00Z"
                    },
                    "packageStatus": "Scheduled"
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/Package"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "amazonOrderId": {
                        "value": "903-1713775-1111111"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "ResourceNotFound",
                        "message": "The specified resource (for example, `AmazonOrderId` or `MarketplaceId`) does not exist."
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "easyShip"
        ],
        "description": "计划一个简单的发运订单并返回计划的包裹信息。\n\n此操作执行以下操作:\n\n* 指定要计划交付的订单的时隙和移交方法。\n\n* 更新Easy Ship订单状态。\n\n* 生成运输标签和发票。如果指定 “序列号” 值，则调用 “createscheduledpackage” 也会生成保修文档。要获取这些文档，请参阅 [如何获取发票、发货标签和保修文档] (文档: easyship-api-v2022-03-23-use-case-guide)。\n\n* 当您为订单调用销售合作伙伴API的 “getorders” 操作并检查响应正文中的 “easyshipshipmentstatus” 属性时，显示轻松发货订单的状态。\n\n请参阅 [市场支持表](doc:easyship-api-v2022-03-23-use-case-guide # Marketplace-Support-Table) 中的 ** 运输标签 ** 、 ** 发票 ** 和 ** 保修 ** 列，了解每个市场支持哪些文档。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 1 | 5 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制] (文档: Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "createScheduledPackage",
        "parameters": [
          {
            "name": "CreateScheduledPackageRequest",
            "description": "“Createscheduledpackage” 操作的请求架构。",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateScheduledPackageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "amazonOrderId": "903-1713775-3598252",
                        "marketplaceId": "A21TJRUUN4KGV",
                        "packageDetails": {
                          "packageDimensions": {
                            "length": 12,
                            "width": 12,
                            "height": 12,
                            "unit": "Cm"
                          },
                          "packageWeight": {
                            "value": 23,
                            "unit": "G"
                          },
                          "packageTimeSlot": {
                            "slotId": "AQc48yxSAAAAADZG0qQAAAAA6kkAAAAAAAA=",
                            "startTime": "2022-03-09T23:30:00Z",
                            "endTime": "2022-03-10T02:00:00Z"
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "scheduledPackageId": {
                      "amazonOrderId": "903-1713775-3598252",
                      "packageId": "1ab0f06a-9149-87e0-aba9-7098117872d6"
                    },
                    "packageDimensions": {
                      "length": 12,
                      "width": 12,
                      "height": 12,
                      "unit": "Cm"
                    },
                    "packageWeight": {
                      "value": 23,
                      "unit": "G"
                    },
                    "packageTimeSlot": {
                      "slotId": "AQc48yxSAAAAADZG0qQAAAAA6kkAAAAAAAA=",
                      "startTime": "2022-03-09T23:30:00Z",
                      "endTime": "2022-03-10T02:00:00Z"
                    },
                    "packageStatus": "ReadyForPickup"
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/Package"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "amazonOrderId": "903-1713775-3598252",
                          "packageDetails": {
                            "packageTimeSlot": {
                              "slotId": "",
                              "startTime": "2022-03-09T23:30:00Z",
                              "endTime": "2022-03-10T02:00:00Z"
                            }
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Request has missing or invalid parameters and cannot be parsed."
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "amazonOrderId": "",
                          "packageDetails": {
                            "packageTimeSlot": {
                              "slotId": "AQc48yxSAAAAADZG0qQAAAAA6kkAAAAAAAA=",
                              "startTime": "2022-03-09T23:30:00Z",
                              "endTime": "2022-03-10T02:00:00Z"
                            }
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "ResourceNotFound",
                        "message": "The specified resource (for example, `AmazonOrderId` or `MarketplaceId`) does not exist."
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "easyShip"
        ],
        "description": "更新用于移交由指定的 “scheduledpackageid” 指示的包的时隙。您可以通过在进行另一个 'patch' 调用之前调用 'listHandoverSlots' 操作来获取时隙的新 'slotId' 值。\n\n请参阅 [市场支持表](doc:easyship-api-v2022-03-23-use-case-guide # Marketplace-Support-Table) 中的 ** 更新包 ** 列，了解哪些市场支持此操作。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 1 | 5 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制] (文档: Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "updateScheduledPackages",
        "parameters": [
          {
            "name": "UpdateScheduledPackagesRequest",
            "description": "“Updatescheduledpackages” 操作的请求架构。",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/UpdateScheduledPackagesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "marketplaceId": "A21TJRUUN4KGV",
                        "updatePackageDetailsList": [
                          {
                            "scheduledPackageId": {
                              "amazonOrderId": "903-1713775-3598252",
                              "packageId": "1ab0f06a-9149-87e0-aba9-7098117872d6"
                            },
                            "packageTimeSlot": {
                              "slotId": "AQc48yxSAAAAADZG0qQAAAAA6kkAAAAAAAA=",
                              "startTime": "2022-03-09T23:30:00Z",
                              "endTime": "2022-03-10T02:00:00Z"
                            }
                          }
                        ]
                      }
                    }
                  },
                  "response": {
                    "packages": [
                      {
                        "scheduledPackageId": {
                          "amazonOrderId": "903-1713775-3598252",
                          "packageId": "1ab0f06a-9149-87e0-aba9-7098117872d6"
                        },
                        "packageDimensions": {
                          "length": 12,
                          "width": 12,
                          "height": 12,
                          "unit": "Cm"
                        },
                        "packageWeight": {
                          "value": 23,
                          "unit": "G"
                        },
                        "packageTimeSlot": {
                          "slotId": "AQc48yxSAAAAADZG0qQAAAAA6kkAAAAAAAA=",
                          "startTime": "2022-03-09T23:30:00Z",
                          "endTime": "2022-03-10T02:00:00Z"
                        },
                        "packageIdentifier": "Scheduled",
                        "packageStatus": "ReadyForPickup"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/Packages"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "marketplaceId": "",
                          "updatePackageDetailsList": [
                            {
                              "scheduledPackageId": {
                                "amazonOrderId": "903-1713775-3598252",
                                "packageId": "1ab0f06a-9149-87e0-aba9-7098117872d6"
                              },
                              "packageTimeSlot": {
                                "slotId": "",
                                "startTime": "2022-03-09T23:30:00Z",
                                "endTime": "2022-03-10T02:00:00Z"
                              }
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Request has missing or invalid parameters and cannot be parsed."
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "marketplaceId": "A21TJRUUN4KGV",
                          "updatePackageDetailsList": [
                            {
                              "scheduledPackageId": {
                                "amazonOrderId": "",
                                "packageId": "1ab0f06a-9149-87e0-aba9-7098117872d6"
                              },
                              "packageTimeSlot": {
                                "slotId": "AQc48yxSAAAAADZG0qQAAAAA6kkAAAAAAAA=",
                                "startTime": "2022-03-09T23:30:00Z",
                                "endTime": "2022-03-10T02:00:00Z"
                              }
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "ResourceNotFound",
                        "message": "The specified resource (for example, `AmazonOrderId` or `MarketplaceId`) does not exist."
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "marketplaceId": "A21TJRUUN4KGV",
                          "updatePackageDetailsList": [
                            {
                              "scheduledPackageId": {
                                "amazonOrderId": "905-1713775-3598252",
                                "packageId": "1ab0f06a-9149-87e0-aba9-7098117872d6"
                              },
                              "packageTimeSlot": {
                                "slotId": "AQc48yxSAAAAADZG0qQAAAAA6kkAAAAAAAA=",
                                "startTime": "2022-03-09T23:30:00Z",
                                "endTime": "2022-03-10T02:00:00Z"
                              }
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "ScheduleWindowExpired",
                        "message": "The selected time slot has expired."
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    },
    "/easyShip/2022-03-23/packages/bulk": {
      "post": {
        "tags": [
          "easyShip"
        ],
        "description": "此操作会自动为所有指定的 “amazonorderid” 值安排一个时间段，并根据市场生成关联的运输标签和合规性文档。有关详细信息，请参阅 [市场支持表](https:// developer-docs.amazon.com/sp-api/docs/easyship-api-v2022-03-23-use-case-guide # marketplace-support-table)。\n\n您可以选择分配一个 “packagedetails” 对象，以便为您的请求中的每个订单输入一个首选时间段。在这种情况下，Amazon使用指定的可选设置计划相应的软件包。如果您未指定时隙，Amazon将分配最早的可用时隙。\n\n您可以为运输标签的文件格式选择PDF或ZPL，Amazon会相应地创建标签。\n\n此操作返回一个包含计划包的数组和一个可用于访问ZIP文件的临时URL。ZIP文件包括生成的运输标签和您的市场所需的任何其他文档。如果无法安排订单，Amazon会在响应中添加 “rejectedorders” 列表。响应包含每个无法处理的订单的条目。每个条目都包含一条描述失败原因的错误消息。\n\n下表包含支持的请求和突发最大速率:\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 1 | 5 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表包含此操作的默认速率和突发值。其业务需求需要更高吞吐量的销售合作伙伴可能具有比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "createScheduledPackageBulk",
        "parameters": [
          {
            "name": "CreateScheduledPackagesRequest",
            "description": "“Createscheduledpackagebulk” 操作的请求架构。",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateScheduledPackagesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "marketplaceId": "A2XZLSVIQ0F4JT",
                          "orderScheduleDetailsList": [
                            {
                              "amazonOrderId": "903-1713775-3598252",
                              "packageDetails": {
                                "packageItems": [
                                  {
                                    "orderItemId": "6195931986885",
                                    "orderItemSerialNumbers": [
                                      "ABCDE1234",
                                      "56789FGHI"
                                    ]
                                  }
                                ],
                                "packageTimeSlot": {
                                  "slotId": "AQc48yxSAAAAADZG0qQAAAAA6kkAAAAAAAA=",
                                  "startTime": "2022-03-09T23:30:00Z",
                                  "endTime": "2022-03-10T02:00:00Z",
                                  "handoverMethod": "Pickup"
                                },
                                "packageIdentifier": "1ab0f06a-9149-87e0-aba9-7098117872d6"
                              }
                            },
                            {
                              "amazonOrderId": "903-5645781-4567521"
                            },
                            {
                              "amazonOrderId": "951-9026094-1233333"
                            }
                          ],
                          "labelFormat": "ZPL"
                        }
                      }
                    }
                  },
                  "response": {
                    "scheduledPackages": [
                      {
                        "scheduledPackageId": {
                          "amazonOrderId": "903-1713775-3598252",
                          "packageId": "1ab0f06a-9149-87e0-aba9-7098117872d6"
                        },
                        "packageTimeSlot": {
                          "startTime": "2022-03-09T23:30:00Z",
                          "endTime": "2022-03-10T02:00:00Z"
                        },
                        "packageDimensions": {
                          "length": 5.905511805,
                          "width": 3.6220472404,
                          "height": 3.4645669256,
                          "unit": "IN",
                          "identifier": "IN_SuggestedContainerDimension"
                        },
                        "packageWeight": {
                          "value": 11.466,
                          "unit": "ounces"
                        },
                        "packageStatus": "ReadyForPickup",
                        "trackingDetails": {
                          "trackingId": "1652969339691"
                        }
                      },
                      {
                        "scheduledPackageId": {
                          "amazonOrderId": "903-5645781-4567521",
                          "packageId": "80c06e53-3d96-f13f-30ca-85b50b1cb4ce"
                        },
                        "packageTimeSlot": {
                          "startTime": "2022-05-21T06:08:52.036Z",
                          "endTime": "2022-05-21T10:08:52.036Z"
                        },
                        "packageDimensions": {
                          "length": 5.905511805,
                          "width": 3.6220472404,
                          "height": 3.4645669256,
                          "unit": "IN",
                          "identifier": "IN_SuggestedContainerDimension"
                        },
                        "packageWeight": {
                          "value": 11.466,
                          "unit": "ounces"
                        },
                        "packageStatus": "ReadyForPickup",
                        "trackingDetails": {
                          "trackingId": "1652969339693"
                        }
                      }
                    ],
                    "rejectedOrders": [
                      {
                        "amazonOrderId": "951-9026094-1233333",
                        "error": {
                          "code": "InvalidInput",
                          "message": "Couldn't find the order details for 951-9026094-1233333"
                        }
                      }
                    ],
                    "printableDocumentsUrl": "https://www.amazon.com/documents.zip"
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/CreateScheduledPackagesResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "marketplaceId": "A2XZLSVIQ0F4JT",
                          "labelFormat": "ZPL"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Request has missing or invalid parameters and cannot be parsed."
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "marketplaceId": "an-invalid-marketplace-id",
                          "orderScheduleDetailsList": [
                            {
                              "amazonOrderId": "903-1713775-3598200"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Request has missing or invalid parameters and cannot be parsed."
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "PackageIdentifier": {
      "description": "可选的卖方创建的标识符，打印在运输标签上，以帮助卖方识别包裹。",
      "type": "string"
    },
    "PackageStatus": {
      "description": "包的状态。",
      "type": "string",
      "enum": [
        "ReadyForPickup",
        "PickedUp",
        "AtOriginFC",
        "AtDestinationFC",
        "Delivered",
        "Rejected",
        "Undeliverable",
        "ReturnedToSeller",
        "LostInTransit",
        "LabelCanceled",
        "DamagedInTransit",
        "OutForDelivery"
      ],
      "x-docgen-enum-table-extension": [
        {
          "value": "ReadyForPickup",
          "description": "包裹准备好了。"
        },
        {
          "value": "PickedUp",
          "description": "包裹已被取走。"
        },
        {
          "value": "AtOriginFC",
          "description": "该包位于其origin履行中心。"
        },
        {
          "value": "AtDestinationFC",
          "description": "该包位于其目的地履行中心。"
        },
        {
          "value": "Delivered",
          "description": "包裹已送达。"
        },
        {
          "value": "Rejected",
          "description": "该软件包已被拒绝。"
        },
        {
          "value": "Undeliverable",
          "description": "该包无法交付。"
        },
        {
          "value": "ReturnedToSeller",
          "description": "包裹已经退回给卖家了。"
        },
        {
          "value": "LostInTransit",
          "description": "包裹在运输途中丢失了。"
        },
        {
          "value": "LabelCanceled",
          "description": "包的标签已被取消。"
        },
        {
          "value": "DamagedInTransit",
          "description": "包裹在运输途中损坏了。"
        },
        {
          "value": "OutForDelivery",
          "description": "包裹已寄出。"
        }
      ]
    },
    "PackageId": {
      "type": "string",
      "description": "计划包的Amazon定义的标识符。"
    },
    "TrackingDetails": {
      "description": "跟踪元数据的表示形式。",
      "type": "object",
      "properties": {
        "trackingId": {
          "description": "计划包的跟踪标识符。",
          "$ref": "#/definitions/String"
        }
      }
    },
    "HandoverMethod": {
      "description": "标识卖家将包裹移交给亚马逊物流的方法。",
      "type": "string",
      "enum": [
        "Pickup",
        "Dropoff"
      ],
      "x-docgen-enum-table-extension": [
        {
          "value": "Pickup",
          "description": "亚马逊物流承运人将从卖家的取件地址取件包裹。"
        },
        {
          "value": "Dropoff",
          "description": "卖方将需要放弃包 (s) 到指定的位置。"
        }
      ]
    },
    "OrderScheduleDetails": {
      "description": "此对象允许用户指定要计划的订单。仅需要amazonOrderId。",
      "type": "object",
      "required": [
        "amazonOrderId"
      ],
      "properties": {
        "amazonOrderId": {
          "$ref": "#/definitions/AmazonOrderId"
        },
        "packageDetails": {
          "$ref": "#/definitions/PackageDetails"
        }
      }
    },
    "AmazonOrderId": {
      "type": "string",
      "description": "Amazon定义的订单标识符。标识卖家希望使用Amazon Easy Ship交付的订单。"
    },
    "Dimension": {
      "description": "指定尺寸的数值。",
      "type": "number",
      "format": "float",
      "minimum": 0.01
    },
    "Dimensions": {
      "type": "object",
      "description": "计划包的尺寸。",
      "properties": {
        "length": {
          "description": "长度尺寸。",
          "$ref": "#/definitions/Dimension"
        },
        "width": {
          "description": "宽度尺寸。",
          "$ref": "#/definitions/Dimension"
        },
        "height": {
          "description": "高度尺寸。",
          "$ref": "#/definitions/Dimension"
        },
        "unit": {
          "$ref": "#/definitions/UnitOfLength"
        },
        "identifier": {
          "description": "自定义包维度的标识符。",
          "$ref": "#/definitions/String"
        }
      }
    },
    "ListHandoverSlotsRequest": {
      "description": "“Listhandoverslots” 操作的请求架构。",
      "type": "object",
      "required": [
        "marketplaceId",
        "amazonOrderId",
        "packageDimensions",
        "packageWeight"
      ],
      "properties": {
        "marketplaceId": {
          "$ref": "#/definitions/String"
        },
        "amazonOrderId": {
          "$ref": "#/definitions/AmazonOrderId"
        },
        "packageDimensions": {
          "$ref": "#/definitions/Dimensions"
        },
        "packageWeight": {
          "$ref": "#/definitions/Weight"
        }
      }
    },
    "ListHandoverSlotsResponse": {
      "description": "“Listhandoverslots” 操作的响应架构。",
      "type": "object",
      "required": [
        "amazonOrderId",
        "timeSlots"
      ],
      "properties": {
        "amazonOrderId": {
          "$ref": "#/definitions/AmazonOrderId"
        },
        "timeSlots": {
          "$ref": "#/definitions/TimeSlots"
        }
      }
    },
    "InvoiceData": {
      "type": "object",
      "description": "发票编号和日期。",
      "required": [
        "invoiceNumber"
      ],
      "properties": {
        "invoiceNumber": {
          "description": "发票编号。",
          "$ref": "#/definitions/String"
        },
        "invoiceDate": {
          "description": "生成发票的日期。",
          "$ref": "#/definitions/DateTime"
        }
      }
    },
    "Item": {
      "description": "项目标识符和序列号信息。",
      "type": "object",
      "properties": {
        "orderItemId": {
          "$ref": "#/definitions/OrderItemId"
        },
        "orderItemSerialNumbers": {
          "$ref": "#/definitions/OrderItemSerialNumbers"
        }
      }
    },
    "Items": {
      "description": "包中包含的项的列表。",
      "type": "array",
      "items": {
        "$ref": "#/definitions/Item"
      },
      "maxItems": 500
    },
    "OrderItemId": {
      "type": "string",
      "description": "Amazon定义的订单项目标识符。",
      "maxLength": 255
    },
    "OrderItemSerialNumber": {
      "description": "与 “orderitemid” 值关联的项的序列号。",
      "type": "string",
      "maxLength": 255
    },
    "OrderItemSerialNumbers": {
      "type": "array",
      "description": "与 “orderitemid” 值关联的项目的序列号列表。",
      "items": {
        "$ref": "#/definitions/OrderItemSerialNumber"
      },
      "maxItems": 100
    },
    "Package": {
      "description": "此对象包含计划的Easy Ship包的所有详细信息。",
      "type": "object",
      "required": [
        "packageDimensions",
        "packageTimeSlot",
        "packageWeight",
        "scheduledPackageId"
      ],
      "properties": {
        "scheduledPackageId": {
          "$ref": "#/definitions/ScheduledPackageId"
        },
        "packageDimensions": {
          "$ref": "#/definitions/Dimensions"
        },
        "packageWeight": {
          "$ref": "#/definitions/Weight"
        },
        "packageItems": {
          "$ref": "#/definitions/Items"
        },
        "packageTimeSlot": {
          "$ref": "#/definitions/TimeSlot"
        },
        "packageIdentifier": {
          "$ref": "#/definitions/PackageIdentifier"
        },
        "invoice": {
          "$ref": "#/definitions/InvoiceData"
        },
        "packageStatus": {
          "$ref": "#/definitions/PackageStatus"
        },
        "trackingDetails": {
          "$ref": "#/definitions/TrackingDetails"
        }
      }
    },
    "Packages": {
      "description": "包的列表。",
      "type": "object",
      "required": [
        "packages"
      ],
      "properties": {
        "packages": {
          "description": "包的列表。",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Package"
          },
          "maxItems": 500,
          "minItems": 1
        }
      }
    },
    "PackageDetails": {
      "description": "包详细信息。包括 “packageitems” 、 “packagetimeslot” 和 “packageidentifier”。",
      "type": "object",
      "required": [
        "packageTimeSlot"
      ],
      "properties": {
        "packageItems": {
          "$ref": "#/definitions/Items"
        },
        "packageTimeSlot": {
          "$ref": "#/definitions/TimeSlot"
        },
        "packageIdentifier": {
          "$ref": "#/definitions/PackageIdentifier"
        }
      }
    },
    "RejectedOrder": {
      "description": "我们不能代表你安排的订单。它包含其id和有关错误的信息。",
      "type": "object",
      "required": [
        "amazonOrderId"
      ],
      "properties": {
        "amazonOrderId": {
          "$ref": "#/definitions/AmazonOrderId"
        },
        "error": {
          "$ref": "#/definitions/Error"
        }
      }
    },
    "TimeSlot": {
      "type": "object",
      "description": "一个时间窗口，将一个轻松的运输包裹移交给亚马逊物流。",
      "required": [
        "slotId"
      ],
      "properties": {
        "slotId": {
          "description": "Amazon定义的时隙标识符。",
          "$ref": "#/definitions/String"
        },
        "startTime": {
          "description": "时隙的开始日期和时间。",
          "$ref": "#/definitions/DateTime"
        },
        "endTime": {
          "description": "时隙的结束日期和时间。",
          "$ref": "#/definitions/DateTime"
        },
        "handoverMethod": {
          "description": "卖家将包裹移交给亚马逊物流的方法。",
          "$ref": "#/definitions/HandoverMethod"
        }
      }
    },
    "TimeSlots": {
      "description": "时隙列表。",
      "type": "array",
      "items": {
        "$ref": "#/definitions/TimeSlot"
      },
      "maxItems": 500,
      "minItems": 1
    },
    "ScheduledPackageId": {
      "type": "object",
      "description": "标识要更新的计划包。",
      "required": [
        "amazonOrderId"
      ],
      "properties": {
        "amazonOrderId": {
          "$ref": "#/definitions/AmazonOrderId"
        },
        "packageId": {
          "$ref": "#/definitions/PackageId"
        }
      }
    },
    "CreateScheduledPackageRequest": {
      "description": "“Createscheduledpackage” 操作的请求架构。",
      "type": "object",
      "required": [
        "amazonOrderId",
        "marketplaceId",
        "packageDetails"
      ],
      "properties": {
        "amazonOrderId": {
          "$ref": "#/definitions/AmazonOrderId"
        },
        "marketplaceId": {
          "$ref": "#/definitions/String"
        },
        "packageDetails": {
          "$ref": "#/definitions/PackageDetails"
        }
      }
    },
    "UpdateScheduledPackagesRequest": {
      "description": "“Updatescheduledpackages” 操作的请求架构。",
      "type": "object",
      "required": [
        "marketplaceId",
        "updatePackageDetailsList"
      ],
      "properties": {
        "marketplaceId": {
          "$ref": "#/definitions/String"
        },
        "updatePackageDetailsList": {
          "$ref": "#/definitions/UpdatePackageDetailsList"
        }
      }
    },
    "UpdatePackageDetails": {
      "description": "请求更新包的时隙。",
      "type": "object",
      "required": [
        "packageTimeSlot",
        "scheduledPackageId"
      ],
      "properties": {
        "scheduledPackageId": {
          "$ref": "#/definitions/ScheduledPackageId"
        },
        "packageTimeSlot": {
          "$ref": "#/definitions/TimeSlot"
        }
      }
    },
    "UpdatePackageDetailsList": {
      "description": "包更新详细信息的列表。",
      "type": "array",
      "items": {
        "$ref": "#/definitions/UpdatePackageDetails"
      },
      "maxItems": 500,
      "minItems": 1
    },
    "String": {
      "description": "最多包含255个字符的字符串。",
      "type": "string",
      "maxLength": 255,
      "minLength": 1
    },
    "DateTime": {
      "description": "ISO 8601格式的datetime值。",
      "type": "string",
      "format": "date-time"
    },
    "UnitOfLength": {
      "description": "用于测量长度的测量单位。",
      "type": "string",
      "enum": [
        "Cm"
      ],
      "x-docgen-enum-table-extension": [
        {
          "value": "Cm",
          "description": "厘米"
        }
      ]
    },
    "UnitOfWeight": {
      "description": "用于测量重量的测量单位。",
      "type": "string",
      "enum": [
        "Grams",
        "G"
      ],
      "x-docgen-enum-table-extension": [
        {
          "value": "Grams",
          "description": "克"
        },
        {
          "value": "G",
          "description": "克"
        }
      ]
    },
    "CreateScheduledPackagesRequest": {
      "description": "POST /easyShip/2022/packages/bulk API的请求正文。",
      "type": "object",
      "required": [
        "marketplaceId",
        "orderScheduleDetailsList",
        "labelFormat"
      ],
      "properties": {
        "marketplaceId": {
          "$ref": "#/definitions/String"
        },
        "orderScheduleDetailsList": {
          "description": "允许用户指定要计划的订单的数组。",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OrderScheduleDetails"
          },
          "minItems": 1
        },
        "labelFormat": {
          "$ref": "#/definitions/LabelFormat"
        }
      }
    },
    "CreateScheduledPackagesResponse": {
      "description": "批量调度API的响应架构。它通过批量计划API返回，其中包含计划的包装数组，我们无法计划的原因的可选订单列表，以及包含关联的运输标签以及为您的市场启用的文档的ZIP文件的预签名URL。",
      "type": "object",
      "properties": {
        "scheduledPackages": {
          "description": "包的列表。参考 “package” 对象。",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Package"
          },
          "maxItems": 100
        },
        "rejectedOrders": {
          "description": "我们无法代表您安排的订单列表。每个元素都包含错误的原因和详细信息。",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RejectedOrder"
          }
        },
        "printableDocumentsUrl": {
          "$ref": "#/definitions/URL"
        }
      }
    },
    "URL": {
      "description": "zip文档的预签名URL，其中包含为您的市场启用的发货标签和文档。",
      "type": "string"
    },
    "LabelFormat": {
      "description": "将用于创建发货标签的文件格式。",
      "type": "string",
      "enum": [
        "PDF",
        "ZPL"
      ]
    },
    "Weight": {
      "type": "object",
      "description": "预定包装的重量",
      "properties": {
        "value": {
          "$ref": "#/definitions/WeightValue"
        },
        "unit": {
          "$ref": "#/definitions/UnitOfWeight"
        }
      }
    },
    "WeightValue": {
      "description": "包裹的重量。",
      "type": "number",
      "format": "float",
      "minimum": 11
    },
    "ErrorList": {
      "type": "object",
      "description": "请求不成功时返回的错误响应列表。",
      "required": [
        "errors"
      ],
      "properties": {
        "errors": {
          "description": "请求不成功时返回的错误响应列表。",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      }
    },
    "Error": {
      "description": "请求不成功时返回的错误响应。",
      "properties": {
        "code": {
          "description": "标识发生的错误类型的错误代码。",
          "type": "string"
        },
        "message": {
          "description": "描述错误情况的消息。",
          "type": "string"
        },
        "details": {
          "description": "可以帮助呼叫者了解或解决问题的其他详细信息。",
          "type": "string"
        }
      },
      "required": [
        "code",
        "message"
      ],
      "type": "object"
    },
    "Code": {
      "description": "标识发生的错误类型的错误代码。下面列出的错误代码特定于Easy Ship部分。",
      "type": "string",
      "enum": [
        "InvalidInput",
        "InvalidTimeSlotId",
        "ScheduledPackageAlreadyExists",
        "ScheduleWindowExpired",
        "RetryableAfterGettingNewSlots",
        "TimeSlotNotAvailable",
        "ResourceNotFound",
        "InvalidOrderState",
        "RegionNotSupported",
        "OrderNotEligibleForRescheduling",
        "InternalServerError"
      ],
      "x-docgen-enum-table-extension": [
        {
          "value": "InvalidInput",
          "description": "HTTP状态代码400。请求缺少参数或参数无效，无法处理。"
        },
        {
          "value": "InvalidTimeSlotId",
          "description": "HTTP状态代码400。指定的时隙标识符无效。"
        },
        {
          "value": "ScheduledPackageAlreadyExists",
          "description": "HTTP状态代码400。订单已经安排好了。"
        },
        {
          "value": "ScheduleWindowExpired",
          "description": "HTTP状态代码400。所选时隙已过期。尝试再次调用 'listHandoverSlots' 以获得新的时隙。"
        },
        {
          "value": "RetryableAfterGettingNewSlots",
          "description": "HTTP状态代码400。由于所选时段出现问题，订单计划已失败。如果您看到此错误，请请求一个新的时隙，然后再次尝试安排。"
        },
        {
          "value": "TimeSlotNotAvailable",
          "description": "HTTP状态代码404。由于各种因素，例如: 无效的重量和尺寸参数，或者可用的时隙仅在预期的取消日期之后可用。"
        },
        {
          "value": "ResourceNotFound",
          "description": "HTTP状态代码404。指定的资源 (例如，“amazonorderid” 或 “marketplaceid”) 不存在。"
        },
        {
          "value": "InvalidOrderState",
          "description": "HTTP状态代码404。请求无法应用于处于当前状态的订单。例如，您不能取消尚未计划或已取消的订单。"
        },
        {
          "value": "RegionNotSupported",
          "description": "HTTP状态代码404。指定的市场不支持Amazon Easy Ship。"
        },
        {
          "value": "OrderNotEligibleForRescheduling",
          "description": "HTTP状态代码405。订单不符合重新安排的条件。"
        },
        {
          "value": "InternalServerError",
          "description": "HTTP状态代码500。内部服务出现故障。"
        }
      ]
    }
  }
}