{
  "swagger": "2.0",
  "info": {
    "description": "Data Kiosk的销售合作伙伴API允许您从各种模式提交GraphQL查询，以帮助销售合作伙伴管理其业务。",
    "version": "2023-11-15",
    "title": "Selling Partner API for Data Kiosk",
    "contact": {
      "name": "销售合作伙伴API开发人员支持",
      "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
    },
    "license": {
      "name": "Apache许可证2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "sellingpartnerapi-na.amazon.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/dataKiosk/2023-11-15/queries": {
      "get": {
        "tags": [
          "queries"
        ],
        "operationId": "getQueries",
        "description": "返回与指定筛选器匹配的数据亭查询的详细信息。有关查询保留的详细信息，请参阅 “createquery” 操作。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 0.0222 | 10 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "parameters": [
          {
            "name": "processingStatuses",
            "in": "query",
            "description": "用于筛选查询的处理状态列表。",
            "required": false,
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "enum": [
                "CANCELLED",
                "DONE",
                "FATAL",
                "IN_PROGRESS",
                "IN_QUEUE"
              ],
              "x-docgen-enum-table-extension": [
                {
                  "value": "CANCELLED",
                  "description": "查询在开始处理之前已被取消。"
                },
                {
                  "value": "DONE",
                  "description": "查询已完成处理。"
                },
                {
                  "value": "FATAL",
                  "description": "由于发生致命错误，查询已中止。"
                },
                {
                  "value": "IN_PROGRESS",
                  "description": "正在处理查询。"
                },
                {
                  "value": "IN_QUEUE",
                  "description": "查询尚未开始处理。它可能正在等待另一个 “IN_PROGRESS” 查询。"
                }
              ]
            }
          },
          {
            "name": "页面大小",
            "in": "query",
            "description": "在单次调用中返回的最大查询数。",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 10
          },
          {
            "name": "createdSince",
            "in": "query",
            "description": "要包含在响应中的查询的最早查询创建日期和时间，采用ISO 8601日期时间格式。默认值为90天前。",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "createdUntil",
            "in": "query",
            "description": "要包含在响应中的查询的最新查询创建日期和时间，采用ISO 8601日期时间格式。默认值为 “getqueries” 请求的时间。",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "paginationToken",
            "in": "query",
            "description": "当有多页结果可用时，用于获取某一页结果的令牌。此标记的值是从 “getqueriesresponse” 对象中返回的 “pagination.Nexttoken” 字段中获取的。必须为所有其他参数提供与生成此令牌的请求一起提供的值相同的值，但 “pagesize” 除外，它可以在调用 “getqueries” 之间进行修改。如果没有此标记值，“getqueries” 将返回结果的第一页。",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/GetQueriesResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "pageSize": {
                        "value": 1
                      },
                      "processingStatuses": {
                        "value": [
                          "DONE",
                          "IN_PROGRESS"
                        ]
                      }
                    }
                  },
                  "response": {
                    "pagination": {
                      "nextToken": "NextToken1"
                    },
                    "queries": [
                      {
                        "queryId": "QueryId1",
                        "query": "query {sampleQuery(startDate:\"2023-03-01\" endDate:\"2023-03-31\" marketplaceIds:[\"ATVPDKIKX0DER\"]){sales{date averageSellingPrice{amount currencyCode}}}}",
                        "createdTime": "2023-12-11T13:47:20.677Z",
                        "processingStatus": "DONE",
                        "processingStartTime": "2023-12-11T13:47:20.677Z",
                        "processingEndTime": "2023-12-11T14:47:20.677Z",
                        "dataDocumentId": "DocumentId1"
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "pageSize": {
                        "value": 1
                      },
                      "processingStatuses": {
                        "value": [
                          "DONE",
                          "IN_PROGRESS"
                        ]
                      },
                      "paginationToken": {
                        "value": "NextToken1"
                      }
                    }
                  },
                  "response": {
                    "queries": [
                      {
                        "queryId": "QueryId2",
                        "query": "query {sampleQuery(startDate:\"2023-04-01\" endDate:\"2023-04-30\" marketplaceIds:[\"ATVPDKIKX0DER\"]){sales{date averageSellingPrice{amount currencyCode}}}}",
                        "createdTime": "2023-12-12T13:47:20.677Z",
                        "processingStatus": "IN_PROGRESS",
                        "processingStartTime": "2023-12-12T13:47:20.677Z"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "processingStatuses": {
                        "value": [
                          "INVALID_STATUS"
                        ]
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "1 validation error detected: Value '[INVALID_STATUS]' at 'processingStatuses' failed to satisfy constraint: Member must satisfy constraint: [Member must satisfy enum value set: [DONE, FATAL, IN_PROGRESS, CANCELLED, IN_QUEUE]]",
                        "details": ""
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "queries"
        ],
        "operationId": "createQuery",
        "description": "创建数据Kiosk查询请求。\n\n** 注意: ** 查询的保留根据请求的字段而有所不同。架构中的每个字段都使用 “@ resultretention” 指令进行注释，该指令定义包含该字段的查询将保留多长时间。当查询包含具有不同保留的多个字段时，将应用最短 (最小) 保留。查询生成的文档的保留始终与查询的保留相匹配。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 0.0167 | 15 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "parameters": [
          {
            "name": "车身",
            "in": "body",
            "description": "请求的正文。",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateQuerySpecification"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/CreateQueryResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "query": "query {sampleQuery(startDate:\"2023-03-01\" endDate:\"2023-03-31\" marketplaceIds:[\"ATVPDKIKX0DER\"]){sales{date averageSellingPrice{amount currencyCode}}}}"
                        }
                      }
                    }
                  },
                  "response": {
                    "queryId": "QueryId1"
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "query": "query {invalidSampleQuery(startDate:\"2023-03-01\" endDate:\"2023-03-31\" marketplaceIds:[\"ATVPDKIKX0DER\"]){sales{date averageSellingPrice{amount currencyCode}}}}"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "The provided query is invalid.",
                        "details": "Query 'invalidSampleQuery' is not supported."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/dataKiosk/2023-11-15/queries/{queryId}": {
      "delete": {
        "tags": [
          "queries"
        ],
        "operationId": "cancelQuery",
        "description": "取消由 “queryid” 参数指定的查询。只能取消具有非终端 “processingstatus” (“IN_QUEUE” 、 “IN_PROGRESS”) 的查询。取消已经具有 “processingstatus” 为 “cancelled” 的查询将无操作。在对 “getquery” 和 “getqueries” 操作的后续调用中返回取消的查询。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 0.0222 | 10 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "parameters": [
          {
            "name": "queryId",
            "in": "path",
            "description": "查询的标识符。此标识符仅在与销售合作伙伴帐户ID组合时是唯一的。",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "成功。",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "queryId": {
                        "value": "QueryId1"
                      }
                    }
                  },
                  "response": {}
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "queryId": {
                        "value": "InvalidQueryId1"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid input",
                        "details": "Invalid input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "queryId": {
                        "value": "NotFoundQueryId1"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "NotFound",
                        "message": "The provided queryId was not found."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "queries"
        ],
        "operationId": "getQuery",
        "description": "返回由 “queryid” 参数指定的查询详细信息。有关查询保留的详细信息，请参阅 “createquery” 操作。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2.0 | 15 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "parameters": [
          {
            "name": "queryId",
            "in": "path",
            "required": true,
            "description": "查询标识符。",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "queryId": {
                        "value": "QueryId1"
                      }
                    }
                  },
                  "response": {
                    "queryId": "QueryId1",
                    "query": "query {sampleQuery(startDate:\"2023-03-01\" endDate:\"2023-03-31\" marketplaceIds:[\"ATVPDKIKX0DER\"]){sales{date averageSellingPrice{amount currencyCode}}}}",
                    "createdTime": "2023-12-11T13:47:20.677Z",
                    "processingStatus": "DONE",
                    "processingStartTime": "2023-12-11T13:47:20.677Z",
                    "processingEndTime": "2023-12-11T14:47:20.677Z",
                    "dataDocumentId": "DocumentId1"
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "queryId": {
                        "value": "InvalidQueryId1"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid input",
                        "details": "Invalid input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "queryId": {
                        "value": "NotFoundQueryId1"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "NotFound",
                        "message": "The provided queryId was not found."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/dataKiosk/2023-11-15/documents/{documentId}": {
      "get": {
        "tags": [
          "queries"
        ],
        "description": "返回检索Data Kiosk文档内容所需的信息。有关文档保留的详细信息，请参阅 “createquery” 操作。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 0.0167 | 15 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getDocument",
        "parameters": [
          {
            "name": "文档id",
            "in": "path",
            "description": "数据亭文档的标识符。",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/GetDocumentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "documentId": {
                        "value": "DocumentId1"
                      }
                    }
                  },
                  "response": {
                    "documentId": "DocumentId1",
                    "documentUrl": "https://d34o8swod1owfl.cloudfront.net/QUERY_DATA_OUTPUT_DOC.txt"
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "documentId": {
                        "value": "InvalidDocumentId1"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid input",
                        "details": "Invalid input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "documentId": {
                        "value": "NotFoundDocumentId1"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "NotFound",
                        "message": "The provided documentId was not found."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ErrorList": {
      "type": "object",
      "description": "请求不成功时返回的错误响应列表。",
      "required": [
        "errors"
      ],
      "properties": {
        "errors": {
          "description": "请求不成功时返回的错误响应。",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      }
    },
    "Error": {
      "type": "object",
      "description": "请求不成功时返回的错误响应。",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "string",
          "description": "标识发生的错误类型的错误代码。"
        },
        "message": {
          "type": "string",
          "description": "描述错误情况的消息。"
        },
        "details": {
          "type": "string",
          "description": "可以帮助呼叫者了解或解决问题的其他详细信息。"
        }
      }
    },
    "Query": {
      "type": "object",
      "description": "有关查询的详细信息。",
      "required": [
        "processingStatus",
        "queryId",
        "query",
        "createdTime"
      ],
      "properties": {
        "queryId": {
          "description": "查询标识符。此标识符仅在与销售合作伙伴帐户ID组合时是唯一的。",
          "type": "string"
        },
        "query": {
          "description": "提交的查询。",
          "type": "string"
        },
        "createdTime": {
          "description": "创建查询的日期和时间，采用ISO 8601日期时间格式。",
          "type": "string",
          "format": "date-time"
        },
        "processingStatus": {
          "description": "查询的处理状态。",
          "type": "string",
          "enum": [
            "CANCELLED",
            "DONE",
            "FATAL",
            "IN_PROGRESS",
            "IN_QUEUE"
          ],
          "x-docgen-enum-table-extension": [
            {
              "value": "CANCELLED",
              "description": "查询在开始处理之前已被取消。"
            },
            {
              "value": "DONE",
              "description": "查询已完成处理。"
            },
            {
              "value": "FATAL",
              "description": "由于发生致命错误，查询已中止。"
            },
            {
              "value": "IN_PROGRESS",
              "description": "正在处理查询。"
            },
            {
              "value": "IN_QUEUE",
              "description": "查询尚未开始处理。它可能正在等待另一个 “IN_PROGRESS” 查询。"
            }
          ]
        },
        "processingStartTime": {
          "description": "查询处理开始的日期和时间，采用ISO 8601日期时间格式。",
          "type": "string",
          "format": "date-time"
        },
        "processingEndTime": {
          "description": "查询处理完成的日期和时间，采用ISO 8601日期时间格式。",
          "type": "string",
          "format": "date-time"
        },
        "dataDocumentId": {
          "description": "数据文档标识符。此标识符仅在存在作为查询结果的可用数据时才存在。此标识符仅在与销售合作伙伴帐户ID组合时是唯一的。将此标识符传递到 “getdocument” 操作中，以获取检索数据文档内容所需的信息。",
          "type": "string"
        },
        "errorDocumentId": {
          "description": "错误文档标识符。此标识符仅在查询处理期间发生错误时才存在。此标识符仅在与销售合作伙伴帐户ID组合时是唯一的。将此标识符传递到 “getdocument” 操作中，以获取检索错误文档内容所需的信息。",
          "type": "string"
        },
        "pagination": {
          "type": "object",
          "description": "当查询生成的结果未包含在数据文档中时，将发生分页。这意味着结果被分成页。要检索下一页，您必须传递一个 “createqueryspecification” 对象，其中 “paginationtoken” 设置为此对象的 “nexttoken”，而 “query” 设置为此对象的 “query” 在随后的 “createquery” 请求中。当没有更多要获取的页面时，“nexttoken” 字段将不存在。",
          "properties": {
            "nextToken": {
              "type": "string",
              "description": "可用于获取下一页结果的令牌。"
            }
          }
        }
      }
    },
    "QueryList": {
      "type": "array",
      "description": "查询列表。",
      "items": {
        "$ref": "#/definitions/Query"
      }
    },
    "CreateQuerySpecification": {
      "type": "object",
      "description": "创建查询所需的信息。",
      "required": [
        "query"
      ],
      "properties": {
        "query": {
          "description": "要提交的GraphQL查询。删除不必要的空格后，查询必须最多为8000个字符。",
          "type": "string"
        },
        "paginationToken": {
          "description": "当有多页查询结果可用时，用于获取某一页查询结果的令牌。此标记的值必须从 “query” 对象的 “pagination.Nexttoken” 字段中获取，并且此对象的 “query” 字段也必须设置为同一 “query” 对象的 “query” 字段。可以从 “getqueries” 或 “getquery” 操作中检索 “query” 对象。如果没有此令牌值，将请求查询结果的第一页。",
          "type": "string"
        }
      }
    },
    "CreateQueryResponse": {
      "type": "object",
      "description": "“Createquery” 操作的响应。",
      "required": [
        "queryId"
      ],
      "properties": {
        "queryId": {
          "description": "查询的标识符。此标识符仅在与销售合作伙伴帐户ID组合时是唯一的。",
          "type": "string"
        }
      }
    },
    "GetQueriesResponse": {
      "type": "object",
      "description": "“Getqueries” 操作的响应。",
      "required": [
        "queries"
      ],
      "properties": {
        "queries": {
          "description": "数据亭查询。",
          "$ref": "#/definitions/QueryList"
        },
        "pagination": {
          "type": "object",
          "description": "当请求具有未包含在此响应中的结果时，将发生分页。这意味着结果被分成页。要检索下一页，必须在随后的 “getqueries” 请求中将 “nexttoken” 作为 “paginationtoken” 查询参数传递。必须为所有其他参数提供与生成此令牌的请求一起提供的值相同的值，但 “pagesize” 除外，它可以在调用 “getqueries” 之间进行修改。当没有更多要获取的页面时，“nexttoken” 字段将不存在。",
          "properties": {
            "nextToken": {
              "type": "string",
              "description": "可用于获取下一页结果的令牌。"
            }
          }
        }
      }
    },
    "GetDocumentResponse": {
      "type": "object",
      "description": "“Getdocument” 操作的响应。",
      "required": [
        "documentId",
        "documentUrl"
      ],
      "properties": {
        "documentId": {
          "description": "数据亭文档的标识符。此标识符仅在与销售合作伙伴帐户ID组合时是唯一的。",
          "type": "string"
        },
        "documentUrl": {
          "description": "可用于检索Data Kiosk文档的预签名URL。此URL将在5分钟后过期。如果数据信息亭文档是压缩的，则 “Content-encoding” 标头将指示压缩算法。\n\n** 注意: ** 大多数HTTP客户端都能够根据 “Content-encoding” 标头自动解压缩下载的文件。",
          "type": "string"
        }
      }
    }
  },
  "basePath": "/"
}