{
  "swagger": "2.0",
  "info": {
    "description": "上传API允许您上传文件，您可以使用其他销售合作伙伴API (如内容API和消息传递API) 以编程方式访问这些文件。",
    "version": "2020-11-01",
    "title": "Selling Partner API for Uploads",
    "contact": {
      "name": "Selling Partner API Developer Support",
      "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "sellingpartnerapi-na.amazon.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/uploads/2020-11-01/uploadDestinations/{resource}": {
      "post": {
        "tags": [
          "uploads"
        ],
        "description": "创建上载目标，返回将文件上载到目标以及以编程方式访问该文件所需的信息。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 10 | 10 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "createUploadDestinationForResource",
        "parameters": [
          {
            "name": "marketplaceIds",
            "in": "query",
            "description": "市场标识符的列表。这指定了上传可用的市场。只能指定一个市场。",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 1
          },
          {
            "name": "contentMD5",
            "in": "query",
            "description": "要提交到上载目标的内容的MD5哈希。此值用于确定数据在传输过程中是否已损坏或篡改。",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "path",
            "description": "您正在创建的上传目标的资源。例如，如果要为消息传递API的createLegalDisclosure操作创建上传目标，则 “{resource}” 将为 “/Messaging/v1/orders/{amazonOrderId}/messages/legaldisclosure”，,整个路径将是 '/uploads/2020/uploadDestinations/messaging/v1/orders/{amazonOrderId}/messages/legalDisclosure'。如果要为Aplus内容文档创建上载目标，则 “{resource}” 将为 “aplus/2020-11-01/contentdocuments”，路径将为 “/uploads/v1/uploadDestinations/Aplus/2020-11-01/contentdocuments”。",
            "required": true,
            "type": "string",
            "x-amazon-spds-greedy-path-parameter": true
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "要上传的文件的内容类型。",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/CreateUploadDestinationResponse"
            },
            "examples": {
              "application/json": {
                "payload": {
                  "uploadDestinationId": "5d4e42b5-1d6e-44e8-a89c-2abfca0625bb",
                  "url": "https://s3.amazonaws.com/buyer-seller-messaging-test-draft-attachment-namarketplace/%2F067/5d4e42b5-1d6e-44e8-a89c-2abfca0625bb?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20190701T214102Z&X-Amz-SignedHeaders=content-md5%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Expires=900&X-Amz-Credential=AKIAW5VUA47ENEOYT7RC%2F20190701%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=d4f85c5f1a32a788a8d54e3f00a2a08af45be5b83551cdd81c82ae353dfcdfd4",
                  "headers": {
                    "Content-MD5": "5d41402abc4b2a76b9719d911017c592",
                    "x-amz-server-side-encryption": "aws:kms"
                  }
                }
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/CreateUploadDestinationResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/CreateUploadDestinationResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/CreateUploadDestinationResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/CreateUploadDestinationResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/CreateUploadDestinationResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/CreateUploadDestinationResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/CreateUploadDestinationResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/CreateUploadDestinationResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CreateUploadDestinationResponse": {
      "type": "object",
      "properties": {
        "payload": {
          "$ref": "#/definitions/UploadDestination"
        },
        "errors": {
          "$ref": "#/definitions/ErrorList"
        }
      },
      "description": "createUploadDestination操作的响应架构。"
    },
    "UploadDestination": {
      "type": "object",
      "properties": {
        "uploadDestinationId": {
          "type": "string",
          "description": "上载目标的唯一标识符。"
        },
        "url": {
          "type": "string",
          "description": "上传目标的URL。"
        },
        "headers": {
          "type": "object",
          "description": "要包含在上载请求中的标头。"
        }
      },
      "description": "有关上载目标的信息。"
    },
    "ErrorList": {
      "type": "array",
      "description": "请求不成功时返回的错误响应列表。",
      "items": {
        "$ref": "#/definitions/Error"
      }
    },
    "Error": {
      "type": "object",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "string",
          "description": "标识发生的错误类型的错误代码。"
        },
        "message": {
          "type": "string",
          "description": "以人类可读的形式描述错误情况的消息。"
        },
        "details": {
          "type": "string",
          "description": "可以帮助呼叫者了解或解决问题的其他详细信息。"
        }
      },
      "description": "请求不成功时返回的错误响应。"
    }
  }
}