{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "Selling Partner API Developer Support",
      "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
    },
    "description": "由亚马逊 (FBA) 入站履行的销售合作伙伴API。FBA入站API支持构建入站工作流，以创建、管理货物并将其发送到亚马逊的履行网络。该API与Send-to-Amazon用户界面具有互操作性。",
    "license": {
      "name": "Apache License 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    },
    "title": "Fulfillment Inbound v2024-03-20",
    "version": "2024-03-20"
  },
  "host": "sellingpartnerapi-na.amazon.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/inbound/fba/2024-03-20/inboundPlans": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "要在与给定查询匹配的响应中返回的入站计划的数量。",
            "in": "query",
            "maximum": 30,
            "minimum": 1,
            "name": "pageSize",
            "type": "integer",
            "default": 10
          },
          {
            "description": "当有多个页面的结果时，用于获取某个页面的令牌。此令牌的值是从API响应中返回的 “分页” 中获取的。在没有来自查询参数的令牌值的情况下，API返回结果的第一页。",
            "in": "query",
            "maxLength": 1024,
            "minLength": 0,
            "name": "paginationToken",
            "type": "string"
          },
          {
            "description": "入站计划的状态。",
            "enum": [
              "ACTIVE",
              "VOIDED",
              "SHIPPED"
            ],
            "in": "query",
            "name": "status",
            "type": "string",
            "x-docgen-enum-table-extension": [
              {
                "value": "ACTIVE",
                "description": "正在处理的入站计划。"
              },
              {
                "value": "VOIDED",
                "description": "所有发运已取消且不能再修改的入站计划。"
              },
              {
                "value": "SHIPPED",
                "description": "已完成的入站计划。此时只能进行较小的修改。"
              }
            ]
          },
          {
            "description": "按字段排序。",
            "enum": [
              "LAST_UPDATED_TIME",
              "CREATION_TIME"
            ],
            "in": "query",
            "name": "sortBy",
            "type": "string",
            "x-docgen-enum-table-extension": [
              {
                "value": "LAST_UPDATED_TIME",
                "description": "入站计划的上次更新时间。"
              },
              {
                "value": "CREATION_TIME",
                "description": "入站计划创建时间。"
              }
            ]
          },
          {
            "description": "排序顺序。",
            "enum": [
              "ASC",
              "DESC"
            ],
            "in": "query",
            "name": "sortOrder",
            "type": "string",
            "x-docgen-enum-table-extension": [
              {
                "value": "ASC",
                "description": "升序。"
              },
              {
                "value": "DESC",
                "description": "降序。"
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "ListInboundPlans 200响应",
            "schema": {
              "$ref": "#/definitions/ListInboundPlansResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "status": {
                        "value": "ACTIVE"
                      },
                      "sortBy": {
                        "value": "LAST_UPDATED_TIME"
                      },
                      "sortOrder": {
                        "value": "ASC"
                      },
                      "pageSize": {
                        "value": 2
                      },
                      "paginationToken": {
                        "value": "paginationToken"
                      }
                    }
                  },
                  "response": {
                    "inboundPlans": [
                      {
                        "inboundPlanId": "wf1234abcd-1234-abcd-5678-1234abcd5678",
                        "name": "FBA (03/08/2023, 01:15 PM)",
                        "createdAt": "2023-03-08T13:15:30Z",
                        "lastUpdatedAt": "2023-03-08T13:15:30Z",
                        "status": "ACTIVE",
                        "marketplaceIds": [
                          "A2EUQ1WTGCTBG2"
                        ],
                        "sourceAddress": {
                          "name": "name",
                          "companyName": "Acme",
                          "addressLine1": "123 example street",
                          "addressLine2": "Unit 102",
                          "city": "Toronto",
                          "countryCode": "CA",
                          "stateOrProvinceCode": "ON",
                          "postalCode": "M1M1M1",
                          "phoneNumber": "1234567890",
                          "email": "email@email.com"
                        }
                      },
                      {
                        "inboundPlanId": "wf2234abcd-1234-abcd-5678-1234abcd5678",
                        "name": "FBA (03/08/2023, 01:15 PM)",
                        "createdAt": "2023-03-08T13:15:30Z",
                        "lastUpdatedAt": "2023-03-08T13:15:30Z",
                        "status": "ACTIVE",
                        "marketplaceIds": [
                          "A2EUQ1WTGCTBG2"
                        ],
                        "sourceAddress": {
                          "name": "name",
                          "companyName": "Acme",
                          "addressLine1": "123 example street",
                          "addressLine2": "Unit 102",
                          "city": "Toronto",
                          "countryCode": "CA",
                          "stateOrProvinceCode": "ON",
                          "postalCode": "M1M1M1",
                          "phoneNumber": "1234567890",
                          "email": "email@email.com"
                        }
                      }
                    ],
                    "pagination": {
                      "nextToken": "nextPaginationToken"
                    }
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "status": {
                        "value": "badStatus"
                      },
                      "sortBy": {
                        "value": "LAST_UPDATED_TIME"
                      },
                      "sortOrder": {
                        "value": "ASC"
                      },
                      "pageSize": {
                        "value": 5
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BadRequest",
                        "message": "The status is invalid."
                      }
                    ]
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "Fulfillment Inbound"
        ],
        "description": "提供包含最少信息的入站计划列表。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 6 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表包含此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能具有比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "listInboundPlans",
        "summary": "listInboundPlans"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateInboundPlanRequest"
            },
            "description": "对 “createinboundplan” 的请求的正文。"
          }
        ],
        "responses": {
          "202": {
            "description": "CreateInboundPlan 202响应",
            "schema": {
              "$ref": "#/definitions/CreateInboundPlanResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "name": "FBA (03/20/2024, 12:01 PM)",
                          "sourceAddress": {
                            "name": "name",
                            "companyName": "Acme",
                            "addressLine1": "123 example street",
                            "addressLine2": "Unit 102",
                            "city": "Toronto",
                            "countryCode": "CA",
                            "stateOrProvinceCode": "ON",
                            "postalCode": "M1M1M1",
                            "phoneNumber": "1234567890",
                            "email": "email@email.com"
                          },
                          "destinationMarketplaces": [
                            "A2EUQ1WTGCTBG2"
                          ],
                          "items": [
                            {
                              "msku": "msku",
                              "prepOwner": "AMAZON",
                              "labelOwner": "AMAZON",
                              "quantity": 2,
                              "expiration": "2024-01-01",
                              "manufacturingLotCode": "lotCode"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "inboundPlanId": "wf1234abcd-1234-abcd-5678-1234abcd5678",
                    "operationId": "1234abcd-1234-abcd-5678-1234abcd5678"
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "name": "FBA (03/20/2024, 12:01 PM)",
                          "sourceAddress": {
                            "name": "name",
                            "companyName": "Acme",
                            "addressLine1": "123 example street",
                            "addressLine2": "Unit 102",
                            "city": "Toronto",
                            "countryCode": "CA",
                            "stateOrProvinceCode": "ON",
                            "postalCode": "M1M1M1",
                            "phoneNumber": "1234567890",
                            "email": "email@email.com"
                          },
                          "destinationMarketplaces": [
                            "badMarketplace"
                          ],
                          "items": [
                            {
                              "msku": "msku",
                              "prepOwner": "AMAZON",
                              "labelOwner": "AMAZON",
                              "quantity": 2,
                              "expiration": "2024-01-01",
                              "manufacturingLotCode": "lotCode"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BadRequest",
                        "message": "Invalid destinationMarketplace provided."
                      }
                    ]
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "Fulfillment Inbound"
        ],
        "description": "创建入站计划。入站计划包含将货件发送到亚马逊的fufil件网络的所有必要信息。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 2 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表包含此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能具有比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "createInboundPlan",
        "summary": "createInboundPlan"
      }
    },
    "/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "入站计划的标识符。",
            "in": "path",
            "maxLength": 38,
            "minLength": 38,
            "name": "inboundPlanId",
            "pattern": "^[a-zA-Z0-9-]*$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "GetInboundPlan 200响应",
            "schema": {
              "$ref": "#/definitions/InboundPlan"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                      }
                    }
                  },
                  "response": {
                    "inboundPlanId": "wf1234abcd-1234-abcd-5678-1234abcd5678",
                    "name": "FBA (03/20/2024, 12:01 PM)",
                    "createdAt": "2024-03-20T12:01:00Z",
                    "lastUpdatedAt": "2024-03-28T13:15:30Z",
                    "status": "ACTIVE",
                    "marketplaceIds": [
                      "A2EUQ1WTGCTBG2"
                    ],
                    "packingOptions": [],
                    "placementOptions": [],
                    "shipments": [],
                    "sourceAddress": {
                      "name": "name",
                      "companyName": "Acme",
                      "addressLine1": "123 example street",
                      "addressLine2": "Unit 102",
                      "city": "Toronto",
                      "countryCode": "CA",
                      "stateOrProvinceCode": "ON",
                      "postalCode": "M1M1M1",
                      "phoneNumber": "1234567890",
                      "email": "email@email.com"
                    }
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wfbad4abcd-1234-abcd-5678-1234abcd5678"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BadRequest",
                        "message": "The inboundPlanId is malformed."
                      }
                    ]
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "Fulfillment Inbound"
        ],
        "description": "获取有关入站计划的顶级信息。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 6 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表包含此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能具有比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getInboundPlan",
        "summary": "getInboundPlan"
      }
    },
    "/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/boxes": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "入站计划的标识符。",
            "in": "path",
            "maxLength": 38,
            "minLength": 38,
            "name": "inboundPlanId",
            "pattern": "^[a-zA-Z0-9-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "要在与给定查询匹配的响应中返回的框数。",
            "in": "query",
            "maximum": 1000,
            "minimum": 1,
            "name": "pageSize",
            "type": "integer",
            "default": 10
          },
          {
            "description": "当有多个页面的结果时，用于获取某个页面的令牌。此令牌的值是从API响应中返回的 “分页” 中获取的。在没有来自查询参数的令牌值的情况下，API返回结果的第一页。",
            "in": "query",
            "maxLength": 1024,
            "minLength": 0,
            "name": "paginationToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ListInboundPlanBoxes 200响应",
            "schema": {
              "$ref": "#/definitions/ListInboundPlanBoxesResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "pageSize": {
                        "value": 2
                      },
                      "paginationToken": {
                        "value": "paginationToken"
                      }
                    }
                  },
                  "response": {
                    "boxes": [
                      {
                        "packageId": "pk1234abcd-1234-abcd-5678-1234abcd5678",
                        "weight": {
                          "unit": "KG",
                          "value": 5.5
                        },
                        "dimensions": {
                          "unitOfMeasurement": "CM",
                          "length": 3,
                          "width": 4,
                          "height": 5
                        },
                        "quantity": 2,
                        "boxId": "boxId",
                        "templateName": "templateName",
                        "items": [
                          {
                            "quantity": 5,
                            "expiration": "2024-01-01",
                            "manufacturingLotCode": "manufacturingLotCode",
                            "prepInstructions": [
                              {
                                "prepType": "ITEM_POLYBAGGING",
                                "prepOwner": "AMAZON",
                                "fee": {
                                  "code": "USD",
                                  "amount": 10
                                }
                              }
                            ],
                            "msku": "msku",
                            "asin": "asin",
                            "fnsku": "fnsku",
                            "labelOwner": "AMAZON"
                          }
                        ],
                        "destinationRegion": {
                          "countryCode": "US",
                          "state": "CA",
                          "warehouseId": "ABC1"
                        },
                        "contentInformationSource": "BOX_CONTENT_PROVIDED"
                      }
                    ],
                    "pagination": {
                      "nextToken": "nextPaginationToken"
                    }
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "bad234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "pageSize": {
                        "value": 2
                      },
                      "paginationToken": {
                        "value": "paginationToken"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BadRequest",
                        "message": "The requested inboundPlanId does not exist."
                      }
                    ]
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "Fulfillment Inbound"
        ],
        "description": "提供入站计划中的box包的分页列表。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 6 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表包含此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能具有比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "listInboundPlanBoxes",
        "summary": "listInboundPlanBoxes"
      }
    },
    "/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/cancellation": {
      "put": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "入站计划的标识符。",
            "in": "path",
            "maxLength": 38,
            "minLength": 38,
            "name": "inboundPlanId",
            "pattern": "^[a-zA-Z0-9-]*$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "CancelInboundPlan 202响应",
            "schema": {
              "$ref": "#/definitions/CancelInboundPlanResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                      }
                    }
                  },
                  "response": {
                    "operationId": "1234abcd-1234-abcd-5678-1234abcd5678"
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wfbad4abcd-1234-abcd-5678-1234abcd5678"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BadRequest",
                        "message": "The inbound plan is already cancelled."
                      }
                    ]
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "Fulfillment Inbound"
        ],
        "description": "取消入站计划。如果在无效窗口之外执行取消，则可能会收取费用。亚马逊合作承运人的窗口是24小时小包裹递送 (SPD) 和一小时零担 (LTL) 承运人装运。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 2 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表包含此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能具有比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "cancelInboundPlan",
        "summary": "cancelInboundPlan"
      }
    },
    "/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/items": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "入站计划的标识符。",
            "in": "path",
            "maxLength": 38,
            "minLength": 38,
            "name": "inboundPlanId",
            "pattern": "^[a-zA-Z0-9-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "要在与给定查询匹配的响应中返回的项数。",
            "in": "query",
            "maximum": 1000,
            "minimum": 1,
            "name": "pageSize",
            "type": "integer",
            "default": 10
          },
          {
            "description": "当有多个页面的结果时，用于获取某个页面的令牌。此令牌的值是从API响应中返回的 “分页” 中获取的。在没有来自查询参数的令牌值的情况下，API返回结果的第一页。",
            "in": "query",
            "maxLength": 1024,
            "minLength": 0,
            "name": "paginationToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ListInboundPlanItems 200响应",
            "schema": {
              "$ref": "#/definitions/ListInboundPlanItemsResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "pageSize": {
                        "value": 2
                      },
                      "paginationToken": {
                        "value": "paginationToken"
                      }
                    }
                  },
                  "response": {
                    "items": [
                      {
                        "quantity": 5,
                        "expiration": "2024-01-01",
                        "manufacturingLotCode": "manufacturingLotCode",
                        "prepInstructions": [
                          {
                            "prepType": "ITEM_POLYBAGGING",
                            "prepOwner": "AMAZON",
                            "fee": {
                              "code": "USD",
                              "amount": 10
                            }
                          }
                        ],
                        "msku": "msku",
                        "asin": "asin",
                        "fnsku": "fnsku",
                        "labelOwner": "AMAZON"
                      }
                    ],
                    "pagination": {
                      "nextToken": "nextPaginationToken"
                    }
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wfbad4abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "pageSize": {
                        "value": 1
                      },
                      "paginationToken": {
                        "value": ""
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BadRequest",
                        "message": "The requested inbound plan does not exist."
                      }
                    ]
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "Fulfillment Inbound"
        ],
        "description": "提供入站计划中项件包的分页列表。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 6 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表包含此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能具有比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "listInboundPlanItems",
        "summary": "listInboundPlanItems"
      }
    },
    "/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/name": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "入站计划的标识符。",
            "in": "path",
            "maxLength": 38,
            "minLength": 38,
            "name": "inboundPlanId",
            "pattern": "^[a-zA-Z0-9-]*$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateInboundPlanNameRequest"
            },
            "description": "对 “updateinboundplanname” 的请求的正文。"
          }
        ],
        "responses": {
          "204": {
            "description": "UpdateInboundPlanName 204响应",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "body": {
                        "value": {
                          "name": "updatedInboundPlanName"
                        }
                      }
                    }
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wfbad4abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "body": {
                        "value": {
                          "name": "name"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BadRequest",
                        "message": "The requested inbound plan does not exist."
                      }
                    ]
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "Fulfillment Inbound"
        ],
        "description": "更新现有入站计划的名称。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表包含此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能具有比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "updateInboundPlanName",
        "summary": "updateInboundPlanName"
      }
    },
    "/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/packingGroups/{packingGroupId}/boxes": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "入站计划的标识符。",
            "in": "path",
            "maxLength": 38,
            "minLength": 38,
            "name": "inboundPlanId",
            "pattern": "^[a-zA-Z0-9-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "包装组的标识符。",
            "in": "path",
            "maxLength": 38,
            "minLength": 38,
            "name": "packingGroupId",
            "pattern": "^[a-zA-Z0-9-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "要在与给定查询匹配的响应中返回的包装组框数。",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "pageSize",
            "type": "integer",
            "default": 10
          },
          {
            "description": "当有多个页面的结果时，用于获取某个页面的令牌。此令牌的值是从API响应中返回的 “分页” 中获取的。在没有来自查询参数的令牌值的情况下，API返回结果的第一页。",
            "in": "query",
            "maxLength": 1024,
            "minLength": 0,
            "name": "paginationToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ListPackingGroupBoxes 200响应",
            "schema": {
              "$ref": "#/definitions/ListPackingGroupBoxesResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "packingGroupId": {
                        "value": "pg1234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "pageSize": {
                        "value": 2
                      },
                      "paginationToken": {
                        "value": "paginationToken"
                      }
                    }
                  },
                  "response": {
                    "boxes": [
                      {
                        "packageId": "pk1234abcd-1234-abcd-5678-1234abcd5678",
                        "weight": {
                          "unit": "KG",
                          "value": 5.5
                        },
                        "dimensions": {
                          "unitOfMeasurement": "CM",
                          "length": 3,
                          "width": 4,
                          "height": 5
                        },
                        "quantity": 2,
                        "boxId": "boxId",
                        "templateName": "templateName",
                        "items": [
                          {
                            "quantity": 5,
                            "expiration": "2024-01-01",
                            "manufacturingLotCode": "manufacturingLotCode",
                            "prepInstructions": [
                              {
                                "prepType": "ITEM_POLYBAGGING",
                                "prepOwner": "AMAZON",
                                "fee": {
                                  "code": "USD",
                                  "amount": 10
                                }
                              }
                            ],
                            "msku": "msku",
                            "asin": "asin",
                            "fnsku": "fnsku",
                            "labelOwner": "AMAZON"
                          }
                        ],
                        "destinationRegion": {
                          "countryCode": "US",
                          "state": "CA",
                          "warehouseId": "ABC1"
                        },
                        "contentInformationSource": "BOX_CONTENT_PROVIDED"
                      }
                    ],
                    "pagination": {
                      "nextToken": "nextPaginationToken"
                    }
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "packingGroupId": {
                        "value": "bad234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "pageSize": {
                        "value": 2
                      },
                      "paginationToken": {
                        "value": "paginationToken"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BadRequest",
                        "message": "The requested packingGroupId does not exist for the specified inbound plan."
                      }
                    ]
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "Fulfillment Inbound"
        ],
        "description": "从给定包装组中检索一页包装盒。这些框以前是通过 “setpackinginformation” 操作提供的。此API用于在Amazon确定装运拆分之前打包箱子的工作流程。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表包含此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能具有比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "listPackingGroupBoxes",
        "summary": "listPackingGroupBoxes"
      }
    },
    "/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/packingGroups/{packingGroupId}/items": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "入站计划的标识符。",
            "in": "path",
            "maxLength": 38,
            "minLength": 38,
            "name": "inboundPlanId",
            "pattern": "^[a-zA-Z0-9-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "包装组的标识符。",
            "in": "path",
            "maxLength": 38,
            "minLength": 38,
            "name": "packingGroupId",
            "pattern": "^[a-zA-Z0-9-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "要在与给定查询匹配的响应中返回的包装组项数。",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "pageSize",
            "type": "integer",
            "default": 10
          },
          {
            "description": "当有多个页面的结果时，用于获取某个页面的令牌。此令牌的值是从API响应中返回的 “分页” 中获取的。在没有来自查询参数的令牌值的情况下，API返回结果的第一页。",
            "in": "query",
            "maxLength": 1024,
            "minLength": 0,
            "name": "paginationToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ListPackingGroupItems 200响应",
            "schema": {
              "$ref": "#/definitions/ListPackingGroupItemsResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "packingGroupId": {
                        "value": "pg1234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "pageSize": {
                        "value": 2
                      },
                      "paginationToken": {
                        "value": "paginationToken"
                      }
                    }
                  },
                  "response": {
                    "items": [
                      {
                        "quantity": 5,
                        "prepInstructions": [
                          {
                            "prepType": "ITEM_POLYBAGGING",
                            "prepOwner": "AMAZON",
                            "fee": {
                              "code": "USD",
                              "amount": 10
                            }
                          }
                        ],
                        "msku": "msku",
                        "asin": "asin",
                        "fnsku": "fnsku",
                        "labelOwner": "AMAZON"
                      }
                    ],
                    "pagination": {
                      "nextToken": "nextPaginationToken"
                    }
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "packingGroupId": {
                        "value": "bad234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "pageSize": {
                        "value": 2
                      },
                      "paginationToken": {
                        "value": "paginationToken"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BadRequest",
                        "message": "The requested packingGroupId does not exist for the specified inbound plan."
                      }
                    ]
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "Fulfillment Inbound"
        ],
        "description": "检索给定包装组中的项目页。必须先通过相应的操作生成包装选项，然后才能列出包装组项目。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表包含此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能具有比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "listPackingGroupItems",
        "summary": "listPackingGroupItems"
      }
    },
    "/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/packingInformation": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "入站计划的标识符。",
            "in": "path",
            "maxLength": 38,
            "minLength": 38,
            "name": "inboundPlanId",
            "pattern": "^[a-zA-Z0-9-]*$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetPackingInformationRequest"
            },
            "description": "对 “setpackinginformation” 的请求的正文。"
          }
        ],
        "responses": {
          "202": {
            "description": "SetPackingInformation 202响应",
            "schema": {
              "$ref": "#/definitions/SetPackingInformationResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "body": {
                        "value": {
                          "packageGroupings": [
                            {
                              "shipmentId": "sh1234abcd-1234-abcd-5678-1234abcd5678",
                              "packingGroupId": "pg1234abcd-1234-abcd-5678-1234abcd5678",
                              "boxes": [
                                {
                                  "items": [
                                    {
                                      "msku": "msku",
                                      "quantity": 5,
                                      "expiration": "2024-01-01",
                                      "prepOwner": "AMAZON",
                                      "labelOwner": "AMAZON",
                                      "manufacturingLotCode": "manufacturingLotCode"
                                    }
                                  ],
                                  "contentInformationSource": "BOX_CONTENT_PROVIDED",
                                  "weight": {
                                    "unit": "KG",
                                    "value": 5.5
                                  },
                                  "dimensions": {
                                    "unitOfMeasurement": "CM",
                                    "length": 3,
                                    "width": 4,
                                    "height": 5
                                  },
                                  "quantity": 2
                                }
                              ]
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "operationId": "1234abcd-1234-abcd-5678-1234abcd5678"
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "bad234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "body": {
                        "value": {
                          "packageGroupings": [
                            {
                              "shipmentId": "sh1234abcd-1234-abcd-5678-1234abcd5678",
                              "packingGroupId": "bad234abcd-1234-abcd-5678-1234abcd5678",
                              "boxes": [
                                {
                                  "items": [
                                    {
                                      "msku": "msku",
                                      "quantity": 5,
                                      "expiration": "2024-01-01",
                                      "prepOwner": "AMAZON",
                                      "labelOwner": "AMAZON",
                                      "manufacturingLotCode": "manufacturingLotCode"
                                    }
                                  ],
                                  "contentInformationSource": "BOX_CONTENT_PROVIDED",
                                  "weight": {
                                    "unit": "KG",
                                    "value": 5.5
                                  },
                                  "dimensions": {
                                    "unitOfMeasurement": "CM",
                                    "length": 3,
                                    "width": 4,
                                    "height": 5
                                  },
                                  "quantity": 2
                                }
                              ]
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BadRequest",
                        "message": "The requested packingGroupId does not exist for the specified inbound plan."
                      }
                    ]
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "Fulfillment Inbound"
        ],
        "description": "设置入站计划的包装信息。应在创建入站计划后调用此命令，以填充计划和运输估算所需的框级信息。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 2 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表包含此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能具有比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "setPackingInformation",
        "summary": "setPackingInformation"
      }
    },
    "/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/packingOptions": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "入站计划的标识符。",
            "in": "path",
            "maxLength": 38,
            "minLength": 38,
            "name": "inboundPlanId",
            "pattern": "^[a-zA-Z0-9-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "要在与给定查询匹配的响应中返回的打包选项的数量。",
            "in": "query",
            "maximum": 20,
            "minimum": 1,
            "name": "pageSize",
            "type": "integer",
            "default": 10
          },
          {
            "description": "当有多个页面的结果时，用于获取某个页面的令牌。此令牌的值是从API响应中返回的 “分页” 中获取的。在没有来自查询参数的令牌值的情况下，API返回结果的第一页。",
            "in": "query",
            "maxLength": 1024,
            "minLength": 0,
            "name": "paginationToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ListPackingOptions 200响应",
            "schema": {
              "$ref": "#/definitions/ListPackingOptionsResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "pageSize": {
                        "value": 2
                      },
                      "paginationToken": {
                        "value": "paginationToken"
                      }
                    }
                  },
                  "response": {
                    "packingOptions": [
                      {
                        "packingOptionId": "po1234abcd-1234-abcd-5678-1234abcd5678",
                        "packingGroups": [
                          "pg1234abcd-1234-abcd-5678-1234abcd5678"
                        ],
                        "fees": [
                          {
                            "value": {
                              "code": "USD",
                              "amount": 1
                            },
                            "type": "FEE",
                            "target": "Placement Services",
                            "description": "描述"
                          }
                        ],
                        "discounts": [
                          {
                            "value": {
                              "code": "USD",
                              "amount": 1
                            },
                            "type": "DISCOUNT",
                            "target": "Placement Services",
                            "description": "描述"
                          }
                        ],
                        "expiration": "2024-01-01T00:00:00.000Z",
                        "status": "OFFERED",
                        "supportedShippingConfigurations": [
                          {
                            "shippingSolution": "AMAZON_PARTNERED_CARRIER",
                            "shippingMode": "GROUND_SMALL_PARCEL"
                          }
                        ]
                      }
                    ],
                    "pagination": {
                      "nextToken": "nextPaginationToken"
                    }
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "bad234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "pageSize": {
                        "value": 2
                      },
                      "paginationToken": {
                        "value": "paginationToken"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BadRequest",
                        "message": "The requested inbound plan does not exist."
                      }
                    ]
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "Fulfillment Inbound"
        ],
        "description": "检索入站计划的所有包装选项的列表。包装选项必须首先由相应的操作生成，然后才能可用。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 6 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表包含此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能具有比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "listPackingOptions",
        "summary": "listPackingOptions"
      },
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "入站计划的标识符。",
            "in": "path",
            "maxLength": 38,
            "minLength": 38,
            "name": "inboundPlanId",
            "pattern": "^[a-zA-Z0-9-]*$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "GeneratePackingOptions 202响应",
            "schema": {
              "$ref": "#/definitions/GeneratePackingOptionsResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                      }
                    }
                  },
                  "response": {
                    "operationId": "1234abcd-1234-abcd-5678-1234abcd5678"
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wfbad4abcd-1234-abcd-5678-1234abcd5678"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BadRequest",
                        "message": "The inbound plan is not in a valid state to generate packing options."
                      }
                    ]
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "Fulfillment Inbound"
        ],
        "description": "生成入站计划的可用包装选项。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 2 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表包含此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能具有比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "generatePackingOptions",
        "summary": "generatePackingOptions"
      }
    },
    "/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/packingOptions/{packingOptionId}/confirmation": {
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "入站计划的标识符。",
            "in": "path",
            "maxLength": 38,
            "minLength": 38,
            "name": "inboundPlanId",
            "pattern": "^[a-zA-Z0-9-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "包装选项的标识符。",
            "in": "path",
            "maxLength": 38,
            "minLength": 38,
            "name": "packingOptionId",
            "pattern": "^[a-zA-Z0-9-]*$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "ConfirmPackingOption 202响应",
            "schema": {
              "$ref": "#/definitions/ConfirmPackingOptionResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "packingOptionId": {
                        "value": "po1234abcd-1234-abcd-5678-1234abcd5678"
                      }
                    }
                  },
                  "response": {
                    "operationId": "1234abcd-1234-abcd-5678-1234abcd5678"
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "packingOptionId": {
                        "value": "bad234abcd-1234-abcd-5678-1234abcd5678"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BadRequest",
                        "message": "The requested packingOptionId does not exist for the given inbound plan."
                      }
                    ]
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
[...]
