{
  "swagger": "2.0",
  "info": {
    "description": "使用Services API，您可以构建应用程序，帮助服务提供商获取和修改其服务订单并管理其资源。",
    "version": "v1",
    "title": "Selling Partner API for Services",
    "contact": {
      "name": "Selling Partner API Developer Support",
      "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "sellingpartnerapi-na.amazon.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/service/v1/serviceJobs/{serviceJobId}": {
      "get": {
        "tags": [
          "service"
        ],
        "description": "获取由提供的 “servicejobid” 指示的服务作业的详细信息。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 20 | 40 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制] (文档: Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getServiceJobByServiceJobId",
        "parameters": [
          {
            "name": "serviceJobId",
            "in": "path",
            "description": "服务作业标识符。",
            "required": true,
            "type": "string",
            "maxLength": 100,
            "minLength": 1
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应。",
            "schema": {
              "$ref": "#/definitions/GetServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {}
                  },
                  "response": {
                    "payload": {}
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/GetServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut"
                      }
                    }
                  },
                  "response": {
                    "payload": {}
                  }
                }
              ]
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/GetServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/GetServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/GetServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/GetServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "422": {
            "description": "无法处理的实体。无法处理包含的指令。",
            "schema": {
              "$ref": "#/definitions/GetServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/GetServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/GetServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/GetServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/service/v1/serviceJobs/{serviceJobId}/cancellations": {
      "put": {
        "tags": [
          "service"
        ],
        "description": "取消由指定的服务作业标识符指示的服务作业。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 5 | 20 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制] (文档: Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "cancelServiceJobByServiceJobId",
        "parameters": [
          {
            "name": "serviceJobId",
            "in": "path",
            "description": "Amazon定义的服务作业标识符。",
            "required": true,
            "type": "string",
            "maxLength": 100,
            "minLength": 1
          },
          {
            "name": "cancellationReasonCode",
            "in": "query",
            "description": "取消原因代码，用于指定取消服务作业的原因。",
            "required": true,
            "type": "string",
            "maxLength": 100,
            "minLength": 1,
            "pattern": "^[A-Z0-9_]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应。",
            "schema": {
              "$ref": "#/definitions/CancelServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut"
                      },
                      "cancellationReasonCode": {
                        "value": "V1"
                      }
                    }
                  },
                  "response": {}
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/CancelServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "nullJobId"
                      },
                      "cancellationReasonCode": {
                        "value": "V1"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Missing or invalid request parameters: [serviceJobId]",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut"
                      },
                      "cancellationReasonCode": {
                        "value": "NULL"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Missing or invalid request parameters: [cancellationReasonCode]",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "nullJobId"
                      },
                      "cancellationReasonCode": {
                        "value": "NULL"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Missing or invalid request parameters: [serviceJobId, cancellationReasonCode]",
                        "details": ""
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/CancelServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "unauthorizedJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut"
                      },
                      "cancellationReasonCode": {
                        "value": "V1"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "UnauthorizedAction",
                        "message": "Not authorized to access this resource.Please check your input again",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {}
                  },
                  "response": {}
                }
              ]
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/CancelServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/CancelServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/CancelServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "422": {
            "description": "无法处理的实体。无法处理包含的指令。",
            "schema": {
              "$ref": "#/definitions/CancelServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "completedJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut"
                      },
                      "cancellationReasonCode": {
                        "value": "V1"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Job with jobId completedJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut and jobStatus COMPLETED cannot be cancelled",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut"
                      },
                      "cancellationReasonCode": {
                        "value": "INV1"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Received invalid input reason code IV1 for jobId validJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "invalidJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut"
                      },
                      "cancellationReasonCode": {
                        "value": "V1"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Job not found for jobId invalidJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut",
                        "details": ""
                      }
                    ]
                  }
                }
              ]
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/CancelServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/CancelServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/CancelServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/service/v1/serviceJobs/{serviceJobId}/completions": {
      "put": {
        "tags": [
          "service"
        ],
        "description": "完成由指定的服务作业标识符指示的服务作业。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 5 | 20 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制] (文档: Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "completeServiceJobByServiceJobId",
        "parameters": [
          {
            "name": "serviceJobId",
            "in": "path",
            "description": "Amazon定义的服务作业标识符。",
            "required": true,
            "type": "string",
            "maxLength": 100,
            "minLength": 1
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应。",
            "schema": {
              "$ref": "#/definitions/CompleteServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut"
                      }
                    }
                  },
                  "response": {}
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/CompleteServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "nullJobId"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Missing or invalid request parameters: [serviceJobId]",
                        "details": ""
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/CompleteServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "unauthorizedJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "UnauthorizedAction",
                        "message": "Not authorized to access this resource.Please check your input again",
                        "details": ""
                      }
                    ]
                  }
                }
              ]
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/CompleteServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/CompleteServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/CompleteServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "422": {
            "description": "无法处理的实体。无法处理包含的指令。",
            "schema": {
              "$ref": "#/definitions/CompleteServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "cancelledJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Operation not allowed on job with jobId : cancelledJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut and jobState : CANCELLED",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "invalidJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Job not found for jobId invalidJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut",
                        "details": ""
                      }
                    ]
                  }
                }
              ]
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/CompleteServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/CompleteServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/CompleteServiceJobByServiceJobIdResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/service/v1/serviceJobs": {
      "get": {
        "tags": [
          "service"
        ],
        "description": "获取指定筛选器查询的服务作业详细信息。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 10 | 40 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制] (文档: Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getServiceJobs",
        "parameters": [
          {
            "name": "serviceOrderIds",
            "in": "query",
            "description": "要执行的查询的服务订单id列表。支持的最大值为20。",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 20,
            "minItems": 1
          },
          {
            "name": "serviceJobStatus",
            "in": "query",
            "description": "用于筛选作业列表的一个或多个作业状态的列表。",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "NOT_SERVICED",
                "CANCELLED",
                "COMPLETED",
                "PENDING_SCHEDULE",
                "NOT_FULFILLABLE",
                "HOLD",
                "PAYMENT_DECLINED"
              ],
              "x-docgen-enum-table-extension": [
                {
                  "value": "NOT_SERVICED",
                  "description": "未提供服务的作业。"
                },
                {
                  "value": "CANCELLED",
                  "description": "已取消的作业。"
                },
                {
                  "value": "COMPLETED",
                  "description": "作业已成功完成。"
                },
                {
                  "value": "PENDING_SCHEDULE",
                  "description": "挂起计划的作业。"
                },
                {
                  "value": "NOT_FULFILLABLE",
                  "description": "不能完成的工作。"
                },
                {
                  "value": "HOLD",
                  "description": "被搁置的工作。"
                },
                {
                  "value": "PAYMENT_DECLINED",
                  "description": "付款被拒绝的工作。"
                }
              ]
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "在您先前请求的响应中返回的字符串。",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "一个非负整数，指示要在列表中返回的最大作业数，值必须为1-20。默认为20。",
            "required": false,
            "type": "integer",
            "default": 20,
            "maximum": 20,
            "minimum": 1
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "要对输出进行排序的排序字段。",
            "required": false,
            "type": "string",
            "enum": [
              "JOB_DATE",
              "JOB_STATUS"
            ],
            "x-docgen-enum-table-extension": [
              {
                "value": "JOB_DATE",
                "description": "按作业日期排序。"
              },
              {
                "value": "JOB_STATUS",
                "description": "按作业状态排序。"
              }
            ]
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "要执行的查询的排序顺序。",
            "required": false,
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ],
            "x-docgen-enum-table-extension": [
              {
                "value": "ASC",
                "description": "按升序排序。"
              },
              {
                "value": "DESC",
                "description": "按降序排序。"
              }
            ]
          },
          {
            "name": "createdAfter",
            "in": "query",
            "description": "用于选择在指定时间或之后创建的作业的日期。必须采用ISO 8601格式。如果未指定 “lastupdatedafter'，则为必需项。指定 “createdafter'” 和 “lastupdatedafter'” 将返回错误。",
            "required": false,
            "type": "string"
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "用于选择在指定时间或之前创建的作业的日期。必须采用ISO 8601格式。",
            "required": false,
            "type": "string"
          },
          {
            "name": "lastUpdatedAfter",
            "in": "query",
            "description": "用于选择在指定时间或之后更新的作业的日期。必须采用ISO 8601格式。如果未指定 “createdafter'，则为必需项。指定 “createdafter'” 和 “lastupdatedafter'” 将返回错误。",
            "required": false,
            "type": "string"
          },
          {
            "name": "lastUpdatedBefore",
            "in": "query",
            "description": "用于选择在指定时间或之前更新的作业的日期。必须采用ISO 8601格式。",
            "required": false,
            "type": "string"
          },
          {
            "name": "scheduleStartDate",
            "in": "query",
            "description": "用于在指定时间或之后筛选作业计划的日期。必须采用ISO 8601格式。计划结束日期不应早于计划开始日期。",
            "required": false,
            "type": "string"
          },
          {
            "name": "scheduleEndDate",
            "in": "query",
            "description": "用于筛选指定时间或之前的作业计划的日期。必须采用ISO 8601格式。计划结束日期不应早于计划开始日期。",
            "required": false,
            "type": "string"
          },
          {
            "name": "marketplaceIds",
            "in": "query",
            "description": "用于选择放置在指定市场中的作业。",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 1
          },
          {
            "name": "asins",
            "in": "query",
            "description": "商品的Amazon标准标识号 (ASIN) 列表。支持的最大值为20。",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 10,
              "maxLength": 10
            },
            "maxItems": 20,
            "minItems": 1
          },
          {
            "name": "requiredSkills",
            "in": "query",
            "description": "针对一组产品和/或服务场景的服务交付所共有的一组定义的相关知识、技能、经验、工具、材料和工作流程。支持的最大值为20。",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 50
            },
            "maxItems": 20,
            "minItems": 1
          },
          {
            "name": "storeIds",
            "in": "query",
            "description": "区域范围的Amazon定义标识符的列表。支持的最大值为50。",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100
            },
            "maxItems": 50,
            "minItems": 1
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应。",
            "schema": {
              "$ref": "#/definitions/GetServiceJobsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {}
                  },
                  "response": {
                    "payload": {
                      "totalResultSize": 1,
                      "nextPageToken": "merchantSklktoreIdbcdcd2ad-5883-4e48-b114-f13328a9e9f",
                      "previousPageToken": "merchantSklktoreIdbcdcd2ad-5883-4e48-b114-f13328a9e9f",
                      "jobs": [
                        {
                          "serviceOrderId": "2345324",
                          "serviceJobId": "34534399990035",
                          "createTime": "2019-12-11T14:49:53.952Z",
                          "serviceJobStatus": "COMPLETED",
                          "buyer": {
                            "name": "nameExample"
                          },
                          "appointments": [
                            {
                              "appointmentId": "appointmentIdExample",
                              "appointmentStatus": "COMPLETED",
                              "appointmentTime": {
                                "startTime": "2020-01-31T06:38:56.961Z",
                                "durationInMinutes": 60
                              },
                              "assignedTechnicians": [
                                {
                                  "technicianId": "technicianIdExample",
                                  "name": "nameExample"
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/GetServiceJobsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "createdAfter": {
                        "value": "TEST_CASE_400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid Input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/GetServiceJobsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/GetServiceJobsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/GetServiceJobsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/GetServiceJobsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/GetServiceJobsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/GetServiceJobsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/GetServiceJobsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/service/v1/serviceJobs/{serviceJobId}/appointments": {
      "post": {
        "tags": [
          "service"
        ],
        "description": "将约会添加到由指定的服务作业标识符指示的服务作业。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 5 | 20 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制] (文档: Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "addAppointmentForServiceJobByServiceJobId",
        "parameters": [
          {
            "name": "serviceJobId",
            "in": "path",
            "description": "Amazon定义的服务作业标识符。",
            "required": true,
            "type": "string",
            "maxLength": 100,
            "minLength": 1
          },
          {
            "in": "body",
            "name": "body",
            "description": "添加约会操作输入详细信息。",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddAppointmentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应。",
            "schema": {
              "$ref": "#/definitions/SetAppointmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-1-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                      },
                      "body": {
                        "value": {
                          "appointmentTime": {
                            "startTime": "2021-01-01T10:00:00.000Z"
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "appointmentId": "validJobId-1-9cb9bc29-3d7d-5e49-5709-efb693d34468_00b9d5f2-839d-c13e-b8cd-dae1c3995b2a"
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-2-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                      },
                      "body": {
                        "value": {
                          "appointmentTime": {
                            "startTime": "2021-01-01T10:00:00.000Z",
                            "durationInMinutes": 60
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "appointmentId": "validJobId-2-9cb9bc29-3d7d-5e49-5709-efb693d34468_00b9d5f2-839d-c13e-b8cd-dae1c3995b2a"
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/SetAppointmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "nullJobId"
                      },
                      "body": {
                        "value": {
                          "appointmentTime": {
                            "startTime": "2021-01-01T10:00:00.000Z",
                            "durationInMinutes": 60
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Missing or invalid request parameters: [serviceJobId]",
                        "details": ""
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/SetAppointmentResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "unauthorizedJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                      },
                      "body": {
                        "value": {
                          "appointmentTime": {
                            "startTime": "2021-01-01T10:00:00.000Z"
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "UnauthorizedAction",
                        "message": "Not authorized to access this resource. Please check your input again.",
                        "details": ""
                      }
                    ]
                  }
                }
              ]
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/SetAppointmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/SetAppointmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/SetAppointmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "422": {
            "description": "无法处理的实体。无法处理包含的指令。",
            "schema": {
              "$ref": "#/definitions/SetAppointmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                      },
                      "body": {
                        "value": {
                          "appointmentTime": {
                            "startTime": "2021-01-01T10:00:00.000+05:30"
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "ISO8601 time 2021-01-01T10:00:00.000+05:30 is not in UTC.",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                      },
                      "body": {
                        "value": {
                          "appointmentTime": {
                            "startTime": "2021-01-01T10-00:00.000Z"
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Failed to parse ISO8601 input: 2021-01-01T10-00:00.000Z",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "invalidJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                      },
                      "body": {
                        "value": {
                          "appointmentTime": {
                            "startTime": "2021-01-01T10:00:00.000Z"
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "No job exist with jobId : invalidJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "completedJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                      },
                      "body": {
                        "value": {
                          "appointmentTime": {
                            "startTime": "2021-01-01T10:00:00.000Z"
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Operation not allowed on job with jobId : completedJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468 and jobState : COMPLETED",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "withActiveAppointmentJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                      },
                      "body": {
                        "value": {
                          "appointmentTime": {
                            "startTime": "2021-01-01T10:00:00.000Z"
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Failed to add appointment for jobId : withActiveAppointmentJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468, reason : Job already has an active appointmentId.",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                      },
                      "body": {
                        "value": {
                          "appointmentTime": {
                            "startTime": "2019-01-01T10:00:00.000Z"
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Failed to add appointment for jobId : validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468, reason : Start time of appointment should be in the future.",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                      },
                      "body": {
                        "value": {
                          "appointmentTime": {
                            "startTime": "2022-01-01T10:00:00.000Z"
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Failed to add appointment for jobId : validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468, reason : Start time for appointment is beyond the maximum allowed period of 365 days.",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                      },
                      "body": {
                        "value": {
                          "appointmentTime": {
                            "startTime": "2021-01-01T10:15:00.000Z"
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Failed to add appointment for jobId : validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468, reason : Appointment slot is not available.",
                        "details": ""
                      }
                    ]
                  }
                }
              ]
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/SetAppointmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "遇到阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/SetAppointmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/SetAppointmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/service/v1/serviceJobs/{serviceJobId}/appointments/{appointmentId}": {
      "post": {
        "tags": [
          "service"
        ],
        "description": "为指定的服务作业标识符所指示的服务作业重新计划约会。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 5 | 20 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制] (文档: Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "rescheduleAppointmentForServiceJobByServiceJobId",
        "parameters": [
          {
            "name": "serviceJobId",
            "in": "path",
            "description": "Amazon定义的服务作业标识符。",
            "required": true,
            "type": "string",
            "maxLength": 100,
            "minLength": 1
          },
          {
            "name": "appointmentId",
            "in": "path",
            "description": "服务作业的现有约会标识符。",
            "required": true,
            "type": "string",
            "maxLength": 100,
            "minLength": 1
          },
          {
            "in": "body",
            "name": "body",
            "description": "重新安排约会操作输入详细信息。",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RescheduleAppointmentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应。",
            "schema": {
              "$ref": "#/definitions/SetAppointmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-1-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                      },
                      "appointmentId": {
                        "value": "validJobId-1-9cb9bc29-3d7d-5e49-5709-efb693d34468_00b9d5f2-839d-c13e-b8cd-dae1c3995b2a"
                      },
                      "body": {
                        "value": {
                          "appointmentTime": {
                            "startTime": "2021-01-01T10:00:00.000Z"
                          },
                          "rescheduleReasonCode": "R1"
                        }
                      }
                    }
                  },
                  "response": {
                    "appointmentId": "validJobId-1-9cb9bc29-3d7d-5e49-5709-efb693d34468_new_00b9d5f2-839d-c13e-b8cd-dae1c3995b2a"
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-2-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                      },
                      "appointmentId": {
                        "value": "validJobId-2-9cb9bc29-3d7d-5e49-5709-efb693d34468_00b9d5f2-839d-c13e-b8cd-dae1c3995b2a"
                      },
                      "body": {
                        "value": {
                          "appointmentTime": {
                            "startTime": "2021-01-01T10:00:00.000Z",
                            "durationInMinutes": 60
                          },
                          "rescheduleReasonCode": "R1"
                        }
                      }
                    }
                  },
                  "response": {
                    "appointmentId": "validJobId-2-9cb9bc29-3d7d-5e49-5709-efb693d34468_new_00b9d5f2-839d-c13e-b8cd-dae1c3995b2a"
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-3-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                      },
                      "appointmentId": {
                        "value": "validJobId-3-9cb9bc29-3d7d-5e49-5709-efb693d34468_00b9d5f2-839d-c13e-b8cd-dae1c3995b2a"
                      },
                      "body": {
                        "value": {
                          "appointmentTime": {
                            "startTime": "2021-01-01T10:00:00.000Z",
                            "durationInMinutes": 60
                          },
                          "rescheduleReasonCode": "R1"
                        }
                      }
                    }
                  },
                  "response": {
                    "appointmentId": "validJobId-3-9cb9bc29-3d7d-5e49-5709-efb693d34468_new_00b9d5f2-839d-c13e-b8cd-dae1c3995b2a",
                    "warnings": [
                      {
                        "code": "RESOURCES_UNASSIGNED",
                        "message": "Unassigned resources : ATechnicianId,BTechnicianId"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/SetAppointmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "nullJobId"
                      },
                      "appointmentId": {
                        "value": "validJobId-1-9cb9bc29-3d7d-5e49-5709-efb693d34468_00b9d5f2-839d-c13e-b8cd-dae1c3995b2a"
                      },
                      "body": {
                        "value": {
                          "appointmentTime": {
                            "startTime": "2021-01-01T10:00:00.000Z",
                            "durationInMinutes": 60
                          },
                          "rescheduleReasonCode": "R1"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Missing or invalid request parameters: [serviceJobId]",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-1-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                      },
                      "appointmentId": {
                        "value": "nullAppointmentId"
                      },
                      "body": {
                        "value": {
                          "appointmentTime": {
                            "startTime": "2021-01-01T10:00:00.000Z",
                            "durationInMinutes": 60
                          },
                          "rescheduleReasonCode": "R1"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Missing or invalid request parameters: [appointmentId]",
                        "details": ""
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/SetAppointmentResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "unauthorizedJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                      },
                      "appointmentId": {
                        "value": "unauthorizedJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468_00b9d5f2-839d-c13e-b8cd-dae1c3995b2a"
                      },
                      "body": {
                        "value": {
                          "appointmentTime": {
                            "startTime": "2021-01-01T10:00:00.000Z"
                          },
                          "rescheduleReasonCode": "R1"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "UnauthorizedAction",
                        "message": "Not authorized to access this resource. Please check your input again.",
                        "details": ""
                      }
                    ]
                  }
                }
              ]
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/SetAppointmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/SetAppointmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/SetAppointmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "422": {
            "description": "无法处理的实体。无法处理包含的指令。",
            "schema": {
              "$ref": "#/definitions/SetAppointmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                      },
                      "appointmentId": {
                        "value": "validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468_00b9d5f2-839d-c13e-b8cd-dae1c3995b2a"
                      },
                      "body": {
                        "value": {
                          "appointmentTime": {
                            "startTime": "2021-01-01T10:00:00.000+05:30"
                          },
                          "rescheduleReasonCode": "R1"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "ISO8601 time 2021-01-01T10:00:00.000+05:30 is not in UTC.",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                      },
                      "appointmentId": {
                        "value": "validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468_00b9d5f2-839d-c13e-b8cd-dae1c3995b2a"
                      },
                      "body": {
                        "value": {
                          "appointmentTime": {
                            "startTime": "2021-01-01T10-00:00.000Z"
                          },
                          "rescheduleReasonCode": "R1"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Failed to parse ISO8601 input: 2021-01-01T10-00:00.000Z",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "invalidJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                      },
                      "appointmentId": {
                        "value": "invalidJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468_00b9d5f2-839d-c13e-b8cd-dae1c3995b2a"
                      },
                      "body": {
                        "value": {
                          "appointmentTime": {
                            "startTime": "2021-01-01T10:00:00.000Z"
                          },
                          "rescheduleReasonCode": "R1"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "No job exist with jobId : invalidJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "completedJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                      },
                      "appointmentId": {
                        "value": "completedJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468_00b9d5f2-839d-c13e-b8cd-dae1c3995b2a"
                      },
                      "body": {
                        "value": {
                          "appointmentTime": {
                            "startTime": "2021-01-01T10:00:00.000Z"
                          },
                          "rescheduleReasonCode": "R1"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Operation not allowed on job with jobId : completedJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468 and jobState : COMPLETED",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                      },
                      "appointmentId": {
                        "value": "validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468_00b9d5f2-839d-c13e-b8cd-dae1c3995b2a"
                      },
                      "body": {
                        "value": {
                          "appointmentTime": {
                            "startTime": "2019-01-01T10:00:00.000Z"
                          },
                          "rescheduleReasonCode": "R1"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Failed to add appointment for jobId : validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468, reason : Start time of appointment should be in the future.",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                      },
                      "appointmentId": {
                        "value": "validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468_00b9d5f2-839d-c13e-b8cd-dae1c3995b2a"
                      },
                      "body": {
                        "value": {
                          "appointmentTime": {
                            "startTime": "2022-01-01T10:00:00.000Z"
                          },
                          "rescheduleReasonCode": "R1"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Failed to add appointment for jobId : validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468, reason : Start time for appointment is beyond the maximum allowed period of 365 days.",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                      },
                      "appointmentId": {
                        "value": "validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468_00b9d5f2-839d-c13e-b8cd-dae1c3995b2a"
                      },
                      "body": {
                        "value": {
                          "appointmentTime": {
                            "startTime": "2021-01-01T10:15:00.000Z"
                          },
                          "rescheduleReasonCode": "R1"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Failed to add appointment for jobId : validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468, reason : Appointment slot is not available.",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                      },
                      "appointmentId": {
                        "value": "validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468_00b9d5f2-839d-c13e-b8cd-dae1c3995b2a"
                      },
                      "body": {
                        "value": {
                          "appointmentTime": {
                            "startTime": "2021-01-01T10:00:00.000Z"
                          },
                          "rescheduleReasonCode": "U1"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Failed to add appointment for jobId : validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468, reason : Appointment reschedule reason code is not valid.",
                        "details": ""
                      }
                    ]
                  }
                }
              ]
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/SetAppointmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "遇到阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/SetAppointmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/SetAppointmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/service/v1/serviceJobs/{serviceJobId}/appointments/{appointmentId}/resources": {
      "put": {
        "tags": [
          "service"
        ],
        "description": "为服务作业约会分配新资源或覆盖/更新现有资源。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 1 | 2 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制] (文档: Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "assignAppointmentResources",
        "parameters": [
          {
            "name": "serviceJobId",
            "in": "path",
            "description": "Amazon定义的服务作业标识符。通过调用服务API的 “getservicejobs” 操作获取此值。",
            "required": true,
            "type": "string",
            "maxLength": 100,
            "minLength": 1
          },
          {
            "name": "appointmentId",
            "in": "path",
            "description": "活动服务作业约会的Amazon定义的标识符。",
            "required": true,
            "type": "string",
            "maxLength": 100,
            "minLength": 1
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssignAppointmentResourcesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应。",
            "schema": {
              "$ref": "#/definitions/AssignAppointmentResourcesResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-1-9cb9bc29-3d7d-5e49-5709-efb693t25687"
                      },
                      "appointmentId": {
                        "value": "validAppointmentId-1-9cb9bc29-3d7d-5e49-5709-efb693t25687_87b9d5f2-839d-y13e-sd4d-dae1c3996s3d"
                      },
                      "body": {
                        "value": {
                          "resources": [
                            {
                              "resourceId": "validResourceId-A8B3M999LMHF2"
                            },
                            {
                              "resourceId": "validResourceId-AMIDIAX1H5V"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {}
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-1-9cb9bc29-3d7d-5e49-5709-efb693t25687"
                      },
                      "appointmentId": {
                        "value": "validAppointmentId-1-9cb9bc29-3d7d-5e49-5709-efb693t25687_87b9d5f2-839d-y13e-sd4d-dae1c3996s3d"
                      },
                      "body": {
                        "value": {
                          "resources": [
                            {}
                          ]
                        }
                      }
                    }
                  },
                  "response": {}
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-1-9cb9bc29-3d7d-5e49-5709-efb693t25687"
                      },
                      "appointmentId": {
                        "value": "validAppointmentId-1-9cb9bc29-3d7d-5e49-5709-efb693t25687_87b9d5f2-839d-y13e-sd4d-dae1c3996s3d"
                      },
                      "body": {
                        "value": {
                          "resources": [
                            {
                              "resourceId": "overBookedResourceId-A8B3M999LMHF2"
                            },
                            {
                              "resourceId": "validResourceId-AMIDIAX1H5V"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "warnings": [
                        {
                          "code": "RESOURCES_OVERBOOKED",
                          "message": "Resources overbooked for this time window."
                        }
                      ]
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/AssignAppointmentResourcesResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "nullJobId"
                      },
                      "appointmentId": {
                        "value": "validAppointmentId-1-9cb9bc29-3d7d-5e49-5709-efb693t25687_87b9d5f2-839d-y13e-sd4d-dae1c3996s3d"
                      },
                      "body": {
                        "value": {
                          "resources": [
                            {
                              "resourceId": "validResourceId-A8B3M999LMHF2"
                            },
                            {
                              "resourceId": "validResourceId-AMIDIAX1H5V"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Missing or invalid request parameters: [serviceJobId]",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-1-9cb9bc29-3d7d-5e49-5709-efb693t25687"
                      },
                      "appointmentId": {
                        "value": "nullAppointmentId"
                      },
                      "body": {
                        "value": {
                          "resources": [
                            {
                              "resourceId": "validResourceId-A8B3M999LMHF2"
                            },
                            {
                              "resourceId": "validResourceId-AMIDIAX1H5V"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Missing or invalid request parameters: [appointmentId]",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "nullJobId"
                      },
                      "appointmentId": {
                        "value": "nullAppointmentId"
                      },
                      "body": {
                        "value": {
                          "resources": [
                            {
                              "resourceId": "validResourceId-A8B3M999LMHF2"
                            },
                            {
                              "resourceId": "validResourceId-AMIDIAX1H5V"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Missing or invalid request parameters: [appointmentId, serviceJobId]",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-1-9cb9bc29-3d7d-5e49-5709-efb693t25687"
                      },
                      "appointmentId": {
                        "value": "validAppointmentId-1-9cb9bc29-3d7d-5e49-5709-efb693t25687_87b9d5f2-839d-y13e-sd4d-dae1c3996s3d"
                      },
                      "body": {
                        "value": {}
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Resources not provided in input JSON payload.",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "validJobId-1-9cb9bc29-3d7d-5e49-5709-efb693t25687"
                      },
                      "appointmentId": {
                        "value": "validAppointmentId-1-9cb9bc29-3d7d-5e49-5709-efb693t25687_87b9d5f2-839d-y13e-sd4d-dae1c3996s3d"
                      },
                      "body": {
                        "value": {
                          "resources": []
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Resources must have size greater than or equal to 1.",
                        "details": ""
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/AssignAppointmentResourcesResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "unauthorizedJobId-1-9cb9bc29-3d7d-5e49-5709-efb693t25687"
                      },
                      "appointmentId": {
                        "value": "validAppointmentId-1-9cb9bc29-3d7d-5e49-5709-efb693t25687_87b9d5f2-839d-y13e-sd4d-dae1c3996s3d"
                      },
                      "body": {
                        "value": {
                          "resources": [
                            {
                              "resourceId": "validResourceId-A8B3M999LMHF2"
                            },
                            {
                              "resourceId": "validResourceId-AMIDIAX1H5V"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "UnauthorizedAction",
                        "message": "Not authorized to access this resource. Please check your input again.",
                        "details": ""
                      }
                    ]
                  }
                }
              ]
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/AssignAppointmentResourcesResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/AssignAppointmentResourcesResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/AssignAppointmentResourcesResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "422": {
            "description": "无法处理的实体。无法处理包含的指令。",
            "schema": {
              "$ref": "#/definitions/AssignAppointmentResourcesResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n** 注意: ** 对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
                        "value": "invalidJobId-1-9cb9bc29-3d7d-5e49-5709-efb693t25687"
                      },
                      "appointmentId": {
                        "value": "validAppointmentId-1-9cb9bc29-3d7d-5e49-5709-efb693t25687_87b9d5f2-839d-y13e-sd4d-dae1c3996s3d"
                      },
                      "body": {
                        "value": {
                          "resources": [
                            {
                              "resourceId": "validResourceId-A8B3M999LMHF2"
                            },
                            {
                              "resourceId": "validResourceId-AMIDIAX1H5V"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "No job exists with jobId : invalidJobId-1-9cb9bc29-3d7d-5e49-5709-efb693t25687",
                        "details": ""
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "serviceJobId": {
[...]
