{
    "swagger": "2.0",
    "info": {
        "description": "财务销售合作伙伴API可帮助您获取与卖家业务相关的财务信息。您可以获取给定订单、财务事件组或日期范围的财务事件，而不必等到报表期间关闭。您还可以获取给定日期范围的财务事件组。",
        "version": "v0",
        "title": "销售合作伙伴财务API",
        "contact": {
            "name": "Selling Partner API Developer Support",
            "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
        },
        "license": {
            "name": "Apache License 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0"
        }
    },
    "host": "sellingpartnerapi-na.amazon.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/finances/v0/financialEventGroups": {
            "get": {
                "description": "返回给定日期范围的财务事件组。订单可能需要长达48小时才能出现在您的财务活动中。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 0.5 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
                "operationId": "listFinancialEventGroups",
                "parameters": [
                    {
                        "name": "MaxResultsPerPage",
                        "in": "query",
                        "description": "每页返回的最大结果数。如果响应超过最大事务数或10 MB，API将使用 “invalidinput” 进行响应。",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "maximum": 100,
                        "minimum": 1,
                        "format": "int32"
                    },
                    {
                        "name": "FinancialEventGroupStartedBefore",
                        "in": "query",
                        "description": "用于选择在指定日期和时间之前 (但不是在指定日期和时间) 打开的财务事件组的日期，格式为 [ISO 8601](https:// developer-docs.amazon.com/sp-api/docs/iso-8601)。日期时间必须晚于financialeventgroupstartedafture，并且不晚于提交请求前两分钟。如果financialeventgroupstartedafer和FinancialEventGroupStartedBefore相隔超过180天，则不返回任何财务事件组。",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "FinancialEventGroupStartedAfter",
                        "in": "query",
                        "description": "用于选择在指定日期和时间之后 (或在指定日期和时间) 打开的财务事件组的日期，格式为 [ISO 8601](https:// developer-docs.amazon.com/sp-api/docs/iso-8601)。提交请求前的日期时间不得迟于两分钟。",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "NextToken",
                        "in": "query",
                        "description": "上一个请求的响应中返回的字符串令牌。",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功。",
                        "headers": {
                            "x-amzn-RateLimit-Limit": {
                                "description": "此操作的速率限制 (每秒请求数)。",
                                "type": "string"
                            },
                            "x-amzn-RequestId": {
                                "description": "唯一请求引用标识符。",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventGroupsResponse"
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "MaxResultsPerPage": {
                                                "value": 1
                                            },
                                            "FinancialEventGroupStartedBefore": {
                                                "value": "2019-10-31"
                                            },
                                            "FinancialEventGroupStartedAfter": {
                                                "value": "2019-10-13"
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": {
                                            "NextToken": "3493805734095308457308475",
                                            "FinancialEventGroupList": [
                                                {
                                                    "FinancialEventGroupId": "1",
                                                    "ProcessingStatus": "PROCESSED",
                                                    "FundTransferStatus": "TRANSFERED",
                                                    "OriginalTotal": {
                                                        "CurrencyCode": "USD",
                                                        "CurrencyAmount": 10.34
                                                    },
                                                    "ConvertedTotal": {
                                                        "CurrencyCode": "USD",
                                                        "CurrencyAmount": 39.43
                                                    },
                                                    "FundTransferDate": "2020-02-07T14:38:42.128Z",
                                                    "TraceId": "34550454504545",
                                                    "AccountTail": "4854564857",
                                                    "BeginningBalance": {
                                                        "CurrencyCode": "USD",
                                                        "CurrencyAmount": 55.33
                                                    },
                                                    "FinancialEventGroupStart": "2020-02-07T14:38:42.128Z",
                                                    "FinancialEventGroupEnd": "2020-02-07T14:38:42.128Z"
                                                }
                                            ]
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "请求缺少参数或参数无效，无法对其进行分析。",
                        "headers": {
                            "x-amzn-RateLimit-Limit": {
                                "description": "此操作的速率限制 (每秒请求数)。",
                                "type": "string"
                            },
                            "x-amzn-RequestId": {
                                "description": "唯一请求引用标识符。",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventGroupsResponse"
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "MaxResultsPerPage": {
                                                "value": 10
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Date range is invalid."
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventGroupsResponse"
                        },
                        "headers": {
                            "x-amzn-RequestId": {
                                "type": "string",
                                "description": "唯一请求引用标识符。"
                            }
                        }
                    },
                    "404": {
                        "description": "指定的资源不存在。",
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventGroupsResponse"
                        },
                        "headers": {
                            "x-amzn-RateLimit-Limit": {
                                "type": "string",
                                "description": "此操作的速率限制 (每秒请求数)。"
                            },
                            "x-amzn-RequestId": {
                                "type": "string",
                                "description": "唯一请求引用标识符。"
                            }
                        }
                    },
                    "429": {
                        "description": "请求的频率大于允许的频率。",
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventGroupsResponse"
                        },
                        "headers": {
                            "x-amzn-RequestId": {
                                "type": "string",
                                "description": "唯一请求引用标识符。"
                            }
                        }
                    },
                    "500": {
                        "description": "发生了阻止服务器完成请求的意外情况。",
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventGroupsResponse"
                        },
                        "headers": {
                            "x-amzn-RequestId": {
                                "type": "string",
                                "description": "唯一请求引用标识符。"
                            }
                        }
                    },
                    "503": {
                        "description": "服务器的临时过载或维护。",
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventGroupsResponse"
                        },
                        "headers": {
                            "x-amzn-RequestId": {
                                "type": "string",
                                "description": "唯一请求引用标识符。"
                            }
                        }
                    }
                }
            }
        },
        "/finances/v0/financialEventGroups/{eventGroupId}/financialEvents": {
            "get": {
                "description": "返回指定财务事件组的所有财务事件。订单可能需要长达48小时才能出现在您的财务活动中。\n\n** 注意: ** 此操作将仅检索过去两年的集团数据。如果提交的请求的数据跨度超过两年，则返回空响应。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 0.5 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
                "operationId": "listFinancialEventsByGroupId",
                "parameters": [
                    {
                        "name": "MaxResultsPerPage",
                        "in": "query",
                        "description": "每页返回的最大结果数。如果响应超过最大事务数或10 MB，API将使用 “invalidinput” 进行响应。",
                        "required": false,
                        "type": "integer",
                        "default": 100,
                        "maximum": 100,
                        "minimum": 1,
                        "format": "int32"
                    },
                    {
                        "name": "PostedAfter",
                        "in": "query",
                        "description": "用于选择在指定时间之后 (或在指定时间) 发布的财务事件的日期。日期时间 ** 必须 ** 在请求时间之前超过两分钟，格式为 [ISO 8601](https:// developer-docs.amazon.com/sp-api/docs/iso-8601)。",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "PostedBefore",
                        "in": "query",
                        "description": "用于选择在指定时间之前 (而不是在指定时间) 发布的财务事件的日期。日期-时间必须晚于 'PostedAfter'，且不得晚于提交请求前两分钟，采用 [ISO 8601](https:// developer-docs.amazon.com/sp-api/docs/iso-8601) 日期时间格式。如果 'PostedAfter' 和 'PostedBefore' 相隔超过180天，则不会返回任何财务事件。如果指定 'PostedBefore' 参数，则必须指定 'PostedAfter' 参数。默认值: 现在减去两分钟。",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "eventGroupId",
                        "in": "path",
                        "description": "事件所属的财务事件组的标识符。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "NextToken",
                        "in": "query",
                        "description": "上一个请求的响应中返回的字符串令牌。",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功。",
                        "headers": {
                            "x-amzn-RateLimit-Limit": {
                                "description": "此操作的速率限制 (每秒请求数)。",
                                "type": "string"
                            },
                            "x-amzn-RequestId": {
                                "description": "唯一请求引用标识符。",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventsResponse"
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "MaxResultsPerPage": {
                                                "value": 10
                                            },
                                            "eventGroupId": {
                                                "value": "485734534857"
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": {
                                            "NextToken": "Next token value",
                                            "FinancialEvents": {
                                                "ChargebackEventList": [
                                                    {
                                                        "AmazonOrderId": "444-555-3343433",
                                                        "SellerOrderId": "454645645656456",
                                                        "MarketplaceName": "1",
                                                        "OrderChargeList": [
                                                            {
                                                                "ChargeType": "Tax",
                                                                "ChargeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "OrderChargeAdjustmentList": [
                                                            {
                                                                "ChargeType": "Tax",
                                                                "ChargeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "ShipmentFeeList": [
                                                            {
                                                                "FeeType": "FixedClosingFee",
                                                                "FeeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "ShipmentFeeAdjustmentList": [
                                                            {
                                                                "FeeType": "FixedClosingFee",
                                                                "FeeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "OrderFeeList": [
                                                            {
                                                                "FeeType": "FixedClosingFee",
                                                                "FeeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "OrderFeeAdjustmentList": [
                                                            {
                                                                "FeeType": "FixedClosingFee",
                                                                "FeeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "DirectPaymentList": [
                                                            {
                                                                "DirectPaymentType": "StoredValueCardRevenue",
                                                                "DirectPaymentAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "PostedDate": "2020-02-05T13:56:00.363Z",
                                                        "ShipmentItemList": [
                                                            {
                                                                "SellerSKU": "456454455464",
                                                                "OrderItemId": "4565465645646",
                                                                "OrderAdjustmentItemId": "456456465464",
                                                                "QuantityShipped": 0,
                                                                "ItemChargeList": [
                                                                    {
                                                                        "ChargeType": "Tax",
                                                                        "ChargeAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ],
                                                                "ItemChargeAdjustmentList": [
                                                                    {
                                                                        "ChargeType": "Tax",
                                                                        "ChargeAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ],
                                                                "ItemFeeList": [
                                                                    {
                                                                        "FeeType": "FixedClosingFee",
                                                                        "FeeAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ],
                                                                "ItemFeeAdjustmentList": [
                                                                    {
                                                                        "FeeType": "FixedClosingFee",
                                                                        "FeeAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ],
                                                                "ItemTaxWithheldList": [
                                                                    {
                                                                        "TaxCollectionModel": "Free",
                                                                        "TaxesWithheld": [
                                                                            {
                                                                                "ChargeType": "Tax",
                                                                                "ChargeAmount": {
                                                                                    "CurrencyCode": "USD",
                                                                                    "CurrencyAmount": 25.37
                                                                                }
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "PromotionList": [
                                                                    {
                                                                        "PromotionType": "Free",
                                                                        "PromotionId": "546564565",
                                                                        "PromotionAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ],
                                                                "PromotionAdjustmentList": [
                                                                    {
                                                                        "PromotionType": "Free",
                                                                        "PromotionId": "546564565",
                                                                        "PromotionAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ],
                                                                "CostOfPointsGranted": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                },
                                                                "CostOfPointsReturned": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "ShipmentItemAdjustmentList": [
                                                            {
                                                                "SellerSKU": "456454455464",
                                                                "OrderItemId": "4565465645646",
                                                                "OrderAdjustmentItemId": "456456465464",
                                                                "QuantityShipped": 0,
                                                                "ItemChargeList": [
                                                                    {
                                                                        "ChargeType": "Tax",
                                                                        "ChargeAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ],
                                                                "ItemChargeAdjustmentList": [
                                                                    {
                                                                        "ChargeType": "Tax",
                                                                        "ChargeAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ],
                                                                "ItemFeeList": [
                                                                    {
                                                                        "FeeType": "FixedClosingFee",
                                                                        "FeeAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ],
                                                                "ItemFeeAdjustmentList": [
                                                                    {
                                                                        "FeeType": "FixedClosingFee",
                                                                        "FeeAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ],
                                                                "ItemTaxWithheldList": [
                                                                    {
                                                                        "TaxCollectionModel": "Free",
                                                                        "TaxesWithheld": [
                                                                            {
                                                                                "ChargeType": "Tax",
                                                                                "ChargeAmount": {
                                                                                    "CurrencyCode": "USD",
                                                                                    "CurrencyAmount": 25.37
                                                                                }
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "PromotionList": [
                                                                    {
                                                                        "PromotionType": "Free",
                                                                        "PromotionId": "546564565",
                                                                        "PromotionAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ],
                                                                "PromotionAdjustmentList": [
                                                                    {
                                                                        "PromotionType": "Free",
                                                                        "PromotionId": "546564565",
                                                                        "PromotionAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ],
                                                                "CostOfPointsGranted": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                },
                                                                "CostOfPointsReturned": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "ImagingServicesFeeEventList": [
                                                    {
                                                        "ImagingRequestBillingItemID": "456456456",
                                                        "ASIN": "4564565456456546456",
                                                        "PostedDate": "2020-02-05T13:56:00.363Z",
                                                        "FeeList": [
                                                            {
                                                                "FeeType": "FixedClosingFee",
                                                                "FeeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "NetworkComminglingTransactionEventList": [
                                                    {
                                                        "TransactionType": "Free",
                                                        "PostedDate": "2020-02-05T13:56:00.363Z",
                                                        "NetCoTransactionID": "4565645",
                                                        "SwapReason": "None",
                                                        "ASIN": "464567656576",
                                                        "MarketplaceId": "string",
                                                        "TaxExclusiveAmount": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "TaxAmount": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        }
                                                    }
                                                ],
                                                "AffordabilityExpenseReversalEventList": [
                                                    {
                                                        "AmazonOrderId": "444-555-3343433",
                                                        "PostedDate": "2020-02-05T13:56:00.363Z",
                                                        "MarketplaceId": "1",
                                                        "TransactionType": "Free",
                                                        "BaseExpense": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "TaxTypeCGST": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "TaxTypeSGST": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "TaxTypeIGST": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "TotalExpense": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        }
                                                    }
                                                ],
                                                "TrialShipmentEventList": [
                                                    {
                                                        "AmazonOrderId": "444-555-3343433",
                                                        "FinancialEventGroupId": "1",
                                                        "PostedDate": "2020-02-05T13:56:00.363Z",
                                                        "SKU": "456454455464",
                                                        "FeeList": [
                                                            {
                                                                "FeeType": "FixedClosingFee",
                                                                "FeeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "TaxWithholdingEventList": [
                                                    {
                                                        "PostedDate": "2020-02-05T13:56:00.363Z",
                                                        "BaseAmount": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "WithheldAmount": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "TaxWithholdingPeriod": {
                                                            "StartDate": "2020-02-05T13:56:00.363Z",
                                                            "EndDate": "2020-02-05T13:56:00.363Z"
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "请求缺少参数或参数无效，无法对其进行分析。",
                        "headers": {
                            "x-amzn-RateLimit-Limit": {
                                "description": "此操作的速率限制 (每秒请求数)。",
                                "type": "string"
                            },
                            "x-amzn-RequestId": {
                                "description": "唯一请求引用标识符。",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventsResponse"
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "eventGroupId": {
                                                "value": "BADID"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Bad event group ID provided."
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventsResponse"
                        },
                        "headers": {
                            "x-amzn-RequestId": {
                                "type": "string",
                                "description": "唯一请求引用标识符。"
                            }
                        }
                    },
                    "404": {
                        "description": "指定的资源不存在。",
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventsResponse"
                        },
                        "headers": {
                            "x-amzn-RateLimit-Limit": {
                                "type": "string",
                                "description": "此操作的速率限制 (每秒请求数)。"
                            },
                            "x-amzn-RequestId": {
                                "type": "string",
                                "description": "唯一请求引用标识符。"
                            }
                        }
                    },
                    "429": {
                        "description": "请求的频率大于允许的频率。",
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventsResponse"
                        },
                        "headers": {
                            "x-amzn-RequestId": {
                                "type": "string",
                                "description": "唯一请求引用标识符。"
                            }
                        }
                    },
                    "500": {
                        "description": "发生了阻止服务器完成请求的意外情况。",
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventsResponse"
                        },
                        "headers": {
                            "x-amzn-RequestId": {
                                "type": "string",
                                "description": "唯一请求引用标识符。"
                            }
                        }
                    },
                    "503": {
                        "description": "服务器的临时过载或维护。",
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventsResponse"
                        },
                        "headers": {
                            "x-amzn-RequestId": {
                                "type": "string",
                                "description": "唯一请求引用标识符。"
                            }
                        }
                    }
                }
            }
        },
        "/finances/v0/orders/{orderId}/financialEvents": {
            "get": {
                "description": "返回指定订单的所有财务事件。订单可能需要长达48小时才能出现在您的财务活动中。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 0.5 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
                "operationId": "listFinancialEventsByOrderId",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "Amazon定义的订单标识符，格式为3-7-7。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "MaxResultsPerPage",
                        "in": "query",
                        "description": "每页返回的最大结果数。如果响应超过最大事务数或10 MB，API将使用 “invalidinput” 进行响应。",
                        "required": false,
                        "type": "integer",
                        "default": 100,
                        "maximum": 100,
                        "minimum": 1,
                        "format": "int32"
                    },
                    {
                        "name": "NextToken",
                        "in": "query",
                        "description": "上一个请求的响应中返回的字符串令牌。",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "已成功检索财务事件。",
                        "headers": {
                            "x-amzn-RateLimit-Limit": {
                                "description": "此操作的速率限制 (每秒请求数)。",
                                "type": "string"
                            },
                            "x-amzn-RequestId": {
                                "description": "唯一请求引用标识符。",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventsResponse"
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "MaxResultsPerPage": {
                                                "value": 10
                                            },
                                            "orderId": {
                                                "value": "485-734-5434857"
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": {
                                            "NextToken": "Next token value",
                                            "FinancialEvents": {
                                                "RetrochargeEventList": [
                                                    {
                                                        "RetrochargeEventType": "Retrocharge",
                                                        "AmazonOrderId": "444-555-3343433",
                                                        "PostedDate": "2020-02-05T13:56:00.363Z",
                                                        "BaseTax": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "ShippingTax": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "MarketplaceName": "1",
                                                        "RetrochargeTaxWithheldList": [
                                                            {
                                                                "TaxCollectionModel": "Free",
                                                                "TaxesWithheld": [
                                                                    {
                                                                        "ChargeType": "Tax",
                                                                        "ChargeAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "RentalTransactionEventList": [
                                                    {
                                                        "AmazonOrderId": "444-555-3343433",
                                                        "RentalEventType": "string",
                                                        "ExtensionLength": 0,
                                                        "PostedDate": "2020-02-05T13:56:00.363Z",
                                                        "RentalChargeList": [
                                                            {
                                                                "ChargeType": "Tax",
                                                                "ChargeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "RentalFeeList": [
                                                            {
                                                                "FeeType": "FixedClosingFee",
                                                                "FeeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "MarketplaceName": "1",
                                                        "RentalInitialValue": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "RentalReimbursement": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "RentalTaxWithheldList": [
                                                            {
                                                                "TaxCollectionModel": "Free",
                                                                "TaxesWithheld": [
                                                                    {
                                                                        "ChargeType": "Tax",
                                                                        "ChargeAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "ProductAdsPaymentEventList": [
                                                    {
                                                        "postedDate": "2020-02-05T13:56:00.363Z",
                                                        "transactionType": "Free",
                                                        "invoiceId": "3454535453",
                                                        "baseValue": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "taxValue": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "transactionValue": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        }
                                                    }
                                                ],
                                                "ServiceFeeEventList": [
                                                    {
                                                        "AmazonOrderId": "444-555-3343433",
                                                        "FeeReason": "Free",
                                                        "FeeList": [
                                                            {
                                                                "FeeType": "FixedClosingFee",
                                                                "FeeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "SellerSKU": "456454455464",
                                                        "FnSKU": "Fn134",
                                                        "FeeDescription": "FeeDescription",
                                                        "ASIN": "KJHJ457648GHD"
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "请求缺少参数或参数无效，无法对其进行分析。",
                        "headers": {
                            "x-amzn-RateLimit-Limit": {
                                "description": "此操作的速率限制 (每秒请求数)。",
                                "type": "string"
                            },
                            "x-amzn-RequestId": {
                                "description": "唯一请求引用标识符。",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventsResponse"
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "orderId": {
                                                "value": "BAD-ORDER"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Bad order ID provided."
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventsResponse"
                        },
                        "headers": {
                            "x-amzn-RequestId": {
                                "type": "string",
                                "description": "唯一请求引用标识符。"
                            }
                        }
                    },
                    "404": {
                        "description": "指定的资源不存在。",
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventsResponse"
                        },
                        "headers": {
                            "x-amzn-RateLimit-Limit": {
                                "type": "string",
                                "description": "此操作的速率限制 (每秒请求数)。"
                            },
                            "x-amzn-RequestId": {
                                "type": "string",
                                "description": "唯一请求引用标识符。"
                            }
                        }
                    },
                    "429": {
                        "description": "请求的频率大于允许的频率。",
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventsResponse"
                        },
                        "headers": {
                            "x-amzn-RequestId": {
                                "type": "string",
                                "description": "唯一请求引用标识符。"
                            }
                        }
                    },
                    "500": {
                        "description": "发生了阻止服务器完成请求的意外情况。",
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventsResponse"
                        },
                        "headers": {
                            "x-amzn-RequestId": {
                                "type": "string",
                                "description": "唯一请求引用标识符。"
                            }
                        }
                    },
                    "503": {
                        "description": "服务器的临时过载或维护。",
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventsResponse"
                        },
                        "headers": {
                            "x-amzn-RequestId": {
                                "type": "string",
                                "description": "唯一请求引用标识符。"
                            }
                        }
                    }
                }
            }
        },
        "/finances/v0/financialEvents": {
            "get": {
                "description": "返回指定数据范围的财务事件。订单可能需要长达48小时才能出现在您的财务活动中。** 注意: ** 在 “listfinancialevents” 中，延迟事件在发布之前不会显示在响应中。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 0.5 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
                "operationId": "listFinancialEvents",
                "parameters": [
                    {
                        "name": "MaxResultsPerPage",
                        "in": "query",
                        "description": "每页返回的最大结果数。如果响应超过最大事务数或10 MB，API将使用 “invalidinput” 进行响应。",
                        "required": false,
                        "type": "integer",
                        "default": 100,
                        "maximum": 100,
                        "minimum": 1,
                        "format": "int32"
                    },
                    {
                        "name": "PostedAfter",
                        "in": "query",
                        "description": "用于选择在指定时间之后 (或在指定时间) 发布的财务事件的日期。日期时间不得晚于提交请求之前的两分钟，采用 [ISO 8601](https:// developer-docs.amazon.com/sp-api/docs/iso-8601) 日期时间格式。",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "PostedBefore",
                        "in": "query",
                        "description": "用于选择在指定时间之前 (而不是在指定时间) 发布的财务事件的日期。日期时间必须晚于postedafture，且不超过提交请求前两分钟，采用 [ISO 8601](https:// developer-docs.amazon.com/sp-api/docs/iso-8601) 日期时间格式。如果postedafture和PostedBefore相隔超过180天，则不会返回任何财务事件。如果指定PostedBefore参数，则必须指定postedafer参数。默认值: 现在减去两分钟。",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "NextToken",
                        "in": "query",
                        "description": "上一个请求的响应中返回的字符串令牌。",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功。",
                        "headers": {
                            "x-amzn-RateLimit-Limit": {
                                "description": "此操作的速率限制 (每秒请求数)。",
                                "type": "string"
                            },
                            "x-amzn-RequestId": {
                                "description": "唯一请求引用标识符。",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventsResponse"
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "MaxResultsPerPage": {
                                                "value": 10
                                            },
                                            "NextToken": {
                                                "value": "jehgri34yo7jr9e8f984tr9i4o"
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": {
                                            "NextToken": "Next token value",
                                            "FinancialEvents": {
                                                "PayWithAmazonEventList": [
                                                    {
                                                        "SellerOrderId": "454645645656456",
                                                        "TransactionPostedDate": "2020-02-05T13:56:00.363Z",
                                                        "BusinessObjectType": "Free",
                                                        "SalesChannel": "None",
                                                        "Charge": {
                                                            "ChargeType": "Tax",
                                                            "ChargeAmount": {
                                                                "CurrencyCode": "USD",
                                                                "CurrencyAmount": 25.37
                                                            }
                                                        },
                                                        "FeeList": [
                                                            {
                                                                "FeeType": "FixedClosingFee",
                                                                "FeeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "PaymentAmountType": "Tax",
                                                        "AmountDescription": "Tax",
                                                        "FulfillmentChannel": "FulfillmentChannel",
                                                        "StoreName": "Etsy"
                                                    }
                                                ],
                                                "ServiceProviderCreditEventList": [
                                                    {
                                                        "ProviderTransactionType": "Free",
                                                        "SellerOrderId": "454645645656456",
                                                        "MarketplaceId": "1",
                                                        "MarketplaceCountryCode": "US",
                                                        "SellerId": "4564565546",
                                                        "SellerStoreName": "Etsy",
                                                        "ProviderId": "1",
                                                        "ProviderStoreName": "Etsy",
                                                        "TransactionAmount": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "TransactionCreationDate": "2020-02-05T13:56:00.363Z"
                                                    }
                                                ],
                                                "RentalTransactionEventList": [
                                                    {
                                                        "AmazonOrderId": "444-555-3343433",
                                                        "RentalEventType": "string",
                                                        "ExtensionLength": 0,
                                                        "PostedDate": "2020-02-05T13:56:00.363Z",
                                                        "RentalChargeList": [
                                                            {
                                                                "ChargeType": "Tax",
                                                                "ChargeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "RentalFeeList": [
                                                            {
                                                                "FeeType": "FixedClosingFee",
                                                                "FeeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "MarketplaceName": "1",
                                                        "RentalInitialValue": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "RentalReimbursement": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "RentalTaxWithheldList": [
                                                            {
                                                                "TaxCollectionModel": "Free",
                                                                "TaxesWithheld": [
                                                                    {
                                                                        "ChargeType": "Tax",
                                                                        "ChargeAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "ProductAdsPaymentEventList": [
                                                    {
                                                        "postedDate": "2020-02-05T13:56:00.363Z",
                                                        "transactionType": "Free",
                                                        "invoiceId": "3454535453",
                                                        "baseValue": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "taxValue": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "transactionValue": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "请求缺少参数或参数无效，无法对其进行分析。",
                        "headers": {
                            "x-amzn-RateLimit-Limit": {
                                "description": "此操作的速率限制 (每秒请求数)。",
                                "type": "string"
                            },
                            "x-amzn-RequestId": {
                                "description": "唯一请求引用标识符。",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventsResponse"
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "MaxResultsPerPage": {
                                                "value": 2
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Input not valid."
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventsResponse"
                        },
                        "headers": {
                            "x-amzn-RequestId": {
                                "type": "string",
                                "description": "唯一请求引用标识符。"
                            }
                        }
                    },
                    "404": {
                        "description": "指定的资源不存在。",
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventsResponse"
                        },
                        "headers": {
                            "x-amzn-RateLimit-Limit": {
                                "type": "string",
                                "description": "此操作的速率限制 (每秒请求数)。"
                            },
                            "x-amzn-RequestId": {
                                "type": "string",
                                "description": "唯一请求引用标识符。"
                            }
                        }
                    },
                    "429": {
                        "description": "请求的频率大于允许的频率。",
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventsResponse"
                        },
                        "headers": {
                            "x-amzn-RequestId": {
                                "type": "string",
                                "description": "唯一请求引用标识符。"
                            }
                        }
                    },
                    "500": {
                        "description": "发生了阻止服务器完成请求的意外情况。",
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventsResponse"
                        },
                        "headers": {
                            "x-amzn-RequestId": {
                                "type": "string",
                                "description": "唯一请求引用标识符。"
                            }
                        }
                    },
                    "503": {
                        "description": "服务器的临时过载或维护。",
                        "schema": {
                            "$ref": "#/definitions/ListFinancialEventsResponse"
                        },
                        "headers": {
                            "x-amzn-RequestId": {
                                "type": "string",
                                "description": "唯一请求引用标识符。"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "AdhocDisbursementEvent": {
            "type": "object",
            "properties": {
                "TransactionType": {
                    "type": "string",
                    "description": "指示事务的类型。\n\n示例: “已支付到亚马逊礼品卡余额”"
                },
                "PostedDate": {
                    "description": "发布财务事件的日期和时间。",
                    "$ref": "#/definitions/Date"
                },
                "TransactionId": {
                    "type": "string",
                    "description": "事务的标识符。"
                },
                "TransactionAmount": {
                    "description": "交易的金额。",
                    "$ref": "#/definitions/Currency"
                }
            },
            "description": "与即席支付有关的事件。"
        },
        "AdhocDisbursementEventList": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/AdhocDisbursementEvent"
            },
            "description": "“即席支出” 事件的列表。"
        },
        "AdjustmentEvent": {
            "type": "object",
            "properties": {
                "AdjustmentType": {
                    "type": "string",
                    "description": "调整的类型。\n\nPossible values:\n\n* Fbainventoryinvensement-向卖方帐户偿还的FBA库存。如果卖方的库存损坏，就会发生这种情况。\n\n* ReserveEvent-在结算期结束时生成的储备事件。当卖家账户中的一些钱被扣留时，就会发生这种情况。\n\n* PostageBilling-卖方为运输标签支付的金额。\n\n* PostageRefund-为取消或退款的订单购买的运输标签的报销。\n\n* Lostordamagedorsement-Amazon Easy Ship向卖方帐户报销我们丢失或损坏的包裹。\n\n* Canceledbutpickepreumbursement-亚马逊轻松发货报销到卖家的帐户。这发生在包裹被拾取并且随后取消订单时。此值仅在印度市场中使用。\n\n* 报销-来自卖家账户的亚马逊Easy Ship报销回扣。当先前的报销被撤销时，就会发生这种情况。此值仅在印度市场中使用。\n\n* SellerRewards-因卖家参与卖家奖励计划中的优惠而记入卖家账户的奖励。仅适用于印度市场。"
                },
                "PostedDate": {
                    "description": "发布财务事件的日期和时间。",
                    "$ref": "#/definitions/Date"
                },
                "AdjustmentAmount": {
                    "description": "作为此事件的一部分调整的金额。",
                    "$ref": "#/definitions/Currency"
                },
                "AdjustmentItemList": {
                    "description": "有关帐户调整的信息列表。",
                    "$ref": "#/definitions/AdjustmentItemList"
                }
            },
            "description": "对卖方账户的调整。"
        },
        "AdjustmentEventList": {
            "type": "array",
            "description": "卖方账户的调整事件信息列表",
            "items": {
                "$ref": "#/definitions/AdjustmentEvent"
            }
        },
        "AdjustmentItem": {
            "type": "object",
            "properties": {
                "Quantity": {
                    "type": "string",
                    "description": "表示当AdustmentType为fbainventory偿付时卖方库存中的单位数。"
                },
                "PerUnitAmount": {
                    "description": "项目的每单位值。",
                    "$ref": "#/definitions/Currency"
                },
                "TotalAmount": {
                    "description": "项目的总值。",
                    "$ref": "#/definitions/Currency"
                },
                "SellerSKU": {
                    "type": "string",
                    "description": "商品的卖家SKU。卖方SKU由卖方的卖方ID限定，卖方ID包含在对销售合作伙伴API的每次调用中。"
                },
                "FnSKU": {
                    "type": "string",
                    "description": "分配给存储在履行中心并从履行中心履行的产品的唯一标识符。"
                },
                "ProductDescription": {
                    "type": "string",
                    "description": "项目的简短说明。"
                },
                "ASIN": {
                    "type": "string",
                    "description": "商品的Amazon标准标识号 (ASIN)。"
                },
                "TransactionNumber": {
                    "type": "string",
                    "description": "与调整相关的事务处理编号。"
                }
            },
            "description": "卖方帐户调整中的项目。"
        },
        "AdjustmentItemList": {
            "type": "array",
            "description": "有关卖方帐户调整中的项目的信息列表。",
            "items": {
                "$ref": "#/definitions/AdjustmentItem"
            }
        },
        "AffordabilityExpenseEvent": {
            "type": "object",
            "required": [
                "TaxTypeCGST",
                "TaxTypeIGST",
                "TaxTypeSGST"
            ],
            "properties": {
                "AmazonOrderId": {
                    "type": "string",
                    "description": "Amazon定义的订单标识符。"
                },
                "PostedDate": {
                    "description": "创建财务事件的日期和时间。",
                    "$ref": "#/definitions/Date"
                },
                "MarketplaceId": {
                    "type": "string",
                    "description": "Amazon定义的加密市场标识符。"
                },
                "TransactionType": {
                    "type": "string",
                    "description": "Indicates the type of transaction. \n\nPossible values:\n\n* 收费-支付可负担性促销费用。\n\n* 退款-用于可负担性促销费用冲销。"
                },
                "BaseExpense": {
                    "description": "赞助产品计划下产生的点击费用。",
                    "$ref": "#/definitions/Currency"
                },
                "TaxTypeCGST": {
                    "description": "中央商品和服务税，由中央政府收取和征收。",
                    "$ref": "#/definitions/Currency"
                },
                "TaxTypeSGST": {
                    "description": "国家商品和服务税，由州政府收取。",
                    "$ref": "#/definitions/Currency"
                },
                "TaxTypeIGST": {
                    "description": "综合商品和服务税，由中央政府收取。",
                    "$ref": "#/definitions/Currency"
                },
                "TotalExpense": {
                    "description": "向卖方收取的总金额。TotalExpense = BaseExpense TaxTypeIGST TaxTypeCGST TaxTypeSGST.",
                    "$ref": "#/definitions/Currency"
                }
            },
            "description": "与可负担性促销有关的费用。"
        },
        "AffordabilityExpenseEventList": {
            "type": "array",
            "description": "与负担能力促销相关的费用信息列表。",
            "items": {
                "$ref": "#/definitions/AffordabilityExpenseEvent"
            }
        },
        "BigDecimal": {
            "type": "number",
            "description": "架构类型为BigDecimal的字段是带符号的十进制数 (例如currency量值)。"
        },
        "ChargeComponent": {
            "type": "object",
            "properties": {
                "ChargeType": {
                    "type": "string",
                    "description": "电荷的类型。"
                },
                "ChargeAmount": {
                    "description": "费用的金额。",
                    "$ref": "#/definitions/Currency"
                }
            },
            "description": "卖方帐户上的费用。\n\nPossible values:\n\n* 本金-订单项目的售价，等于该项目的售价乘以订购的数量。\n\n* 税-卖方对委托人征收的税。\n\n* Marketplaceacilitatortax-本金-对本金预扣的税款。\n\n* Marketplaceacitatortax-Shipping-ShippingCharge的预扣税款。\n\n* Marketplaceacitatortax-Giftwrap-对Giftwrap费用预扣的税款。\n\n* Marketplaceacilitatortax-其他杂项费用的预扣税款。\n\n* 折扣-订单项目的促销折扣。\n\n* 税收折扣-为促销回扣扣除的税额。\n\n* CODItemCharge-订单项目的COD费用。\n\n* CODItemTaxCharge-卖方在CODItemCharge上收取的税款。\n\n* CODOrderCharge-订单的COD费用。\n\n* CODOrderTaxCharge-卖方在CODOrderCharge上收取的税款。\n\n* CODShippingCharge-COD订单的运费。\n\n* CODShippingTaxCharge-卖方在CODShippingCharge上收取的税款。\n\n* ShippingCharge-运费。\n\n* ShippingTax-卖方对ShippingCharge收取的税。\n\n* 商誉-作为善意的姿态或补偿购买体验中的痛苦和痛苦而给予买家的金额。\n\n* Giftwrap-礼品包装费。\n\n* GiftwrapTax-卖方对Giftwrap收取的税款。\n\n* RestockingFee-在返回某些类别的产品时向买方收取的费用。\n\n* ReturnShipping-给予买方的金额，以补偿在我们有过错的情况下将物品运回。\n\n* PointsFee-如果买家没有足够的亚马逊积分来支付扣除额，则从退款中扣除的亚马逊积分价值。\n\n* Genericduction-一般的坏账扣除额。\n\n* FreeReplacementReturnShipping-当买家收到错误的物品，要求免费更换，并返回不正确的物品时，退货运费的补偿。\n\n* PaymentMethodFee-在某些市场中为某些付款方式收取的费用。\n\n* ExportCharge-作为亚马逊全球计划的一部分，当物品运往国际目的地时收取的出口税。\n\n* SAFE-T报销-项目的SAFE-T索赔金额。\n\n* TCS-CGST-中央商品和服务税 (CGST) 的源头税 (TCS)。\n\n* TCS-SGST-在来源处收取的国家商品和服务税 (SGST) 税。\n\n* Tcs-igst-在源头征收的综合商品和服务税 (IGST) 税。\n\n* Tcs-utgst-在来源处为联合领土商品和服务税 (UTGST) 征收的税。"
        },
        "ChargeComponentList": {
            "type": "array",
            "description": "卖方帐户上的收费信息清单。",
            "items": {
                "$ref": "#/definitions/ChargeComponent"
            }
        },
        "ChargeInstrument": {
            "type": "object",
            "properties": {
                "Description": {
                    "type": "string",
                    "description": "充电仪器的简短说明。"
                },
                "Tail": {
                    "type": "string",
                    "description": "收费工具的帐户尾部 (尾随数字)。"
                },
                "Amount": {
                    "description": "记入此收费表的金额。",
                    "$ref": "#/definitions/Currency"
                }
            },
            "description": "支付工具。"
        },
        "ChargeInstrumentList": {
            "type": "array",
            "description": "支付工具清单。",
            "items": {
                "$ref": "#/definitions/ChargeInstrument"
            }
        },
        "ChargeRefundEvent": {
            "type": "object",
            "properties": {
                "PostedDate": {
                    "description": "发布财务事件的日期和时间。",
                    "$ref": "#/definitions/Date"
                },
                "ReasonCode": {
                    "type": "string",
                    "description": "退款的原因。\n\n示例: 'subscriptionfeecorretion'"
                },
                "ReasonCodeDescription": {
                    "type": "string",
                    "description": "原因代码的说明。\n\n示例: 'subscriptionfeecorretion'"
                },
                "ChargeRefundTransactions": {
                    "description": "费用退款信用的金额。",
                    "$ref": "#/definitions/ChargeRefundTransactions"
                }
            },
            "description": "与退款相关的事件。"
        },
        "ChargeRefundEventList": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/ChargeRefundEvent"
            },
            "description": "费用退款事件列表。"
        },
        "ChargeRefundTransaction": {
            "type": "object",
            "properties": {
                "ChargeAmount": {
                    "description": "费用退款信用的金额。",
                    "$ref": "#/definitions/Currency"
                },
                "ChargeType": {
                    "type": "string",
                    "description": "电荷的类型。"
                }
            },
            "description": "费用退款交易。"
        },
        "ChargeRefundTransactions": {
            "type": "array",
            "description": "“Chargerefund” 交易列表",
            "items": {
                "$ref": "#/definitions/ChargeRefundTransaction"
            }
        },
        "CouponPaymentEvent": {
            "type": "object",
            "properties": {
                "PostedDate": {
                    "description": "发布财务事件的日期和时间。",
                    "$ref": "#/definitions/Date"
                },
                "CouponId": {
                    "type": "string",
                    "description": "优惠券标识符。"
                },
                "SellerCouponDescription": {
                    "type": "string",
                    "description": "卖家在创建优惠券时提供的描述。"
                },
                "ClipOrRedemptionCount": {
                    "type": "integer",
                    "format": "int64",
                    "description": "券回扣或赎回的数量。"
                },
                "PaymentEventId": {
                    "type": "string",
                    "description": "付款事件标识符。"
                },
                "FeeComponent": {
                    "$ref": "#/definitions/FeeComponent"
                },
                "ChargeComponent": {
                    "$ref": "#/definitions/ChargeComponent"
                },
                "TotalAmount": {
                    "description": "FeeComponent值加上ChargeComponent值。",
                    "$ref": "#/definitions/Currency"
                }
            },
            "description": "与优惠券支付有关的事件。"
        },
        "CouponPaymentEventList": {
            "type": "array",
            "description": "优惠券支付事件信息的列表。",
            "items": {
                "$ref": "#/definitions/CouponPaymentEvent"
            }
        },
        "Currency": {
            "type": "object",
            "properties": {
                "CurrencyCode": {
                    "type": "string",
                    "description": "ISO 4217格式的三位数货币代码。"
                },
                "CurrencyAmount": {
                    "description": "货币价值。",
                    "$ref": "#/definitions/BigDecimal"
                }
            },
            "description": "货币类型和金额。"
        },
        "Date": {
            "type": "string",
            "format": "date-time",
            "description": "架构类型为date的字段采用ISO 8601日期时间格式 (例如GroupBeginDate)。"
        },
        "DebtRecoveryEvent": {
            "type": "object",
            "properties": {
                "DebtRecoveryType": {
                    "type": "string",
                    "description": "债务回收类型。\n\nPossible values:\n\n* 债务支付\n\n* DebtPaymentFailure\n\n* 债务调整"
                },
                "RecoveryAmount": {
                    "description": "申请恢复的金额。",
                    "$ref": "#/definitions/Currency"
                },
                "OverPaymentCredit": {
                    "description": "因多付而退回的金额。",
                    "$ref": "#/definitions/Currency"
                },
                "DebtRecoveryItemList": {
                    "$ref": "#/definitions/DebtRecoveryItemList"
                },
                "ChargeInstrumentList": {
                    "$ref": "#/definitions/ChargeInstrumentList"
                }
            },
            "description": "债务偿还或债务调整。"
        },
        "DebtRecoveryEventList": {
            "type": "array",
            "description": "债务追偿事件信息列表。",
            "items": {
                "$ref": "#/definitions/DebtRecoveryEvent"
            }
        },
        "DebtRecoveryItem": {
            "type": "object",
            "properties": {
                "RecoveryAmount": {
                    "description": "为恢复项目应用的金额。",
                    "$ref": "#/definitions/Currency"
                },
                "OriginalAmount": {
                    "description": "原始债务金额。",
                    "$ref": "#/definitions/Currency"
                },
                "GroupBeginDate": {
                    "description": "包含债务的财务事件组的开始日期和时间。采用 [ISO 8601](https:// developer-docs.amazon.com/sp-api/docs/iso-8601) 日期时间格式。",
                    "$ref": "#/definitions/Date"
                },
                "GroupEndDate": {
                    "description": "包含债务的财务事件组的结束日期和时间。采用 [ISO 8601](https:// developer-docs.amazon.com/sp-api/docs/iso-8601) 日期时间格式。",
                    "$ref": "#/definitions/Date"
                }
            },
            "description": "债务支付或债务调整的项目。"
        },
        "DebtRecoveryItemList": {
            "type": "array",
            "description": "债务追偿项目信息清单。",
            "items": {
                "$ref": "#/definitions/DebtRecoveryItem"
            }
        },
        "DirectPayment": {
            "type": "object",
            "properties": {
                "DirectPaymentType": {
                    "type": "string",
                    "description": "付款的类型。\n\nPossible values:\n\n* Storedvaluecardreceivenue-由于卖方通过储值卡收到款项而从卖方帐户中扣除的金额。\n\n* StoredValueCardRefund-如果使用储值卡购买的订单被退款，亚马逊将退还给卖家的金额。\n\n* Privatelabeelcreditcardrevenue-从卖方帐户中扣除的金额，因为卖方通过亚马逊提供的自有品牌信用卡收到了款项。\n\n* Privatelabeelcreditcardrefund-如果使用亚马逊提供的自有品牌信用卡购买的订单被退还，亚马逊将退还给卖家的金额。\n\n* Collectondeliveryrecays-卖方直接从买方收取的COD金额。\n\n* CollectOnDeliveryRefund-如果COD支付的订单被退款，亚马逊向买方退款的金额。"
                },
                "DirectPaymentAmount": {
                    "description": "直接付款的金额。",
                    "$ref": "#/definitions/Currency"
                }
            },
            "description": "直接支付给卖方的款项。"
        },
        "DirectPaymentList": {
            "type": "array",
            "description": "直接付款信息列表。",
            "items": {
                "$ref": "#/definitions/DirectPayment"
            }
        },
        "FailedAdhocDisbursementEventList": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/FailedAdhocDisbursementEvent"
            },
            "description": "一份 'FailedAdhocDisbursementEvent's '的名单。"
        },
        "FailedAdhocDisbursementEvent": {
            "type": "object",
            "properties": {
                "FundsTransfersType": {
                    "type": "string",
                    "description": "资金转移的类型。\n\n示例 “退款”"
                },
                "TransferId": {
                    "type": "string",
                    "description": "传输标识符。"
                },
                "DisbursementId": {
                    "type": "string",
                    "description": "支出标识符。"
                },
                "PaymentDisbursementType": {
                    "type": "string",
                    "description": "支付的类型。\n\n示例 “CREDIT_CARD”"
                },
                "Status": {
                    "type": "string",
                    "description": "失败的 “即席付款” 的状态。\n\n示例 “hard_drewed”"
                },
                "TransferAmount": {
                    "description": "临时支付的金额。",
                    "$ref": "#/definitions/Currency"
                },
                "PostedDate": {
                    "description": "发布财务事件的日期和时间。",
                    "$ref": "#/definitions/Date"
                }
            },
            "description": "临时支付事件列表失败。"
        },
        "FBALiquidationEvent": {
            "type": "object",
            "properties": {
                "PostedDate": {
                    "description": "发布财务事件的日期和时间。",
                    "$ref": "#/definitions/Date"
                },
                "OriginalRemovalOrderId": {
                    "type": "string",
                    "description": "原始删除顺序的标识符。"
                },
                "LiquidationProceedsAmount": {
                    "description": "清算人为卖方存货支付的金额。卖方收到此金额减去清算金额。",
                    "$ref": "#/definitions/Currency"
                },
[...]
