{
  "swagger": "2.0",
  "info": {
    "description": "借助征集API，您可以构建向买家发送非关键征集的应用程序。您可以获取您指定的订单可用的招标类型列表，然后调用向该订单的买方发送招标的操作。买方无法响应此API发送的请求，并且这些请求不会显示在Seller Central的消息部分或收件人的消息中心中。请求API返回根据 <a href = https://tools.ietf.org/html/ draft-kelly-json-hal-08>JSON超文本应用程序语言 </a> (HAL) 标准形成的响应。",
    "version": "v1",
    "title": "销售合作伙伴API以进行招标",
    "contact": {
      "name": "Selling Partner API Developer Support",
      "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "sellingpartnerapi-na.amazon.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/hal+json"
  ],
  "paths": {
    "/solicitations/v1/orders/{amazonOrderId}": {
      "get": {
        "tags": [
          "solicitations"
        ],
        "description": "返回可用于您指定的订单的征求类型的列表。请求类型由actions对象表示，该对象包含路径和查询参数。您可以使用路径和参数来调用发送请求的操作。目前只有productreviewandsellerfeedbackretitation请求类型可用。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 1 | 5 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getSolicitationActionsForOrder",
        "parameters": [
          {
            "name": "amazonOrderId",
            "in": "path",
            "description": "Amazon订单标识符。这将指定您想要的可用征求类型列表的顺序。",
            "required": true,
            "type": "string"
          },
          {
            "name": "marketplaceIds",
            "in": "query",
            "description": "市场标识符。这指定了下订单的市场。只能指定一个市场。",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 1
          }
        ],
        "responses": {
          "200": {
            "description": "返回 _links.actions键下的超媒体链接，这些链接指定允许对订单执行哪些请求操作。",
            "schema": {
              "$ref": "#/definitions/GetSolicitationActionsForOrderResponse"
            },
            "examples": {
              "application/hal+json": {
                "_links": {
                  "actions": [
                    {
                      "href": "/solicitations/v1/orders/903-1671087-0812628/solicitations/productReviewAndSellerFeedback?marketplaceIds=ATVPDKIKX0DER",
                      "name": "productReviewAndSellerFeedback"
                    }
                  ],
                  "self": {
                    "href": "/solicitations/v1/orders/903-1671087-0812628?marketplaceIds=ATVPDKIKX0DER"
                  }
                },
                "_embedded": {
                  "actions": [
                    {
                      "_links": {
                        "schema": {
                          "href": "/solicitations/v1/orders/903-1671087-0812628/solicitations/productReviewAndSellerFeedback/schema",
                          "name": "productReviewAndSellerFeedback"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "amazonOrderId": {
                        "value": "123-1234567-1234567"
                      },
                      "marketplaceIds": {
                        "value": [
                          "ATVPDKIKX0DER"
                        ]
                      }
                    }
                  },
                  "response": {
                    "_links": {
                      "actions": [
                        {
                          "href": "/solicitations/v1/orders/123-1234567-1234567/solicitations/productReviewAndSellerFeedback?marketplaceIds=ATVPDKIKX0DER",
                          "name": "productReviewAndSellerFeedback"
                        }
                      ],
                      "self": {
                        "href": "/solicitations/v1/orders/123-1234567-1234567?marketplaceIds=ATVPDKIKX0DER"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/GetSolicitationActionsForOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/GetSolicitationActionsForOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/GetSolicitationActionsForOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/GetSolicitationActionsForOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/GetSolicitationActionsForOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/GetSolicitationActionsForOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/GetSolicitationActionsForOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/GetSolicitationActionsForOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    },
    "/solicitations/v1/orders/{amazonOrderId}/solicitations/productReviewAndSellerFeedback": {
      "post": {
        "tags": [
          "solicitations"
        ],
        "description": "向买方发送请求，要求卖方反馈和指定订单的产品评论。每个订单仅发送一个productReviewAndSellerFeedback或免费形式的主动消息。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 1 | 5 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "createProductReviewAndSellerFeedbackSolicitation",
        "parameters": [
          {
            "name": "amazonOrderId",
            "in": "path",
            "description": "Amazon订单标识符。这指定了发送请求的顺序。",
            "required": true,
            "type": "string"
          },
          {
            "name": "marketplaceIds",
            "in": "query",
            "description": "市场标识符。这指定了下订单的市场。只能指定一个市场。",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 1
          }
        ],
        "responses": {
          "201": {
            "description": "已为订单创建消息。",
            "schema": {
              "$ref": "#/definitions/CreateProductReviewAndSellerFeedbackSolicitationResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "amazonOrderId": {
                        "value": "123-1234567-1234567"
                      }
                    }
                  },
                  "response": {}
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/CreateProductReviewAndSellerFeedbackSolicitationResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/CreateProductReviewAndSellerFeedbackSolicitationResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/CreateProductReviewAndSellerFeedbackSolicitationResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "schema": {
              "$ref": "#/definitions/CreateProductReviewAndSellerFeedbackSolicitationResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "schema": {
              "$ref": "#/definitions/CreateProductReviewAndSellerFeedbackSolicitationResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/CreateProductReviewAndSellerFeedbackSolicitationResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/CreateProductReviewAndSellerFeedbackSolicitationResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/CreateProductReviewAndSellerFeedbackSolicitationResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "LinkObject": {
      "type": "object",
      "required": [
        "href"
      ],
      "properties": {
        "href": {
          "type": "string",
          "description": "此对象的URI。"
        },
        "name": {
          "type": "string",
          "description": "此对象的标识符。"
        }
      },
      "description": "一个Link对象。"
    },
    "SolicitationsAction": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "description": "包含模板名称的简单对象。"
    },
    "Schema": {
      "type": "object",
      "description": "描述操作的预期负载的JSON架构文档。可以根据 <a href = http:// json-schema.org/draft-04/schema>http:// json-schema.org/draft-04/schema</a> 验证此对象。",
      "additionalProperties": {}
    },
    "GetSolicitationActionsForOrderResponse": {
      "type": "object",
      "properties": {
        "_links": {
          "type": "object",
          "properties": {
            "self": {
              "$ref": "#/definitions/LinkObject"
            },
            "actions": {
              "type": "array",
              "description": "指定的amazonOrderId的合格操作。",
              "items": {
                "$ref": "#/definitions/LinkObject"
              }
            }
          },
          "required": [
            "actions",
            "self"
          ]
        },
        "_embedded": {
          "type": "object",
          "properties": {
            "actions": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GetSolicitationActionResponse"
              }
            }
          },
          "required": [
            "actions"
          ]
        },
        "errors": {
          "$ref": "#/definitions/ErrorList"
        }
      },
      "description": "getSolicitationActionsForOrder操作的响应架构。"
    },
    "GetSolicitationActionResponse": {
      "type": "object",
      "properties": {
        "_links": {
          "type": "object",
          "properties": {
            "self": {
              "$ref": "#/definitions/LinkObject"
            },
            "schema": {
              "$ref": "#/definitions/LinkObject"
            }
          },
          "required": [
            "schema",
            "self"
          ]
        },
        "_embedded": {
          "type": "object",
          "properties": {
            "schema": {
              "$ref": "#/definitions/GetSchemaResponse"
            }
          }
        },
        "payload": {
          "$ref": "#/definitions/SolicitationsAction"
        },
        "errors": {
          "$ref": "#/definitions/ErrorList"
        }
      },
      "description": "描述可以对订单执行的请求操作。提供指向描述预期输入的JSON架构文档的JSON超文本应用程序语言 (HAL) 链接。"
    },
    "GetSchemaResponse": {
      "type": "object",
      "properties": {
        "_links": {
          "type": "object",
          "properties": {
            "self": {
              "$ref": "#/definitions/LinkObject"
            }
          },
          "required": [
            "self"
          ]
        },
        "payload": {
          "$ref": "#/definitions/Schema"
        },
        "errors": {
          "$ref": "#/definitions/ErrorList"
        }
      }
    },
    "CreateProductReviewAndSellerFeedbackSolicitationResponse": {
      "type": "object",
      "properties": {
        "errors": {
          "$ref": "#/definitions/ErrorList"
        }
      },
      "description": "Createproductreviewandsellerfeedbackrescitation操作的响应架构。"
    },
    "ErrorList": {
      "type": "array",
      "description": "请求不成功时返回的错误响应列表。",
      "items": {
        "$ref": "#/definitions/Error"
      }
    },
    "Error": {
      "type": "object",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "string",
          "description": "标识发生的错误类型的错误代码。"
        },
        "message": {
          "type": "string",
          "description": "以人类可读的形式描述错误情况的消息。"
        },
        "details": {
          "type": "string",
          "description": "可以帮助呼叫者了解或解决问题的其他详细信息。"
        }
      },
      "description": "请求不成功时返回的错误响应。"
    }
  }
}