{
  "swagger": "2.0",
  "info": {
    "description": "用于出站履行的销售合作伙伴API允许您创建应用程序，帮助卖家使用亚马逊履行网络中的库存履行多渠道履行订单。您可以获取有关潜在和现有履行订单的信息。",
    "version": "2020-07-01",
    "title": "Selling Partner APIs for Fulfillment Outbound",
    "contact": {
      "name": "Selling Partner API Developer Support",
      "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "sellingpartnerapi-na.amazon.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/fba/outbound/2020-07-01/fulfillmentOrders/preview": {
      "x-amzn-api-sandbox": {
        "dynamic": {}
      },
      "post": {
        "tags": [
          "fbaOutbound"
        ],
        "description": "根据您指定的发运标准返回履行订单预览列表。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能具有比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getFulfillmentPreview",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetFulfillmentPreviewRequest"
            },
            "description": "Getfillmentpreviewrequest参数"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentPreviewResponse"
            },
            "examples": {
              "payload": {
                "fulfillmentPreviews": [
                  {
                    "shippingSpeedCategory": "Standard",
                    "isFulfillable": true,
                    "estimatedShippingWeight": {
                      "unit": "POUNDS",
                      "value": "22"
                    },
                    "estimatedFees": [
                      {
                        "name": "FBAPerUnitFulfillmentFee",
                        "amount": {
                          "currencyCode": "USD",
                          "value": "19.71"
                        }
                      }
                    ],
                    "fulfillmentPreviewShipments": [
                      {
                        "earliestShipDate": "2020-02-11T18:16:16Z",
                        "latestShipDate": "2020-02-11T18:16:16Z",
                        "earliestArrivalDate": "2020-02-17T18:16:16Z",
                        "latestArrivalDate": "2020-02-17T18:16:16Z",
                        "fulfillmentPreviewItems": [
                          {
                            "sellerSku": "PSMM-TEST-SKU-Jan-21_19_39_23-0788",
                            "quantity": 1,
                            "sellerFulfillmentOrderItemId": "OrderItemID2",
                            "estimatedShippingWeight": {
                              "unit": "POUNDS",
                              "value": "20"
                            },
                            "shippingWeightCalculationMethod": "Package"
                          }
                        ]
                      }
                    ],
                    "unfulfillablePreviewItems": [],
                    "marketplaceId": "ATVPDKIKX0DER",
                    "featureConstraints": [
                      {
                        "featureName": "BLANK_BOX",
                        "featureFulfillmentPolicy": "NotRequired"
                      },
                      {
                        "featureName": "BLOCK_AMZL",
                        "featureFulfillmentPolicy": "Required"
                      }
                    ]
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentPreviewResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentPreviewResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentPreviewResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentPreviewResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentPreviewResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentPreviewResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentPreviewResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    },
    "/fba/outbound/2020-07-01/deliveryOffers": {
      "x-amzn-api-sandbox": {
        "dynamic": {}
      },
      "post": {
        "tags": [
          "fbaOutbound"
        ],
        "description": "根据您指定的条件，返回包括估计交货日期和优惠到期日的交货选项。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 5 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能具有比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "deliveryOffers",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetDeliveryOffersRequest"
            },
            "description": "GetDeliveryOffersRequest参数"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/GetDeliveryOffersResponse"
            },
            "examples": {
              "payload": {
                "deliveryOffers": [
                  {
                    "expiresAt": "2023-10-11T18:00:00Z",
                    "dateRange": {
                      "earliest": "2023-10-13T10:00:00Z",
                      "latest": "2023-10-14T16:00:00Z"
                    },
                    "policy": {
                      "messaging": {
                        "text": "Get it as soon as Wed, Aug 23",
                        "locale": "en_US"
                      }
                    }
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/GetDeliveryOffersResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/GetDeliveryOffersResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/GetDeliveryOffersResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/GetDeliveryOffersResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/GetDeliveryOffersResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/GetDeliveryOffersResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/GetDeliveryOffersResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    },
    "/fba/outbound/2020-07-01/fulfillmentOrders": {
      "x-amzn-api-sandbox": {
        "dynamic": {}
      },
      "get": {
        "tags": [
          "fbaOutbound"
        ],
        "description": "返回在指定日期-时间之后 (或在指定日期-时间) 或由下一个令牌参数指示的履行订单的列表。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能具有比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)",
        "operationId": "listAllFulfillmentOrders",
        "parameters": [
          {
            "name": "queryStartDate",
            "in": "query",
            "description": "用于选择在指定时间之后 (或在指定时间) 最后更新的履行订单的日期。更新定义为履行订单状态的任何更改，包括创建新的履行订单。",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "nextToken",
            "in": "query",
            "description": "在对上一个请求的响应中返回的字符串令牌。",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/ListAllFulfillmentOrdersResponse"
            },
            "examples": {
              "payload": {
                "fulfillmentOrders": [
                  {
                    "sellerFulfillmentOrderId": "902-6018020-0202003",
                    "displayableOrderId": "mws-test-query-20100713023203751",
                    "displayableOrderDate": "2020-01-09T19:46:45Z",
                    "displayableOrderComment": "TestOrder",
                    "shippingSpeedCategory": "Standard",
                    "destinationAddress": {
                      "name": "Amazon",
                      "addressLine1": "1234 Amazon Way",
                      "addressLine2": "Suite 123",
                      "addressLine3": "Lane1",
                      "city": "Troy",
                      "stateOrRegion": "MI",
                      "countryCode": "US",
                      "postalCode": "48084"
                    },
                    "fulfillmentPolicy": "FillOrKill",
                    "receivedDate": "2020-01-21T21:07:13Z",
                    "fulfillmentOrderStatus": "RECEIVED",
                    "statusUpdatedDate": "2020-01-21T21:07:30Z",
                    "featureConstraints": [
                      {
                        "featureName": "BLANK_BOX",
                        "featureFulfillmentPolicy": "Required"
                      },
                      {
                        "featureName": "BLOCK_AMZL",
                        "featureFulfillmentPolicy": "Required"
                      }
                    ]
                  },
                  {
                    "sellerFulfillmentOrderId": "601-2020200-12345678",
                    "displayableOrderId": "TestOrder-FBAOutbound",
                    "displayableOrderDate": "2020-01-09T19:46:45Z",
                    "displayableOrderComment": "TestOrder",
                    "shippingSpeedCategory": "Standard",
                    "destinationAddress": {
                      "name": "Amazon",
                      "addressLine1": "1234 Amazon Way",
                      "addressLine2": "Suite 123",
                      "addressLine3": "Lane1",
                      "city": "Troy",
                      "stateOrRegion": "MI",
                      "countryCode": "US",
                      "postalCode": "48084"
                    },
                    "fulfillmentPolicy": "FillOrKill",
                    "receivedDate": "2020-01-23T19:56:41Z",
                    "fulfillmentOrderStatus": "COMPLETE",
                    "statusUpdatedDate": "2020-01-24T15:28:27Z",
                    "featureConstraints": null
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/ListAllFulfillmentOrdersResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/ListAllFulfillmentOrdersResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ListAllFulfillmentOrdersResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ListAllFulfillmentOrdersResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ListAllFulfillmentOrdersResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ListAllFulfillmentOrdersResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/ListAllFulfillmentOrdersResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "fbaOutbound"
        ],
        "description": "请求亚马逊将商品从亚马逊履行网络中的卖家库存运送到目标地址。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能具有比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)",
        "operationId": "createFulfillmentOrder",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentOrderRequest"
            },
            "description": "Createfillmentorderrequest参数"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    },
    "/fba/outbound/2020-07-01/tracking": {
      "x-amzn-api-sandbox": {
        "dynamic": {}
      },
      "get": {
        "tags": [
          "fbaOutbound"
        ],
        "description": "返回多渠道履行订单的出站发运中包裹的交货跟踪信息。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能具有比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getPackageTrackingDetails",
        "parameters": [
          {
            "name": "packageNumber",
            "in": "query",
            "description": "“Getculfillmentorder'” 操作返回的未加密的包标识符。",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/GetPackageTrackingDetailsResponse"
            },
            "examples": {
              "payload": {
                "packageNumber": 212794778,
                "trackingNumber": "1Z50V7420354708051",
                "customerTrackingLink": "https%3A%2F%2Fwww.swiship.com%2Ftrack%3Fid%3D1Z50V7420354708051%0A",
                "carrierCode": "UPS",
                "shipToAddress": {
                  "name": "Amazon",
                  "addressLine1": "1234 Amazon Way",
                  "addressLine2": "Suite 123",
                  "addressLine3": "Lane1",
                  "city": "Troy",
                  "stateOrRegion": "MI",
                  "countryCode": "US",
                  "postalCode": "48084"
                },
                "currentStatus": "DELIVERED",
                "currentStatusDescription": "Delivered to the destination address",
                "additionalLocationInfo": "AS_INSTRUCTED",
                "trackingEvents": [
                  {
                    "eventDate": "2020-01-22T00:15:55Z",
                    "eventAddress": {
                      "city": "Troy",
                      "state": "MI",
                      "country": "US"
                    },
                    "eventCode": "EVENT_301",
                    "eventDescription": "Delivered."
                  },
                  {
                    "eventDate": "2019-10-30T23:33:28Z",
                    "eventAddress": {
                      "city": "Phoenix",
                      "state": "AZ",
                      "country": "US"
                    },
                    "eventCode": "EVENT_206",
                    "eventDescription": "In transit to pickup location"
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/GetPackageTrackingDetailsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/GetPackageTrackingDetailsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/GetPackageTrackingDetailsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/GetPackageTrackingDetailsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/GetPackageTrackingDetailsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/GetPackageTrackingDetailsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/GetPackageTrackingDetailsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    },
    "/fba/outbound/2020-07-01/returnReasonCodes": {
      "x-amzn-api-sandbox": {
        "dynamic": {}
      },
      "get": {
        "tags": [
          "fbaOutbound"
        ],
        "description": "返回给定市场中卖家SKU的退货原因代码列表。此操作的参数可能包含需要URL编码的特殊字符。为避免在编码URL时出现sku错误，请参阅 [url编码](https:// developer-docs.amazon.com/sp-api/docs/url-encoding)。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能具有比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "listReturnReasonCodes",
        "parameters": [
          {
            "name": "sellerSku",
            "in": "query",
            "description": "需要退货原因代码的卖方SKU。",
            "required": true,
            "type": "string"
          },
          {
            "name": "marketplaceId",
            "in": "query",
            "description": "卖家想要退货原因代码的市场。",
            "required": false,
            "type": "string"
          },
          {
            "name": "sellerFulfillmentOrderId",
            "in": "query",
            "description": "创建履行订单时由卖方分配给物料的标识符。该服务使用此值来确定卖家想要退货原因代码的市场。",
            "required": false,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "“Reasoncodedetails” 响应对象的 “translateddescription” 属性应转换成的语言。",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/ListReturnReasonCodesResponse"
            },
            "examples": {
              "payload": {
                "reasonCodeDetails": [
                  {
                    "returnReasonCode": "CR-UNWANTED_ITEM",
                    "description": "不再需要/想要"
                  },
                  {
                    "returnReasonCode": "AMZ-PG-BAD-DESC",
                    "description": "与网站描述不同"
                  },
                  {
                    "returnReasonCode": "CR-DEFECTIVE",
                    "description": "有缺陷/不能正常工作"
                  },
                  {
                    "returnReasonCode": "CR-ORDERED_WRONG_ITEM",
                    "description": "意外订单"
                  },
                  {
                    "returnReasonCode": "CR-FOUND_BETTER_PRICE",
                    "description": "提供更好的价格"
                  },
                  {
                    "returnReasonCode": "CR-DAMAGED_BY_FC",
                    "description": "由于包装不当而损坏"
                  },
                  {
                    "returnReasonCode": "CR-MISSED_ESTIMATED_DELIVERY",
                    "description": "错过预计交货日期"
                  },
                  {
                    "returnReasonCode": "CR-MISSING_PARTS",
                    "description": "缺少零件或附件"
                  },
                  {
                    "returnReasonCode": "CR-DAMAGED_BY_CARRIER",
                    "description": "运输过程中损坏"
                  },
                  {
                    "returnReasonCode": "CR-SWITCHEROO",
                    "description": "与订购的不同"
                  },
                  {
                    "returnReasonCode": "CR-EXTRA_ITEM",
                    "description": "到了除了点了什么"
                  },
                  {
                    "returnReasonCode": "CR-UNAUTHORIZED_PURCHASE",
                    "description": "未经授权的购买"
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/ListReturnReasonCodesResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/ListReturnReasonCodesResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ListReturnReasonCodesResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ListReturnReasonCodesResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ListReturnReasonCodesResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ListReturnReasonCodesResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/ListReturnReasonCodesResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    },
    "/fba/outbound/2020-07-01/fulfillmentOrders/{sellerFulfillmentOrderId}/return": {
      "x-amzn-api-sandbox": {
        "dynamic": {}
      },
      "put": {
        "tags": [
          "fbaOutbound"
        ],
        "description": "创建一个完成退货。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能具有比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "createFulfillmentReturn",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentReturnRequest"
            },
            "description": "Createfillmentreturnrequest参数"
          },
          {
            "name": "sellerFulfillmentOrderId",
            "in": "path",
            "description": "在创建订单时由卖方分配给订单的标识符。卖方根据买方的退货要求，使用自己的记录找到正确的 'sellerfillmentorderid' 值。",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentReturnResponse"
            },
            "examples": {
              "payload": {
                "returnItems": [
                  {
                    "sellerReturnItemId": "testReturn11",
                    "sellerFulfillmentOrderItemId": "OrderItemID2",
                    "amazonShipmentId": "D4yZjWZVN",
                    "returnComment": "TestReturn",
                    "amazonReturnReasonCode": "UNKNOWN_OTHER_REASON",
                    "status": "New",
                    "statusChangedDate": "2020-02-07T04:14:38Z",
                    "returnAuthorizationId": "RMA3JTIPBJM42UU6"
                  }
                ],
                "invalidReturnItems": [],
                "returnAuthorizations": [
                  {
                    "returnAuthorizationId": "RMA3JTIPBJM42UU6",
                    "fulfillmentCenterId": "TUS1",
                    "returnToAddress": {
                      "name": "Returns Department",
                      "addressLine1": "5333 W. Lower Buckeye Road",
                      "districtOrCounty": "US",
                      "city": "Phoenix",
                      "stateOrRegion": "AZ",
                      "countryCode": "US",
                      "postalCode": "85043"
                    },
                    "amazonRmaId": "D50WttPHRRMA",
                    "rmaPageURL": "https://www.amazon.com/gp/orc/rml/D50WttPHRRMA"
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentReturnResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentReturnResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentReturnResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentReturnResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentReturnResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentReturnResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentReturnResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    },
    "/fba/outbound/2020-07-01/fulfillmentOrders/{sellerFulfillmentOrderId}": {
      "x-amzn-api-sandbox": {
        "dynamic": {}
      },
      "get": {
        "tags": [
          "fbaOutbound"
        ],
        "description": "返回由指定的订单标识符指示的履行订单。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能具有比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getFulfillmentOrder",
        "parameters": [
          {
            "name": "sellerFulfillmentOrderId",
            "in": "path",
            "description": "创建履行订单时由卖方分配给物料的标识符。",
            "required": true,
            "type": "string",
            "maxLength": 40
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentOrderResponse"
            },
            "examples": {
              "payload": {
                "fulfillmentOrder": {
                  "sellerFulfillmentOrderId": "FBATestOrder-1",
                  "marketplaceId": "ATVPDKIKX0DER",
                  "displayableOrderId": "TestOrder-FBAOutbound",
                  "displayableOrderDate": "2020-01-09T19:46:45Z",
                  "displayableOrderComment": "TestOrder",
                  "shippingSpeedCategory": "Standard",
                  "destinationAddress": {
                    "name": "Amazon",
                    "addressLine1": "1234 Amazon Way",
                    "addressLine2": "Suite 123",
                    "addressLine3": "Lane1",
                    "city": "Troy",
                    "stateOrRegion": "MI",
                    "countryCode": "US",
                    "postalCode": "48084"
                  },
                  "fulfillmentAction": "Ship",
                  "fulfillmentPolicy": "FillOrKill",
                  "receivedDate": "2020-02-07T01:23:30Z",
                  "fulfillmentOrderStatus": "PROCESSING",
                  "statusUpdatedDate": "2020-02-07T02:33:31Z",
                  "notificationEmails": [
                    "test2@amazon.com",
                    "test1@amazon.com"
                  ]
                },
                "fulfillmentOrderItems": [
                  {
                    "sellerSku": "PSMM-TEST-SKU-Jan-21_19_59_44-0738",
                    "sellerFulfillmentOrderItemId": "OrderItemID2",
                    "quantity": 1,
                    "fulfillmentNetworkSku": "B07CGHKWZP",
                    "orderItemDisposition": "Sellable",
                    "cancelledQuantity": 0,
                    "unfulfillableQuantity": 0,
                    "estimatedShipDate": "2020-02-08T01:23:31Z",
                    "estimatedArrivalDate": "2020-02-15T01:23:31Z",
                    "perUnitDeclaredValue": {
                      "currencyCode": "USD",
                      "value": "18.99"
                    }
                  },
                  {
                    "sellerSku": "CR-47K6-H6QN",
                    "sellerFulfillmentOrderItemId": "OrderItemID1",
                    "quantity": 3,
                    "fulfillmentNetworkSku": "X0014BIZ8T",
                    "orderItemDisposition": "Sellable",
                    "cancelledQuantity": 0,
                    "unfulfillableQuantity": 0,
                    "estimatedShipDate": "2020-02-08T01:23:31Z",
                    "estimatedArrivalDate": "2020-02-15T01:23:31Z",
                    "perUnitDeclaredValue": {
                      "currencyCode": "USD",
                      "value": "2.00"
                    }
                  }
                ],
                "fulfillmentShipments": [
                  {
                    "amazonShipmentId": "DchKfcZ9N",
                    "fulfillmentCenterId": "RNO1",
                    "fulfillmentShipmentStatus": "PENDING",
                    "shippingDate": "2020-02-07T02:33:23Z",
                    "estimatedArrivalDate": "2020-02-07T02:33:23Z",
                    "fulfillmentShipmentItem": [
                      {
                        "sellerSku": "PSMM-TEST-SKU-Jan-21_19_59_44-0738",
                        "sellerFulfillmentOrderItemId": "OrderItemID2",
                        "quantity": 1,
                        "packageNumber": 0,
                        "serialNumber": "a1b2c"
                      },
                      {
                        "sellerSku": "CR-47K6-H6QN",
                        "sellerFulfillmentOrderItemId": "OrderItemID1",
                        "quantity": 3,
                        "packageNumber": 0,
                        "serialNumber": "",
                        "manufacturerLotCodes": [
                          "LOT0822-1234",
                          "LOT1030-5678"
                        ]
                      }
                    ]
                  }
                ],
                "returnItems": [],
                "returnAuthorizations": []
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "fbaOutbound"
        ],
        "description": "更新和/或请求装运带有订单保留的履行订单。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能具有比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "updateFulfillmentOrder",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateFulfillmentOrderRequest"
            },
            "description": "Updatefillmentorderrequest参数"
          },
          {
            "name": "sellerFulfillmentOrderId",
            "in": "path",
            "description": "创建履行订单时由卖方分配给物料的标识符。",
            "required": true,
            "type": "string",
            "maxLength": 40
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/UpdateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/UpdateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/UpdateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/UpdateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/UpdateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/UpdateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/UpdateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/UpdateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    },
    "/fba/outbound/2020-07-01/fulfillmentOrders/{sellerFulfillmentOrderId}/cancel": {
      "x-amzn-api-sandbox": {
        "dynamic": {}
      },
      "put": {
        "tags": [
          "fbaOutbound"
        ],
        "description": "请求Amazon停止尝试履行由指定的订单标识符指示的履行订单。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能具有比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "cancelFulfillmentOrder",
        "parameters": [
          {
            "name": "sellerFulfillmentOrderId",
            "in": "path",
            "description": "创建履行订单时由卖方分配给物料的标识符。",
            "required": true,
            "type": "string",
            "maxLength": 40
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/CancelFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/CancelFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/CancelFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/CancelFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/CancelFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/CancelFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/CancelFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/CancelFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    },
    "/fba/outbound/2020-07-01/fulfillmentOrders/{sellerFulfillmentOrderId}/status": {
      "x-amzn-api-sandbox-only": true,
      "x-amzn-api-sandbox": {
        "dynamic": {}
      },
      "put": {
        "tags": [
          "fbaOutbound"
        ],
        "description": "请求Amazon在沙盒测试环境中更新订单的状态。这是仅沙盒操作，必须定向到沙盒终结点。请参阅 [Fulfillment Outbound动态沙盒指南](https:// developer-docs.amazon.com/sp-api/docs/fulfillment-outbound-Dynamic-sandbox-guide) 和 [Selling Partner api Sandbox](https:// developer-docs.amazon.com/sp-api/docs/the-selling-partner-api-sandbox) 了解更多信息。",
        "operationId": "submitFulfillmentOrderStatusUpdate",
        "parameters": [
          {
            "name": "sellerFulfillmentOrderId",
            "in": "path",
            "description": "创建履行订单时由卖方分配给物料的标识符。",
            "required": true,
            "type": "string",
            "maxLength": 40
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubmitFulfillmentOrderStatusUpdateRequest"
            },
            "description": "创建履行订单时由卖方分配给物料的标识符。"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/SubmitFulfillmentOrderStatusUpdateResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/SubmitFulfillmentOrderStatusUpdateResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/SubmitFulfillmentOrderStatusUpdateResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/SubmitFulfillmentOrderStatusUpdateResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/SubmitFulfillmentOrderStatusUpdateResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/SubmitFulfillmentOrderStatusUpdateResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/SubmitFulfillmentOrderStatusUpdateResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/SubmitFulfillmentOrderStatusUpdateResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    },
    "/fba/outbound/2020-07-01/features": {
      "x-amzn-api-sandbox": {
        "dynamic": {}
      },
      "get": {
        "tags": [
          "fbaOutbound"
        ],
        "description": "返回您指定的市场中可用于多渠道履行订单的功能列表，以及您为其拨打电话的卖家是否已注册每个功能。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能具有比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getFeatures",
        "parameters": [
          {
            "name": "marketplaceId",
            "in": "query",
            "description": "要为其返回功能列表的市场。",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/GetFeaturesResponse"
            },
            "examples": {
              "payload": {
                "features": [
                  {
                    "featureName": "BLANK_BOX",
                    "featureDescription": "Provides the ability to ship in non-Amazon branded packaging (blank boxes).",
                    "sellerEligible": true
                  },
                  {
                    "featureName": "PSLIP",
                    "featureDescription": "Provides the ability to insert customized packing slips with messages.",
                    "sellerEligible": true
                  }
                ],
                "schema": null
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/GetFeaturesResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/GetFeaturesResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/GetFeaturesResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/GetFeaturesResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/GetFeaturesResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/GetFeaturesResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/GetFeaturesResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    },
    "/fba/outbound/2020-07-01/features/inventory/{featureName}": {
      "x-amzn-api-sandbox": {
        "dynamic": {}
      },
      "get": {
        "tags": [
          "fbaOutbound"
        ],
        "description": "返回符合您指定的履行功能的库存物料列表。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能具有比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getFeatureInventory",
        "parameters": [
          {
            "name": "marketplaceId",
            "in": "query",
            "description": "要为其返回符合指定功能的清单列表的marketplace。",
            "required": true,
            "type": "string"
          },
          {
            "name": "featureName",
            "in": "path",
            "description": "要为其返回合格库存列表的功能的名称。",
            "required": true,
            "type": "string"
          },
          {
            "name": "nextToken",
            "in": "query",
            "description": "在对上一个请求的响应中返回的字符串令牌，用于返回下一个响应页面。null值将返回第一页。",
            "required": false,
            "type": "string"
          },
          {
            "name": "queryStartDate",
            "in": "query",
            "description": "可用于选择自指定日期以来已更新的库存的日期。更新定义为启用功能的库存可用性的任何更改。日期格式必须为yyyy-mm-ddthh: MM: ss.sssZ",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/GetFeatureInventoryResponse"
            },
            "examples": {
              "payload": {
                "marketplaceId": "ATVPDKIKX0DER",
                "featureName": "TEST_FEATURE",
                "nextToken": null,
                "featureSkus": [
                  {
                    "sellerSku": "sellerSku1",
                    "fnSku": "fnSku",
                    "asin": "asin",
                    "skuCount": 23,
                    "overlappingSkus": [
                      "sellerSku2",
                      "sellerSku3",
                      "sellerSku4"
                    ]
                  },
                  {
                    "sellerSku": "sellerSku2",
                    "fnSku": "sadf",
                    "asin": "ssss",
                    "skuCount": 1,
                    "overlappingSkus": [
                      "sellerSku1",
                      "sellerSku3",
                      "sellerSku4"
                    ]
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/GetFeatureInventoryResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/GetFeatureInventoryResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/GetFeatureInventoryResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/GetFeatureInventoryResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/GetFeatureInventoryResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/GetFeatureInventoryResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/GetFeatureInventoryResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    },
    "/fba/outbound/2020-07-01/features/inventory/{featureName}/{sellerSku}": {
      "x-amzn-api-sandbox": {
        "dynamic": {}
      },
      "get": {
        "tags": [
          "fbaOutbound"
        ],
        "description": "返回具有您指定的sellerSKU的可使用指定功能履行订单的项目数。请注意，如果sellerSKU不符合条件，则响应将包含空skuInfo对象。此操作的参数可能包含需要URL编码的特殊字符。为避免在编码URL时出现sku错误，请参阅 [url编码](https:// developer-docs.amazon.com/sp-api/docs/url-encoding)。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能具有比此处显示的更高的速率和突发值。有关详细信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getFeatureSKU",
        "parameters": [
          {
            "name": "marketplaceId",
            "in": "query",
            "description": "要为其返回计数的市场。",
            "required": true,
            "type": "string"
          },
          {
            "name": "featureName",
            "in": "path",
            "description": "功能的名称。",
            "required": true,
            "type": "string"
          },
          {
            "name": "sellerSku",
            "in": "path",
            "description": "用于标识给定市场中的项目。'SellerSKU' 由卖方的 'SellerId' 限定，它包含在您提交的每个操作中。",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/GetFeatureSkuResponse"
            },
            "examples": {
              "payload": {
                "marketplaceId": "ATVPDKIKX0DER",
                "featureName": "BLANK_BOX",
                "isEligible": true,
                "ineligibleReasons": [],
                "skuInfo": {
                  "sellerSku": "TEST_SKU",
                  "fnSku": "TEST_fnSku",
                  "asin": "TEST_asin",
                  "skuCount": 33
                }
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/GetFeatureSkuResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/GetFeatureSkuResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/GetFeatureSkuResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/GetFeatureSkuResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/GetFeatureSkuResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/GetFeatureSkuResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/GetFeatureSkuResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Error": {
      "type": "object",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "string",
          "description": "标识发生的错误类型的错误代码。"
        },
        "message": {
          "type": "string",
          "description": "描述错误情况的消息。"
        },
        "details": {
          "type": "string",
          "description": "可以帮助呼叫者了解或解决问题的其他详细信息。"
        }
      },
      "description": "请求不成功时返回的错误响应。"
    },
    "ErrorList": {
      "type": "array",
      "description": "请求不成功时返回的错误响应列表。",
      "items": {
        "$ref": "#/definitions/Error"
      }
    },
    "Address": {
      "type": "object",
      "required": [
        "addressLine1",
        "countryCode",
        "stateOrRegion",
        "name",
        "postalCode"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "地址上的个人、企业或机构的名称。"
        },
        "addressLine1": {
          "type": "string",
          "description": "地址的第一行。"
        },
        "addressLine2": {
          "type": "string",
          "description": "其他地址信息 (如果需要)。"
        },
        "addressLine3": {
          "type": "string",
          "description": "其他地址信息 (如果需要)。"
        },
        "city": {
          "type": "string",
          "description": "个人、企业或机构所在的城市。除日本外，所有国家都需要此属性。它不应该在日本使用。"
        },
        "districtOrCounty": {
          "type": "string",
          "description": "个人、企业或机构所在的地区或县。"
        },
        "stateOrRegion": {
          "type": "string",
          "description": "个人、企业或机构所在的州或地区。"
        },
        "postalCode": {
          "type": "string",
          "description": "地址的邮政编码。"
        },
        "countryCode": {
          "type": "string",
          "description": "两位数的国家代码。ISO 3166-1 alpha-2格式。"
        },
        "phone": {
          "type": "string",
          "description": "位于该地址的个人、企业或机构的电话号码。"
        }
      },
      "description": "物理地址。"
    },
    "CODSettings": {
      "type": "object",
      "required": [
        "isCodRequired"
      ],
      "properties": {
        "isCodRequired": {
          "type": "boolean",
          "description": "当为true时，此履行订单需要COD (货到付款) 付款。"
        },
        "codCharge": {
          "description": "从COD订单的接收方收取的COD费用金额。",
          "$ref": "#/definitions/Money"
        },
        "codChargeTax": {
          "description": "从COD订单的收件人处收取的COD费用的税额。",
          "$ref": "#/definitions/Money"
        },
        "shippingCharge": {
          "description": "从COD订单的收件人处收取的COD费用的税额。",
          "$ref": "#/definitions/Money"
        },
        "shippingChargeTax": {
          "description": "从COD订单的收件人处收取的运费的税额。",
          "$ref": "#/definitions/Money"
        }
      },
      "description": "与COD履行订单关联的COD (货到付款) 费用。"
    },
    "CreateFulfillmentOrderItem": {
      "type": "object",
      "required": [
        "quantity",
        "sellerFulfillmentOrderItemId",
        "sellerSku"
      ],
      "properties": {
        "sellerSku": {
          "type": "string",
          "description": "商品的卖家SKU。",
          "maxLength": 50
        },
        "sellerFulfillmentOrderItemId": {
          "type": "string",
          "description": "卖方创建的用于跟踪履行订单项目的履行订单项目标识符。用于消除具有相同 “sellersku” 的多个履行项目的歧义。例如，卖家可能会将不同的 “sellerfillmentorderitemid” 值分配给履行订单中共享相同 “sellersku” 但具有不同 “giftmessage” 值的两个商品。",
          "maxLength": 50
        },
        "quantity": {
          "$ref": "#/definitions/Quantity"
        },
        "giftMessage": {
          "type": "string",
          "description": "给礼物接收者的消息 (如果适用)。",
          "maxLength": 512
        },
        "displayableComment": {
          "type": "string",
          "description": "在面向收件人的材料 (如出站发运装箱单) 中显示的项目特定文本。",
          "maxLength": 250
        },
        "fulfillmentNetworkSku": {
          "type": "string",
          "description": "该商品的亚马逊履行网络SKU。"
        },
        "perUnitDeclaredValue": {
          "description": "卖方分配给此项目的货币价值。这是印度MCF订单的必填字段。",
          "$ref": "#/definitions/Money"
        },
        "perUnitPrice": {
          "description": "在COD (货到付款) 订单中，从收件人处收取此项目的金额。",
          "$ref": "#/definitions/Money"
        },
        "perUnitTax": {
          "description": "在COD (货到付款) 订单中从收件人处收取的该项目金额的税款。",
          "$ref": "#/definitions/Money"
        }
      },
      "description": "用于创建履行订单的物料信息。"
    },
    "CreateFulfillmentOrderItemList": {
      "type": "array",
      "description": "用于创建履行订单的物料信息数组。",
      "items": {
        "$ref": "#/definitions/CreateFulfillmentOrderItem"
      }
    },
    "FulfillmentPolicy": {
      "type": "string",
      "description": "提交 “createfilullmentorder'” 操作时指定的 “实现策略” 值。",
      "enum": [
        "FillOrKill",
        "FillAll",
        "FillAllAvailable"
      ],
      "x-docgen-enum-table-extension": [
        {
          "value": "FillOrKill",
          "description": "如果在订单中的任何装运获得待定状态 (从库存中拣选单元的过程已经开始) 之前，履行订单中的项目被确定为无法履行，则整个订单被视为无法履行。但是，如果在订单中的发货获得待定状态后，确定履行订单中的商品无法履行，则Amazon会尽可能多地取消履行订单。有关发运状态定义，请参阅 “fulfillmentshipment” 对象。"
        },
        {
          "value": "FillAll",
          "description": "履行订单中的所有可履行项目均已发货。履行订单将保持处理状态，直到所有商品由亚马逊发货或由卖家取消。"
        },
        {
          "value": "FillAllAvailable",
          "description": "履行订单中的所有可履行项目均已发货。订单中所有无法履行的项目都将被取消。"
        }
      ]
    },
    "FulfillmentOrderStatus": {
      "type": "string",
      "description": "履行订单的当前状态。",
      "enum": [
        "New",
        "Received",
        "Planning",
        "Processing",
        "Cancelled",
        "Complete",
        "CompletePartialled",
        "Unfulfillable",
        "Invalid"
      ],
      "x-docgen-enum-table-extension": [
        {
          "value": "New",
          "description": "已收到履行订单，但尚未验证。"
        },
        {
          "value": "Received",
          "description": "已收到并验证履行订单。验证包括确定目的地地址是有效的，并且亚马逊的记录指示卖家具有足够的可销售 (未损坏) 库存来履行订单。卖方可以取消状态为 “已接收” 的履行订单。"
        },
        {
          "value": "Planning",
          "description": "已将履行订单发送到亚马逊的履行网络以开始发货计划，但尚未从库存中挑选任何货物中的任何单位。卖方可以取消状态为 “计划” 的履行订单。"
        },
        {
          "value": "Processing",
          "description": "已在履行订单中的至少一个装运上开始从库存中拣选单元的过程。卖方无法取消状态为 “正在处理” 的履行订单。"
        },
        {
          "value": "Cancelled",
          "description": "履行订单已被卖方取消。"
        },
        {
          "value": "Complete",
          "description": "已完成履行订单中的所有项目数量。"
        },
        {
          "value": "CompletePartialled",
          "description": "履行订单中的某些项目数量已完成; 其余的已取消或无法履行。"
        },
        {
          "value": "Unfulfillable",
          "description": "由于Amazon fulfillment center工作人员未找到这些商品的库存或未找到处于可供 (未损坏) 状态的库存，因此无法履行履行订单中的任何商品数量。"
        },
        {
          "value": "Invalid",
          "description": "已收到履行订单，但无法验证。造成这种情况的原因包括无效的目标地址或亚马逊的记录表明卖家没有足够的可销售库存来完成订单。发生这种情况时，履行订单无效，订单中的任何物品都不会发货。"
        }
      ]
    },
    "CreateFulfillmentOrderRequest": {
      "type": "object",
      "required": [
        "destinationAddress",
        "displayableOrderComment",
        "displayableOrderDate",
        "displayableOrderId",
        "items",
        "sellerFulfillmentOrderId",
        "shippingSpeedCategory"
      ],
      "properties": {
        "marketplaceId": {
          "type": "string",
          "description": "履行订单所针对的市场。"
        },
        "sellerFulfillmentOrderId": {
          "type": "string",
          "description": "卖方为跟踪其履行订单而创建的履行订单标识符。对于卖方创建的每个履行订单，“sellerfillmentorderid” 必须是唯一的。如果卖方的系统已经创建了唯一的订单标识符，那么这些可能是他们使用的好价值。",
          "maxLength": 40
        },
        "displayableOrderId": {
          "type": "string",
          "description": "卖方创建的履行订单标识符。此值显示为面向收件人的物料 (如出站发运装箱单) 中的订单标识符。“Displayableorderid” 的值应与卖方提供给收件人的订单标识符匹配。卖方可以将 “sellerfulfillmentorderid” 用于此值，或者如果他们希望收件人引用备用订单标识符，则可以指定备用值。\n\n该值必须是字母数字或符合ISO 8859-1的字符串，长度为1到40个字符。一行中不能包含两个空格。删除前导和尾随空白。",
          "maxLength": 40
        },
        "displayableOrderDate": {
          "description": "履行订单的日期和时间。在面向收件人的物料 (如出站发运装箱单) 中显示为订单日期。",
          "$ref": "#/definitions/Timestamp"
        },
        "displayableOrderComment": {
          "type": "string",
          "description": "出现在面向收件人的材料 (如出站发运装箱单) 中的订单特定文本。",
          "maxLength": 750
        },
        "shippingSpeedCategory": {
          "description": "履行订单的发运方式。当此值为 'ScheduledDelivery' 时，为 'fulfillmentAction' 选择Ship。当 “shippingspeedcategory” 值为 “scheduleddelivery” 时，Hold不是有效的 “fulfillmentaction' 值。\n注: 发运方法服务级别协议因市场而异。卖家可以参考【卖家中心】 (https:// developer-docs.amazon.com/sp-api/docs/seller-central-urls) 了解发货方式服务等级协议和多渠道履约费用。",
          "$ref": "#/definitions/ShippingSpeedCategory"
        },
        "deliveryWindow": {
          "$ref": "#/definitions/DeliveryWindow"
        },
        "destinationAddress": {
          "description": "履行订单的目标地址。",
          "$ref": "#/definitions/Address"
        },
        "deliveryPreferences": {
          "description": "应用于目标地址的传递首选项。这些首选项在可能的情况下应用，并且是尽力而为的。对于符合条件的订单，默认的交付首选项是将包裹留在前门无人看管。\n此功能目前仅在JP marketplace中受支持，不适用于其他市场。\n对于符合条件的订单，默认的交付首选项将是在前门无人值守交付包裹，除非您另有指定。",
          "$ref": "#/definitions/DeliveryPreferences"
        },
        "fulfillmentAction": {
          "$ref": "#/definitions/FulfillmentAction"
        },
        "fulfillmentPolicy": {
          "$ref": "#/definitions/FulfillmentPolicy"
        },
        "codSettings": {
          "$ref": "#/definitions/CODSettings"
        },
        "shipFromCountryCode": {
          "type": "string",
          "description": "履行订单发货的国家/地区的两个字符的国家/地区代码。必须采用ISO 3166-1 alpha-2格式。"
        },
        "notificationEmails": {
          "$ref": "#/definitions/NotificationEmailList"
        },
        "featureConstraints": {
          "type": "array",
          "description": "要应用于订单的功能及其履行策略的列表。",
          "items": {
            "$ref": "#/definitions/FeatureSettings"
          }
        },
        "items": {
          "description": "要包括在履行订单预览中的物料列表，包括数量。每个订单最多250个单位的100行项目。",
          "$ref": "#/definitions/CreateFulfillmentOrderItemList"
        },
        "paymentInformation": {
          "description": "与此履行订单相关的各种付款属性的数组。如果订单是针对印度市场的，则需要此属性。",
          "$ref": "#/definitions/PaymentInformationList"
        }
      },
      "description": "“Createfillmentorder'” 操作的请求正文架构。"
    },
    "CreateFulfillmentReturnRequest": {
      "type": "object",
      "required": [
        "items"
      ],
      "properties": {
        "items": {
          "$ref": "#/definitions/CreateReturnItemList"
        }
      },
      "description": "“Createfilullmentreturn” 操作为使用 “createfilullmentreturn” 操作履行的项目创建履行退货。对于对 “createfillmentreturn' 的调用，必须包括由对“ listreturnreasoncodes ”操作的先前调用返回的“ returnreascode ”值。"
    },
    "CreateFulfillmentReturnResult": {
      "description": "Createfillmentreturn操作的结果。",
      "type": "object",
      "properties": {
        "returnItems": {
          "$ref": "#/definitions/ReturnItemList"
        },
        "invalidReturnItems": {
          "$ref": "#/definitions/InvalidReturnItemList"
        },
        "returnAuthorizations": {
          "$ref": "#/definitions/ReturnAuthorizationList"
        }
      }
    },
    "CreateFulfillmentReturnResponse": {
      "type": "object",
      "properties": {
        "payload": {
          "description": "“Createfillmentreturn'” 操作的有效负载。",
          "$ref": "#/definitions/CreateFulfillmentReturnResult"
        },
        "errors": {
          "description": "在执行 “createfulfillmentreturn” 操作期间发生了一个或多个意外错误。",
          "$ref": "#/definitions/ErrorList"
        }
      },
      "description": "“Createfillmentreturn'” 操作的响应架构。"
    },
    "CreateReturnItem": {
      "type": "object",
      "required": [
        "amazonShipmentId",
        "returnReasonCode",
        "sellerFulfillmentOrderItemId",
        "sellerReturnItemId"
      ],
      "properties": {
        "sellerReturnItemId": {
          "type": "string",
          "description": "由卖方分配给退货的标识符。",
          "maxLength": 80
        },
        "sellerFulfillmentOrderItemId": {
          "type": "string",
          "description": "创建履行订单时由卖方分配给物料的标识符。"
        },
        "amazonShipmentId": {
          "type": "string",
          "description": "与退货项目关联的装运的标识符。"
        },
        "returnReasonCode": {
          "type": "string",
          "description": "由卖方分配给退货项目的退货原因代码。"
        },
        "returnComment": {
          "type": "string",
          "description": "关于退货的可选注释。",
          "maxLength": 1000
        }
      },
      "description": "亚马逊接受退货的商品。"
    },
    "CreateReturnItemList": {
      "type": "array",
      "description": "要返回的项的数组。",
      "items": {
        "$ref": "#/definitions/CreateReturnItem"
      }
    },
    "Money": {
      "type": "object",
      "required": [
        "currencyCode",
        "value"
      ],
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "ISO 4217格式的三位数货币代码。"
        },
        "value": {
          "$ref": "#/definitions/Decimal"
        }
      },
      "description": "货币的数量，包括货币形式的单位。"
    },
    "Decimal": {
      "type": "string",
      "description": "无精度损失的十进制数。当精度损失不可接受时很有用，就像货币一样。遵循RFC7159的数字表示。"
    },
    "DeliveryWindow": {
      "type": "object",
      "required": [
        "endDate",
        "startDate"
      ],
      "properties": {
        "startDate": {
          "description": "计划交货窗口的开始日期和时间。必须采用 <a href = 'https:// developer-docs.amazon.com/sp-api/docs/iso-8601 '>ISO 8601</a> 格式。",
          "$ref": "#/definitions/Timestamp"
        },
        "endDate": {
          "description": "计划交货窗口结束的日期和时间。必须采用 <a href = 'https:// developer-docs.amazon.com/sp-api/docs/iso-8601 '>ISO 8601</a> 格式。",
          "$ref": "#/definitions/Timestamp"
        }
      },
      "description": "计划交付的履行订单应交付的时间范围。这仅在JP marketplace中可用。"
    },
    "DeliveryWindowList": {
      "type": "array",
      "description": "交付窗口的数组。",
      "items": {
        "$ref": "#/definitions/DeliveryWindow"
      }
    },
    "DeliveryPreferences": {
      "type": "object",
      "properties": {
        "deliveryInstructions": {
          "type": "string",
          "description": "额外的交货说明。例如，这可以是关于如何进入建筑物的指令、附近的地标或导航指令、 “小心狗” 等。",
          "maxLength": 250
        },
        "dropOffLocation": {
          "description": "将包裹留在目标地址的首选位置。",
          "$ref": "#/definitions/DropOffLocation"
        }
      },
      "description": "应用于目标地址的传递首选项。这些首选项在可能的情况下应用，并且是尽力而为的。\n此功能目前仅在JP marketplace中受支持，不适用于其他市场。\n对于符合条件的订单，默认的交付首选项将是在前门无人值守交付包裹，除非您另有指定。"
    },
    "DropOffLocation": {
      "type": "object",
      "required": [
        "type"
      ],
      "properties": {
        "type": {
          "type": "string",
          "description": "指定将包留在目标地址的首选位置。",
          "enum": [
            "FRONT_DOOR",
            "DELIVERY_BOX",
            "GAS_METER_BOX",
            "BICYCLE_BASKET",
            "GARAGE",
            "RECEPTIONIST",
            "FALLBACK_NEIGHBOR_DELIVERY",
            "DO_NOT_LEAVE_UNATTENDED"
          ],
          "x-docgen-enum-table-extension": [
            {
              "value": "FRONT_DOOR",
              "description": "表示交货优先于前门。"
            },
            {
              "value": "DELIVERY_BOX",
              "description": "表示优先于交货箱的交货。"
            },
            {
              "value": "GAS_METER_BOX",
              "description": "表示交付首选燃气表箱。"
            },
            {
              "value": "BICYCLE_BASKET",
              "description": "表示比自行车篮更喜欢送货。"
            },
            {
              "value": "GARAGE",
              "description": "表示送货首选车库。"
            },
            {
              "value": "RECEPTIONIST",
              "description": "表示有接待员的优先送货。"
            },
            {
              "value": "FALLBACK_NEIGHBOR_DELIVERY",
              "description": "指示如果收件人在目标地址不可用，则首选与指定邻居的传递。"
            },
            {
              "value": "DO_NOT_LEAVE_UNATTENDED",
              "description": "表示优先交付为出席。"
            }
          ]
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "有关投放位置的其他信息，这些信息可能会因 “类型” 字段中指定的投放位置类型而异。\n如果 “type” 设置为 “FALLBACK_NEIGHBOR_DELIVERY”，则 “attributes” 对象应包含确切的键 “neighborname” 和 “housenumber”，以提供指定邻居的名称和门牌号码。"
        }
      },
      "description": "将包裹留在目标地址的首选位置。"
    },
    "Fee": {
      "type": "object",
      "required": [
        "amount",
        "name"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "费用的类型。",
          "enum": [
            "FBAPerUnitFulfillmentFee",
            "FBAPerOrderFulfillmentFee",
            "FBATransportationFee",
            "FBAFulfillmentCODFee"
          ],
          "x-docgen-enum-table-extension": [
            {
              "value": "FBAPerUnitFulfillmentFee",
              "description": "履行订单中每个单位的预计费用。"
            },
            {
              "value": "FBAPerOrderFulfillmentFee",
              "description": "预计订单级别费用。"
            },
            {
              "value": "FBATransportationFee",
              "description": "估计运费。"
            },
            {
              "value": "FBAFulfillmentCODFee",
              "description": "预计COD (货到付款) 费用。此费用仅适用于COD的履行订单预览。"
            }
          ]
        },
        "amount": {
          "description": "费用的金额。",
          "$ref": "#/definitions/Money"
        }
      },
      "description": "费用类型和成本。"
    },
    "FeeList": {
      "type": "array",
      "description": "费用类型和成本对的数组。",
      "items": {
        "$ref": "#/definitions/Fee"
      }
    },
    "FulfillmentAction": {
      "type": "string",
      "description": "指定履行订单是否应立即发货或在其上放置订单保留。",
      "enum": [
        "Ship",
        "Hold"
      ],
      "x-docgen-enum-table-extension": [
        {
          "value": "Ship",
          "description": "履行订单现在发货。"
        },
        {
          "value": "Hold",
          "description": "订单保留在履行订单上。"
        }
      ]
    },
    "FulfillmentOrder": {
      "type": "object",
      "required": [
        "destinationAddress",
        "displayableOrderComment",
        "displayableOrderDate",
        "displayableOrderId",
        "fulfillmentOrderStatus",
        "marketplaceId",
        "receivedDate",
        "sellerFulfillmentOrderId",
        "shippingSpeedCategory",
        "statusUpdatedDate"
      ],
      "properties": {
        "sellerFulfillmentOrderId": {
          "type": "string",
          "description": "使用 “createfulfillmentorder” 操作提交的履行订单标识符。"
        },
        "marketplaceId": {
          "type": "string",
          "description": "履行订单所针对的市场的标识符。"
        },
        "displayableOrderId": {
          "type": "string",
          "description": "使用 “createfillmentorder” 操作提交的履行订单标识符。在面向收件人的物料 (如装箱单) 中显示为订单标识符。"
        },
        "displayableOrderDate": {
          "description": "使用 “createfillmentorder'” 操作提交的日期和时间。显示为面向收件人的物料 (如装箱单) 中的订单日期。",
          "$ref": "#/definitions/Timestamp"
        },
        "displayableOrderComment": {
          "type": "string",
          "description": "使用 “createfillmentorder'” 操作提交的文本块。显示在面向收件人的材料中，如装箱单。"
        },
        "shippingSpeedCategory": {
          "$ref": "#/definitions/ShippingSpeedCategory"
        },
        "deliveryWindow": {
          "$ref": "#/definitions/DeliveryWindow"
        },
        "destinationAddress": {
          "description": "使用 “createfillmentorder'” 操作提交的目标地址。",
          "$ref": "#/definitions/Address"
        },
        "fulfillmentAction": {
          "$ref": "#/definitions/FulfillmentAction"
        },
        "fulfillmentPolicy": {
          "$ref": "#/definitions/FulfillmentPolicy"
        },
        "codSettings": {
          "$ref": "#/definitions/CODSettings"
        },
        "receivedDate": {
          "description": "Amazon履行中心收到履行订单的日期和时间。",
          "$ref": "#/definitions/Timestamp"
        },
        "fulfillmentOrderStatus": {
          "$ref": "#/definitions/FulfillmentOrderStatus"
        },
        "statusUpdatedDate": {
          "description": "上次更改履行订单状态的日期和时间。必须采用 <a href = 'https:// developer-docs.amazon.com/sp-api/docs/iso-8601 '>ISO 8601</a> 格式。",
          "$ref": "#/definitions/Timestamp"
        },
        "notificationEmails": {
          "$ref": "#/definitions/NotificationEmailList"
        },
        "featureConstraints": {
          "type": "array",
          "description": "要应用于订单的功能及其履行策略的列表。",
          "items": {
            "$ref": "#/definitions/FeatureSettings"
          }
        }
      },
      "description": "有关履行订单的一般信息，包括其状态。"
    },
    "FulfillmentOrderItem": {
      "type": "object",
      "required": [
        "cancelledQuantity",
        "quantity",
        "sellerFulfillmentOrderItemId",
        "sellerSku",
        "unfulfillableQuantity"
      ],
      "properties": {
        "sellerSku": {
          "type": "string",
          "description": "商品的卖家SKU。"
        },
        "sellerFulfillmentOrderItemId": {
          "type": "string",
          "description": "通过调用 “createfulfillmentorder” 操作提交的履行订单项目标识符。"
        },
        "quantity": {
          "$ref": "#/definitions/Quantity"
        },
        "giftMessage": {
          "type": "string",
          "description": "给礼物接收者的消息 (如果适用)。"
        },
[...]
