{
  "swagger": "2.0",
  "info": {
    "description": "用于定价的销售合作伙伴API可帮助您以编程方式检索Amazon Marketplace产品的产品定价和报价信息。",
    "version": "v0",
    "title": "Selling Partner API for Pricing",
    "contact": {
      "name": "Selling Partner API Developer Support",
      "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "sellingpartnerapi-na.amazon.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/products/pricing/v0/price": {
      "get": {
        "tags": [
          "productPricing"
        ],
        "description": "返回基于卖家SKU或ASIN的卖家报价列表的定价信息。\n\n* * 说明: * * 本操作关联的参数可能包含特殊字符，需要URL编码才能调用API。为避免在编码URL时出现sku错误，请参阅 [url编码](https:// developer-docs.amazon.com/sp-api/docs/url-encoding)。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 0.5 | 1 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制] (文档: Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getPricing",
        "parameters": [
          {
            "name": "MarketplaceId",
            "in": "query",
            "description": "市场标识符。指定返回的价格的市场。",
            "required": true,
            "type": "string"
          },
          {
            "name": "Asins",
            "in": "query",
            "description": "最多包含20个Amazon标准标识号 (ASIN) 值的列表，用于标识给定市场中的商品。",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 20
          },
          {
            "name": "Skus",
            "in": "query",
            "description": "最多包含20个卖家SKU值的列表，用于标识给定市场中的商品。",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 20
          },
          {
            "name": "ItemType",
            "in": "query",
            "description": "指示是否使用ASIN值或卖方SKU值来标识项目。如果指定Asin，则响应中的信息将取决于您在Asins参数中提供的Asin列表。如果指定Sku，则响应中的信息将取决于您在Sku参数中提供的Sku列表。",
            "required": true,
            "type": "string",
            "enum": [
              "Asin",
              "Sku"
            ],
            "x-docgen-enum-table-extension": [
              {
                "value": "Asin",
                "description": "Amazon标准标识号 (ASIN)。"
              },
              {
                "value": "Sku",
                "description": "卖方SKU。"
              }
            ]
          },
          {
            "name": "ItemCondition",
            "in": "query",
            "description": "根据项目条件筛选优惠列表。可能的价值: 新的，使用，收藏，翻新，俱乐部。",
            "required": false,
            "type": "string",
            "enum": [
              "New",
              "Used",
              "Collectible",
              "Refurbished",
              "Club"
            ],
            "x-docgen-enum-table-extension": [
              {
                "value": "New",
                "description": "新建"
              },
              {
                "value": "Used",
                "description": "已使用"
              },
              {
                "value": "Collectible",
                "description": "珍藏品"
              },
              {
                "value": "Refurbished",
                "description": "翻新"
              },
              {
                "value": "Club",
                "description": "俱乐部"
              }
            ]
          },
          {
            "name": "OfferType",
            "in": "query",
            "description": "指示是否请求卖方的B2C或B2B优惠的定价信息。默认值为B2C。",
            "required": false,
            "type": "string",
            "enum": [
              "B2C",
              "B2B"
            ],
            "x-docgen-enum-table-extension": [
              {
                "value": "B2C",
                "description": "B2C"
              },
              {
                "value": "B2B",
                "description": "B2B"
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/GetPricingResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "MarketplaceId": {
                        "value": "ATVPDKIKX0DER"
                      },
                      "ItemType": {
                        "value": "Asin"
                      }
                    }
                  },
                  "response": {
                    "payload": [
                      {
                        "status": "Success",
                        "ASIN": "B00V5DG6IQ",
                        "Product": {
                          "Identifiers": {
                            "MarketplaceASIN": {
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ASIN": "B00V5DG6IQ"
                            },
                            "SKUIdentifier": {
                              "MarketplaceId": "",
                              "SellerId": "",
                              "SellerSKU": ""
                            }
                          },
                          "Offers": [
                            {
                              "BuyingPrice": {
                                "ListingPrice": {
                                  "CurrencyCode": "USD",
                                  "Amount": 10
                                },
                                "LandedPrice": {
                                  "CurrencyCode": "USD",
                                  "Amount": 10
                                },
                                "Shipping": {
                                  "CurrencyCode": "USD",
                                  "Amount": 0
                                }
                              },
                              "RegularPrice": {
                                "CurrencyCode": "USD",
                                "Amount": 10
                              },
                              "FulfillmentChannel": "MERCHANT",
                              "ItemCondition": "New",
                              "ItemSubCondition": "New",
                              "SellerSKU": "NABetaASINB00V5DG6IQ"
                            }
                          ]
                        }
                      },
                      {
                        "status": "Success",
                        "ASIN": "B00551Q3CS",
                        "Product": {
                          "Identifiers": {
                            "MarketplaceASIN": {
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ASIN": "B00551Q3CS"
                            },
                            "SKUIdentifier": {
                              "MarketplaceId": "",
                              "SellerId": "",
                              "SellerSKU": ""
                            }
                          },
                          "Offers": [
                            {
                              "BuyingPrice": {
                                "ListingPrice": {
                                  "CurrencyCode": "USD",
                                  "Amount": 10
                                },
                                "LandedPrice": {
                                  "CurrencyCode": "USD",
                                  "Amount": 10
                                },
                                "Shipping": {
                                  "CurrencyCode": "USD",
                                  "Amount": 0
                                }
                              },
                              "RegularPrice": {
                                "CurrencyCode": "USD",
                                "Amount": 10
                              },
                              "FulfillmentChannel": "MERCHANT",
                              "ItemCondition": "New",
                              "ItemSubCondition": "New",
                              "SellerSKU": "NABetaASINB00551Q3CS"
                            }
                          ]
                        }
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "MarketplaceId": {
                        "value": "ATVPDKIKX0DER"
                      },
                      "ItemType": {
                        "value": "Sku"
                      }
                    }
                  },
                  "response": {
                    "payload": [
                      {
                        "status": "Success",
                        "SellerSKU": "NABetaASINB00V5DG6IQ",
                        "Product": {
                          "Identifiers": {
                            "MarketplaceASIN": {
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ASIN": "B00V5DG6IQ"
                            },
                            "SKUIdentifier": {
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "SellerId": "AXXXXXXXXXXXXX",
                              "SellerSKU": "NABetaASINB00V5DG6IQ"
                            }
                          },
                          "Offers": [
                            {
                              "BuyingPrice": {
                                "ListingPrice": {
                                  "CurrencyCode": "USD",
                                  "Amount": 10
                                },
                                "LandedPrice": {
                                  "CurrencyCode": "USD",
                                  "Amount": 10
                                },
                                "Shipping": {
                                  "CurrencyCode": "USD",
                                  "Amount": 0
                                }
                              },
                              "RegularPrice": {
                                "CurrencyCode": "USD",
                                "Amount": 10
                              },
                              "FulfillmentChannel": "MERCHANT",
                              "ItemCondition": "New",
                              "ItemSubCondition": "New",
                              "SellerSKU": "NABetaASINB00V5DG6IQ"
                            }
                          ]
                        }
                      },
                      {
                        "status": "Success",
                        "SellerSKU": "NABetaASINB00551Q3CS",
                        "Product": {
                          "Identifiers": {
                            "MarketplaceASIN": {
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ASIN": "B00551Q3CS"
                            },
                            "SKUIdentifier": {
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "SellerId": "AXXXXXXXXXXXXX",
                              "SellerSKU": "NABetaASINB00551Q3CS"
                            }
                          },
                          "Offers": [
                            {
                              "BuyingPrice": {
                                "ListingPrice": {
                                  "CurrencyCode": "USD",
                                  "Amount": 10
                                },
                                "LandedPrice": {
                                  "CurrencyCode": "USD",
                                  "Amount": 10
                                },
                                "Shipping": {
                                  "CurrencyCode": "USD",
                                  "Amount": 0
                                }
                              },
                              "RegularPrice": {
                                "CurrencyCode": "USD",
                                "Amount": 10
                              },
                              "FulfillmentChannel": "MERCHANT",
                              "ItemCondition": "New",
                              "ItemSubCondition": "New",
                              "SellerSKU": "NABetaASINB00551Q3CS"
                            }
                          ]
                        }
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "MarketplaceId": {
                        "value": "ATVPDKIKX0DER"
                      },
                      "ItemType": {
                        "value": "Asin"
                      },
                      "OfferType": {
                        "value": "B2B"
                      }
                    }
                  },
                  "response": {
                    "payload": [
                      {
                        "status": "Success",
                        "ASIN": "B00V5DG6IQ",
                        "Product": {
                          "Identifiers": {
                            "MarketplaceASIN": {
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ASIN": "B00V5DG6IQ"
                            },
                            "SKUIdentifier": {
                              "MarketplaceId": "",
                              "SellerId": "",
                              "SellerSKU": ""
                            }
                          },
                          "Offers": [
                            {
                              "offerType": "B2B",
                              "BuyingPrice": {
                                "ListingPrice": {
                                  "CurrencyCode": "USD",
                                  "Amount": 9.5
                                },
                                "LandedPrice": {
                                  "CurrencyCode": "USD",
                                  "Amount": 9.5
                                },
                                "Shipping": {
                                  "CurrencyCode": "USD",
                                  "Amount": 0
                                }
                              },
                              "RegularPrice": {
                                "CurrencyCode": "USD",
                                "Amount": 10
                              },
                              "quantityDiscountPrices": [
                                {
                                  "quantityTier": 2,
                                  "quantityDiscountType": "QUANTITY_DISCOUNT",
                                  "listingPrice": {
                                    "CurrencyCode": "USD",
                                    "Amount": 8
                                  }
                                },
                                {
                                  "quantityTier": 3,
                                  "quantityDiscountType": "QUANTITY_DISCOUNT",
                                  "listingPrice": {
                                    "CurrencyCode": "USD",
                                    "Amount": 7
                                  }
                                }
                              ],
                              "FulfillmentChannel": "MERCHANT",
                              "ItemCondition": "New",
                              "ItemSubCondition": "New",
                              "SellerSKU": "NABetaASINB00V5DG6IQ"
                            }
                          ]
                        }
                      },
                      {
                        "status": "Success",
                        "ASIN": "B00551Q3CS",
                        "Product": {
                          "Identifiers": {
                            "MarketplaceASIN": {
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ASIN": "B00551Q3CS"
                            },
                            "SKUIdentifier": {
                              "MarketplaceId": "",
                              "SellerId": "",
                              "SellerSKU": ""
                            }
                          },
                          "Offers": [
                            {
                              "offerType": "B2B",
                              "BuyingPrice": {
                                "ListingPrice": {
                                  "CurrencyCode": "USD",
                                  "Amount": 8
                                },
                                "LandedPrice": {
                                  "CurrencyCode": "USD",
                                  "Amount": 8
                                },
                                "Shipping": {
                                  "CurrencyCode": "USD",
                                  "Amount": 0
                                }
                              },
                              "RegularPrice": {
                                "CurrencyCode": "USD",
                                "Amount": 10
                              },
                              "FulfillmentChannel": "MERCHANT",
                              "ItemCondition": "New",
                              "ItemSubCondition": "New",
                              "SellerSKU": "NABetaASINB00551Q3CS"
                            }
                          ]
                        }
                      }
                    ]
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/GetPricingResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "MarketplaceId": {
                        "value": "TEST_CASE_400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid Input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/GetPricingResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            }
          },
          "403": {
            "description": "表示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/GetPricingResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/GetPricingResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/GetPricingResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/GetPricingResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/GetPricingResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            }
          }
        }
      }
    },
    "/products/pricing/v0/competitivePrice": {
      "get": {
        "tags": [
          "productPricing"
        ],
        "description": "根据卖方SKU或ASIN返回卖方报价列表的竞争性定价信息。\n\n* * 说明: * * 本操作关联的参数可能包含特殊字符，需要URL编码才能调用API。为避免在编码URL时出现sku错误，请参阅 [url编码](https:// developer-docs.amazon.com/sp-api/docs/url-encoding)。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 0.5 | 1 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制] (文档: Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getCompetitivePricing",
        "parameters": [
          {
            "name": "MarketplaceId",
            "in": "query",
            "description": "市场标识符。指定返回的价格的市场。",
            "required": true,
            "type": "string"
          },
          {
            "name": "Asins",
            "in": "query",
            "description": "最多包含20个Amazon标准标识号 (ASIN) 值的列表，用于标识给定市场中的商品。",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 20
          },
          {
            "name": "Skus",
            "in": "query",
            "description": "最多包含20个卖家SKU值的列表，用于标识给定市场中的商品。",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 20
          },
          {
            "name": "ItemType",
            "in": "query",
            "description": "指示是否使用ASIN值或卖方SKU值来标识项目。如果指定Asin，则响应中的信息将取决于您在Asins参数中提供的Asin列表。如果指定Sku，则响应中的信息将取决于您在Sku参数中提供的Sku列表。可能的值: Asin、Sku。",
            "required": true,
            "type": "string",
            "enum": [
              "Asin",
              "Sku"
            ],
            "x-docgen-enum-table-extension": [
              {
                "value": "Asin",
                "description": "Amazon标准标识号 (ASIN)。"
              },
              {
                "value": "Sku",
                "description": "卖方SKU。"
              }
            ]
          },
          {
            "name": "CustomerType",
            "in": "query",
            "description": "指示是否从消费者或企业购买者的角度请求定价信息。默认为消费者。",
            "required": false,
            "type": "string",
            "enum": [
              "Consumer",
              "Business"
            ],
            "x-docgen-enum-table-extension": [
              {
                "value": "Consumer",
                "description": "消费者"
              },
              {
                "value": "Business",
                "description": "业务"
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/GetPricingResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "MarketplaceId": {
                        "value": "ATVPDKIKX0DER"
                      },
                      "ItemType": {
                        "value": "Asin"
                      }
                    }
                  },
                  "response": {
                    "payload": [
                      {
                        "status": "Success",
                        "ASIN": "B00V5DG6IQ",
                        "Product": {
                          "Identifiers": {
                            "MarketplaceASIN": {
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ASIN": "B00V5DG6IQ"
                            },
                            "SKUIdentifier": {
                              "MarketplaceId": "",
                              "SellerId": "",
                              "SellerSKU": ""
                            }
                          },
                          "CompetitivePricing": {
                            "CompetitivePrices": [
                              {
                                "CompetitivePriceId": "4545645646",
                                "Price": {
                                  "LandedPrice": {
                                    "CurrencyCode": "USD",
                                    "Amount": 10
                                  },
                                  "ListingPrice": {
                                    "CurrencyCode": "USD",
                                    "Amount": 130
                                  },
                                  "Shipping": {
                                    "CurrencyCode": "USD",
                                    "Amount": 120
                                  },
                                  "Points": {
                                    "PointsNumber": 130,
                                    "PointsMonetaryValue": {
                                      "CurrencyCode": "USD",
                                      "Amount": 10
                                    }
                                  }
                                },
                                "condition": "new",
                                "belongsToRequester": true
                              }
                            ],
                            "NumberOfOfferListings": [
                              {
                                "Count": 20,
                                "condition": "new"
                              }
                            ],
                            "TradeInValue": {
                              "CurrencyCode": "USD",
                              "Amount": 10
                            }
                          },
                          "SalesRankings": [
                            {
                              "ProductCategoryId": "325345",
                              "Rank": 1
                            }
                          ]
                        }
                      },
                      {
                        "status": "Success",
                        "ASIN": "B00551Q3CS",
                        "Product": {
                          "Identifiers": {
                            "MarketplaceASIN": {
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ASIN": "B00551Q3CS"
                            },
                            "SKUIdentifier": {
                              "MarketplaceId": "",
                              "SellerId": "",
                              "SellerSKU": ""
                            }
                          },
                          "CompetitivePricing": {
                            "CompetitivePrices": [
                              {
                                "CompetitivePriceId": "45456452646",
                                "Price": {
                                  "LandedPrice": {
                                    "CurrencyCode": "USD",
                                    "Amount": 10
                                  },
                                  "ListingPrice": {
                                    "CurrencyCode": "USD",
                                    "Amount": 130
                                  },
                                  "Shipping": {
                                    "CurrencyCode": "USD",
                                    "Amount": 120
                                  },
                                  "Points": {
                                    "PointsNumber": 130,
                                    "PointsMonetaryValue": {
                                      "CurrencyCode": "USD",
                                      "Amount": 10
                                    }
                                  }
                                },
                                "condition": "new",
                                "belongsToRequester": true
                              }
                            ],
                            "NumberOfOfferListings": [
                              {
                                "Count": 1,
                                "condition": "new"
                              }
                            ],
                            "TradeInValue": {
                              "CurrencyCode": "string",
                              "Amount": 0
                            }
                          },
                          "SalesRankings": [
                            {
                              "ProductCategoryId": "54564",
                              "Rank": 1
                            }
                          ]
                        }
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "MarketplaceId": {
                        "value": "ATVPDKIKX0DER"
                      },
                      "ItemType": {
                        "value": "Sku"
                      }
                    }
                  },
                  "response": {
                    "payload": [
                      {
                        "status": "Success",
                        "SellerSKU": "NABetaASINB00V5DG6IQ",
                        "Product": {
                          "Identifiers": {
                            "MarketplaceASIN": {
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ASIN": "B00V5DG6IQ"
                            },
                            "SKUIdentifier": {
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "SellerId": "AXXXXXXXXXXXXX",
                              "SellerSKU": "NABetaASINB00V5DG6IQ"
                            }
                          },
                          "CompetitivePricing": {
                            "CompetitivePrices": [
                              {
                                "CompetitivePriceId": "3454535",
                                "Price": {
                                  "LandedPrice": {
                                    "CurrencyCode": "USD",
                                    "Amount": 10
                                  },
                                  "ListingPrice": {
                                    "CurrencyCode": "USD",
                                    "Amount": 130
                                  },
                                  "Shipping": {
                                    "CurrencyCode": "USD",
                                    "Amount": 120
                                  },
                                  "Points": {
                                    "PointsNumber": 130,
                                    "PointsMonetaryValue": {
                                      "CurrencyCode": "USD",
                                      "Amount": 10
                                    }
                                  }
                                },
                                "condition": "new",
                                "belongsToRequester": true
                              }
                            ],
                            "NumberOfOfferListings": [
                              {
                                "Count": 402,
                                "condition": "new"
                              }
                            ],
                            "TradeInValue": {
                              "CurrencyCode": "USD",
                              "Amount": 20
                            }
                          },
                          "SalesRankings": [
                            {
                              "ProductCategoryId": "676554",
                              "Rank": 1
                            }
                          ]
                        }
                      },
                      {
                        "status": "Success",
                        "SellerSKU": "NABetaASINB00551Q3CS",
                        "Product": {
                          "Identifiers": {
                            "MarketplaceASIN": {
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ASIN": "B00551Q3CS"
                            },
                            "SKUIdentifier": {
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "SellerId": "AXXXXXXXXXXXXX",
                              "SellerSKU": "NABetaASINB00551Q3CS"
                            }
                          },
                          "CompetitivePricing": {
                            "CompetitivePrices": [
                              {
                                "CompetitivePriceId": "4545645646",
                                "Price": {
                                  "LandedPrice": {
                                    "CurrencyCode": "USD",
                                    "Amount": 10
                                  },
                                  "ListingPrice": {
                                    "CurrencyCode": "USD",
                                    "Amount": 130
                                  },
                                  "Shipping": {
                                    "CurrencyCode": "USD",
                                    "Amount": 120
                                  },
                                  "Points": {
                                    "PointsNumber": 130,
                                    "PointsMonetaryValue": {
                                      "CurrencyCode": "USD",
                                      "Amount": 10
                                    }
                                  }
                                },
                                "condition": "new",
                                "belongsToRequester": true
                              }
                            ],
                            "NumberOfOfferListings": [
                              {
                                "Count": 402,
                                "condition": "new"
                              }
                            ],
                            "TradeInValue": {
                              "CurrencyCode": "USD",
                              "Amount": 20
                            }
                          },
                          "SalesRankings": [
                            {
                              "ProductCategoryId": "35345",
                              "Rank": 1
                            }
                          ]
                        }
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "MarketplaceId": {
                        "value": "ATVPDKIKX0DER"
                      },
                      "ItemType": {
                        "value": "Asin"
                      }
                    }
                  },
                  "response": {
                    "payload": [
                      {
                        "status": "Success",
                        "ASIN": "B00V5DG6IQ",
                        "Product": {
                          "Identifiers": {
                            "MarketplaceASIN": {
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ASIN": "B00V5DG6IQ"
                            },
                            "SKUIdentifier": {
                              "MarketplaceId": "",
                              "SellerId": "",
                              "SellerSKU": ""
                            }
                          },
                          "CompetitivePricing": {
                            "CompetitivePrices": [],
                            "NumberOfOfferListings": [
                              {
                                "Count": 1,
                                "condition": "New"
                              },
                              {
                                "Count": 1,
                                "condition": "Any"
                              }
                            ]
                          },
                          "SalesRankings": [
                            {
                              "ProductCategoryId": "office_product_display_on_website",
                              "Rank": 19
                            },
                            {
                              "ProductCategoryId": "1069616",
                              "Rank": 1
                            },
                            {
                              "ProductCategoryId": "705333011",
                              "Rank": 1
                            },
                            {
                              "ProductCategoryId": "1069242",
                              "Rank": 17
                            }
                          ]
                        }
                      },
                      {
                        "status": "Success",
                        "ASIN": "B00551Q3CS",
                        "Product": {
                          "Identifiers": {
                            "MarketplaceASIN": {
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ASIN": "B00551Q3CS"
                            },
                            "SKUIdentifier": {
                              "MarketplaceId": "",
                              "SellerId": "",
                              "SellerSKU": ""
                            }
                          },
                          "CompetitivePricing": {
                            "CompetitivePrices": [],
                            "NumberOfOfferListings": [
                              {
                                "Count": 1,
                                "condition": "New"
                              },
                              {
                                "Count": 1,
                                "condition": "Any"
                              }
                            ]
                          },
                          "SalesRankings": [
                            {
                              "ProductCategoryId": "464394",
                              "Rank": 224
                            },
                            {
                              "ProductCategoryId": "12954861",
                              "Rank": 1057
                            }
                          ]
                        }
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "MarketplaceId": {
                        "value": "ATVPDKIKX0DER"
                      },
                      "ItemType": {
                        "value": "Sku"
                      }
                    }
                  },
                  "response": {
                    "payload": [
                      {
                        "status": "Success",
                        "SellerSKU": "NABetaASINB00V5DG6IQ",
                        "Product": {
                          "Identifiers": {
                            "MarketplaceASIN": {
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ASIN": "B00V5DG6IQ"
                            },
                            "SKUIdentifier": {
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "SellerId": "AXXXXXXXXXXXXX",
                              "SellerSKU": "NABetaASINB00V5DG6IQ"
                            }
                          },
                          "CompetitivePricing": {
                            "CompetitivePrices": [],
                            "NumberOfOfferListings": [
                              {
                                "Count": 1,
                                "condition": "New"
                              },
                              {
                                "Count": 1,
                                "condition": "Any"
                              }
                            ]
                          },
                          "SalesRankings": [
                            {
                              "ProductCategoryId": "office_product_display_on_website",
                              "Rank": 19
                            },
                            {
                              "ProductCategoryId": "1069616",
                              "Rank": 1
                            },
                            {
                              "ProductCategoryId": "705333011",
                              "Rank": 1
                            },
                            {
                              "ProductCategoryId": "1069242",
                              "Rank": 17
                            }
                          ]
                        }
                      },
                      {
                        "status": "Success",
                        "SellerSKU": "NABetaASINB00551Q3CS",
                        "Product": {
                          "Identifiers": {
                            "MarketplaceASIN": {
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ASIN": "B00551Q3CS"
                            },
                            "SKUIdentifier": {
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "SellerId": "AXXXXXXXXXXXXX",
                              "SellerSKU": "NABetaASINB00551Q3CS"
                            }
                          },
                          "CompetitivePricing": {
                            "CompetitivePrices": [],
                            "NumberOfOfferListings": [
                              {
                                "Count": 1,
                                "condition": "New"
                              },
                              {
                                "Count": 1,
                                "condition": "Any"
                              }
                            ]
                          },
                          "SalesRankings": [
                            {
                              "ProductCategoryId": "464394",
                              "Rank": 224
                            },
                            {
                              "ProductCategoryId": "12954861",
                              "Rank": 1057
                            }
                          ]
                        }
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "MarketplaceId": {
                        "value": "ATVPDKIKX0DER"
                      },
                      "ItemType": {
                        "value": "Asin"
                      },
                      "CustomerType": {
                        "value": "Business"
                      }
                    }
                  },
                  "response": {
                    "payload": [
                      {
                        "status": "Success",
                        "ASIN": "B00V5DG6IQ",
                        "Product": {
                          "Identifiers": {
                            "MarketplaceASIN": {
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ASIN": "B00V5DG6IQ"
                            },
                            "SKUIdentifier": {
                              "MarketplaceId": "",
                              "SellerId": "",
                              "SellerSKU": ""
                            }
                          },
                          "CompetitivePricing": {
                            "CompetitivePrices": [
                              {
                                "CompetitivePriceId": "1",
                                "Price": {
                                  "LandedPrice": {
                                    "CurrencyCode": "USD",
                                    "Amount": 120
                                  },
                                  "ListingPrice": {
                                    "CurrencyCode": "USD",
                                    "Amount": 130
                                  },
                                  "Shipping": {
                                    "CurrencyCode": "USD",
                                    "Amount": 10
                                  },
                                  "Points": {
                                    "PointsNumber": 130,
                                    "PointsMonetaryValue": {
                                      "CurrencyCode": "USD",
                                      "Amount": 10
                                    }
                                  }
                                },
                                "condition": "new",
                                "offerType": "B2C",
                                "sellerId": "AXXXXXXXXXXXXX",
                                "belongsToRequester": true
                              },
                              {
                                "CompetitivePriceId": "1",
                                "Price": {
                                  "ListingPrice": {
                                    "CurrencyCode": "USD",
                                    "Amount": 115
                                  }
                                },
                                "condition": "new",
                                "offerType": "B2B",
                                "quantityTier": 3,
                                "quantityDiscountType": "QUANTITY_DISCOUNT",
                                "sellerId": "AXXXXXXXXXXXXX",
                                "belongsToRequester": true
                              },
                              {
                                "CompetitivePriceId": "1",
                                "Price": {
                                  "ListingPrice": {
                                    "CurrencyCode": "USD",
                                    "Amount": 110
                                  }
                                },
                                "condition": "new",
                                "offerType": "B2B",
                                "quantityTier": 5,
                                "quantityDiscountType": "QUANTITY_DISCOUNT",
                                "sellerId": "AXXXXXXXXXXXXX",
                                "belongsToRequester": true
                              }
                            ],
                            "NumberOfOfferListings": [
                              {
                                "Count": 3,
                                "condition": "new"
                              }
                            ],
                            "TradeInValue": {
                              "CurrencyCode": "USD",
                              "Amount": 10
                            }
                          },
                          "SalesRankings": [
                            {
                              "ProductCategoryId": "325345",
                              "Rank": 1
                            }
                          ]
                        }
                      },
                      {
                        "status": "Success",
                        "ASIN": "B00551Q3CS",
                        "Product": {
                          "Identifiers": {
                            "MarketplaceASIN": {
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ASIN": "B00551Q3CS"
                            },
                            "SKUIdentifier": {
                              "MarketplaceId": "",
                              "SellerId": "",
                              "SellerSKU": ""
                            }
                          },
                          "CompetitivePricing": {
                            "CompetitivePrices": [
                              {
                                "CompetitivePriceId": "1",
                                "Price": {
                                  "LandedPrice": {
                                    "CurrencyCode": "USD",
                                    "Amount": 10
                                  },
                                  "ListingPrice": {
                                    "CurrencyCode": "USD",
                                    "Amount": 130
                                  },
                                  "Shipping": {
                                    "CurrencyCode": "USD",
                                    "Amount": 120
                                  },
                                  "Points": {
                                    "PointsNumber": 130,
                                    "PointsMonetaryValue": {
                                      "CurrencyCode": "USD",
                                      "Amount": 10
                                    }
                                  }
                                },
                                "condition": "new",
                                "offerType": "B2B",
                                "sellerId": "AXXXXXXXXXXXXX",
                                "belongsToRequester": true
                              }
                            ],
                            "NumberOfOfferListings": [
                              {
                                "Count": 1,
                                "condition": "new"
                              }
                            ],
                            "TradeInValue": {
                              "CurrencyCode": "string",
                              "Amount": 0
                            }
                          },
                          "SalesRankings": [
                            {
                              "ProductCategoryId": "54564",
                              "Rank": 1
                            }
                          ]
                        }
                      }
                    ]
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/GetPricingResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "MarketplaceId": {
                        "value": "TEST_CASE_400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid Input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/GetPricingResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            }
          },
          "403": {
            "description": "表示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/GetPricingResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/GetPricingResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/GetPricingResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/GetPricingResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/GetPricingResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            }
          }
        }
      }
    },
    "/products/pricing/v0/listings/{SellerSKU}/offers": {
      "get": {
        "tags": [
          "productPricing"
        ],
        "description": "返回单个SKU列表的最低价格优惠。\n\n* * 说明: * * 本操作关联的参数可能包含特殊字符，需要URL编码才能调用API。为避免在编码URL时出现sku错误，请参阅 [url编码](https:// developer-docs.amazon.com/sp-api/docs/url-encoding)。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 1 | 2 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制] (文档: Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getListingOffers",
        "parameters": [
          {
            "name": "MarketplaceId",
            "in": "query",
            "description": "市场标识符。指定返回的价格的市场。",
            "required": true,
            "type": "string"
          },
          {
            "name": "ItemCondition",
            "in": "query",
            "description": "根据项目条件筛选优惠列表。可能的价值: 新的，使用，收藏，翻新，俱乐部。",
            "required": true,
            "type": "string",
            "enum": [
              "New",
              "Used",
              "Collectible",
              "Refurbished",
              "Club"
            ],
            "x-docgen-enum-table-extension": [
              {
                "value": "New",
                "description": "新建"
              },
              {
                "value": "Used",
                "description": "已使用"
              },
              {
                "value": "Collectible",
                "description": "珍藏品"
              },
              {
                "value": "Refurbished",
                "description": "翻新"
              },
              {
                "value": "Club",
                "description": "俱乐部"
              }
            ]
          },
          {
            "name": "SellerSKU",
            "in": "path",
            "description": "标识给定市场中的项目。SellerSKU由卖家的SellerId限定，它包含在您提交的每个操作中。",
            "required": true,
            "type": "string"
          },
          {
            "name": "CustomerType",
            "in": "query",
            "description": "指示是否请求消费者或企业提供。默认为消费者。",
            "required": false,
            "type": "string",
            "enum": [
              "Consumer",
              "Business"
            ],
            "x-docgen-enum-table-extension": [
              {
                "value": "Consumer",
                "description": "消费者"
              },
              {
                "value": "Business",
                "description": "业务"
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/GetOffersResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "SellerSKU": {
                        "value": "NABetaASINB00V5DG6IQ"
                      },
                      "MarketplaceId": {
                        "value": "ATVPDKIKX0DER"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "SKU": "NABetaASINB00V5DG6IQ",
                      "status": "Success",
                      "ItemCondition": "New",
                      "Identifier": {
                        "MarketplaceId": "ATVPDKIKX0DER",
                        "ItemCondition": "New",
                        "SellerSKU": "NABetaASINB00V5DG6IQ"
                      },
                      "Summary": {
                        "LowestPrices": [
                          {
                            "condition": "new",
                            "fulfillmentChannel": "Merchant",
                            "LandedPrice": {
                              "CurrencyCode": "USD",
                              "Amount": 10
                            },
                            "ListingPrice": {
                              "CurrencyCode": "USD",
                              "Amount": 10
                            },
                            "Shipping": {
                              "CurrencyCode": "USD",
                              "Amount": 0
                            }
                          }
                        ],
                        "NumberOfOffers": [
                          {
                            "condition": "new",
                            "fulfillmentChannel": "Merchant"
                          }
                        ],
                        "BuyBoxEligibleOffers": [
                          {
                            "condition": "new",
                            "fulfillmentChannel": "Merchant"
                          }
                        ],
                        "TotalOfferCount": 1
                      },
                      "Offers": [
                        {
                          "Shipping": {
                            "CurrencyCode": "USD",
                            "Amount": 0
                          },
                          "ListingPrice": {
                            "CurrencyCode": "USD",
                            "Amount": 10
                          },
                          "ShippingTime": {
                            "maximumHours": 48,
                            "minimumHours": 24,
                            "availabilityType": "NOW"
                          },
                          "SellerFeedbackRating": {
                            "FeedbackCount": 0,
                            "SellerPositiveFeedbackRating": 0
                          },
                          "ShipsFrom": {
                            "State": "WA",
                            "Country": "US"
                          },
                          "SubCondition": "new",
                          "IsFeaturedMerchant": false,
                          "SellerId": "AXXXXXXXXXXXXX",
                          "MyOffer": true,
                          "IsFulfilledByAmazon": false
                        }
                      ],
                      "MarketplaceID": "ATVPDKIKX0DER"
                    }
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "SellerSKU": {
                        "value": "NABetaASINB00V5DG6IQ"
                      },
                      "MarketplaceId": {
                        "value": "ATVPDKIKX0DER"
                      },
                      "CustomerType": {
                        "value": "Business"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "SKU": "NABetaASINB00V5DG6IQ",
                      "status": "Success",
                      "ItemCondition": "New",
                      "Identifier": {
                        "MarketplaceId": "ATVPDKIKX0DER",
                        "ItemCondition": "New",
                        "SellerSKU": "NABetaASINB00V5DG6IQ"
                      },
                      "Summary": {
                        "LowestPrices": [
                          {
                            "condition": "new",
                            "fulfillmentChannel": "Merchant",
                            "offerType": "B2B",
                            "LandedPrice": {
                              "CurrencyCode": "USD",
                              "Amount": 10
                            },
                            "ListingPrice": {
                              "CurrencyCode": "USD",
                              "Amount": 10
                            },
                            "Shipping": {
                              "CurrencyCode": "USD",
                              "Amount": 0
                            }
                          },
                          {
                            "condition": "new",
                            "fulfillmentChannel": "Merchant",
                            "offerType": "B2B",
                            "quantityTier": 20,
                            "quantityDiscountType": "QUANTITY_DISCOUNT",
                            "ListingPrice": {
                              "CurrencyCode": "USD",
                              "Amount": 8
                            }
                          },
                          {
                            "condition": "new",
                            "fulfillmentChannel": "Merchant",
                            "offerType": "B2B",
                            "quantityTier": 30,
                            "quantityDiscountType": "QUANTITY_DISCOUNT",
                            "ListingPrice": {
                              "CurrencyCode": "USD",
                              "Amount": 6
                            }
                          }
                        ],
                        "NumberOfOffers": [
                          {
                            "condition": "new",
                            "fulfillmentChannel": "Merchant"
                          }
                        ],
                        "BuyBoxEligibleOffers": [
                          {
                            "condition": "new",
                            "fulfillmentChannel": "Merchant"
                          }
                        ],
                        "BuyBoxPrices": [
                          {
                            "condition": "new",
                            "offerType": "B2B",
                            "ListingPrice": {
                              "Amount": 9,
                              "CurrencyCode": "USD"
                            },
                            "Shipping": {
                              "Amount": 0,
                              "CurrencyCode": "USD"
                            },
                            "LandedPrice": {
                              "Amount": 9,
                              "CurrencyCode": "USD"
                            },
                            "sellerId": "AXXXXXXXXXXXXX"
                          },
                          {
                            "condition": "new",
                            "offerType": "B2B",
                            "quantityTier": 20,
                            "quantityDiscountType": "QUANTITY_DISCOUNT",
                            "ListingPrice": {
                              "Amount": 8,
                              "CurrencyCode": "USD"
                            },
                            "sellerId": "AXXXXXXXXXXXXX"
                          },
                          {
                            "condition": "new",
                            "offerType": "B2B",
                            "quantityTier": 30,
                            "quantityDiscountType": "QUANTITY_DISCOUNT",
                            "ListingPrice": {
                              "Amount": 7,
                              "CurrencyCode": "USD"
                            },
                            "sellerId": "AXXXXXXXXXXXXX"
                          }
                        ],
                        "TotalOfferCount": 4
                      },
                      "Offers": [
                        {
                          "Shipping": {
                            "CurrencyCode": "USD",
                            "Amount": 0
                          },
                          "ListingPrice": {
                            "CurrencyCode": "USD",
                            "Amount": 10
                          },
                          "quantityDiscountPrices": [
                            {
                              "quantityTier": 2,
                              "quantityDiscountType": "QUANTITY_DISCOUNT",
                              "listingPrice": {
                                "Amount": 8,
                                "CurrencyCode": "USD"
                              }
                            },
                            {
                              "quantityTier": 3,
                              "quantityDiscountType": "QUANTITY_DISCOUNT",
                              "listingPrice": {
                                "Amount": 7,
                                "CurrencyCode": "USD"
                              }
                            }
                          ],
                          "ShippingTime": {
                            "maximumHours": 48,
                            "minimumHours": 24,
                            "availabilityType": "NOW"
                          },
                          "SellerFeedbackRating": {
                            "FeedbackCount": 0,
                            "SellerPositiveFeedbackRating": 0
                          },
                          "ShipsFrom": {
                            "State": "WA",
                            "Country": "US"
                          },
                          "SubCondition": "new",
                          "IsFeaturedMerchant": false,
                          "SellerId": "AXXXXXXXXXXXXX",
                          "MyOffer": true,
                          "IsFulfilledByAmazon": false
                        }
                      ],
                      "MarketplaceID": "ATVPDKIKX0DER"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/GetOffersResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "SellerSKU": {
                        "value": "TEST_CASE_400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid Input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/GetOffersResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            }
          },
          "403": {
            "description": "表示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/GetOffersResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/GetOffersResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/GetOffersResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/GetOffersResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/GetOffersResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            }
          }
        }
      }
    },
    "/products/pricing/v0/items/{Asin}/offers": {
      "get": {
        "tags": [
          "productPricing"
        ],
        "description": "根据ASIN返回单个商品的最低价格优惠。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 0.5 | 1 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制] (文档: Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getItemOffers",
        "parameters": [
          {
            "name": "MarketplaceId",
            "in": "query",
            "description": "市场标识符。指定返回的价格的市场。",
            "required": true,
            "type": "string"
          },
          {
            "name": "ItemCondition",
            "in": "query",
            "description": "根据项目条件筛选要考虑的优惠列表。可能的价值: 新的，使用，收藏，翻新，俱乐部。",
            "required": true,
            "type": "string",
            "enum": [
              "New",
              "Used",
              "Collectible",
              "Refurbished",
              "Club"
            ],
            "x-docgen-enum-table-extension": [
              {
                "value": "New",
                "description": "新建"
              },
              {
                "value": "Used",
                "description": "已使用"
              },
              {
                "value": "Collectible",
                "description": "珍藏品"
              },
              {
                "value": "Refurbished",
                "description": "翻新"
              },
              {
                "value": "Club",
                "description": "俱乐部"
              }
            ]
          },
          {
            "name": "Asin",
            "in": "path",
            "description": "商品的Amazon标准标识号 (ASIN)。",
            "required": true,
            "type": "string"
          },
          {
            "name": "CustomerType",
            "in": "query",
            "description": "指示是否请求消费者或企业提供。默认为消费者。",
            "required": false,
            "type": "string",
            "enum": [
              "Consumer",
              "Business"
            ],
            "x-docgen-enum-table-extension": [
              {
                "value": "Consumer",
                "description": "消费者"
              },
              {
                "value": "Business",
                "description": "业务"
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/GetOffersResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "Asin": {
                        "value": "B00V5DG6IQ"
                      },
                      "MarketplaceId": {
                        "value": "ATVPDKIKX0DER"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "ASIN": "B00V5DG6IQ",
                      "status": "Success",
                      "ItemCondition": "New",
                      "Identifier": {
                        "MarketplaceId": "ATVPDKIKX0DER",
                        "ItemCondition": "New",
                        "ASIN": "B00V5DG6IQ"
                      },
                      "Summary": {
                        "LowestPrices": [
                          {
                            "condition": "new",
                            "fulfillmentChannel": "Merchant",
                            "LandedPrice": {
                              "CurrencyCode": "USD",
                              "Amount": 10
                            },
                            "ListingPrice": {
                              "CurrencyCode": "USD",
                              "Amount": 10
                            },
                            "Shipping": {
                              "CurrencyCode": "USD",
                              "Amount": 0
                            }
                          }
                        ],
                        "NumberOfOffers": [
                          {
                            "condition": "new",
                            "fulfillmentChannel": "Merchant"
                          }
                        ],
                        "BuyBoxEligibleOffers": [
                          {
                            "condition": "new",
                            "fulfillmentChannel": "Merchant"
                          }
                        ],
                        "TotalOfferCount": 1
                      },
                      "Offers": [
                        {
                          "Shipping": {
                            "CurrencyCode": "USD",
                            "Amount": 0
                          },
                          "ListingPrice": {
                            "CurrencyCode": "USD",
                            "Amount": 10
                          },
                          "ShippingTime": {
                            "maximumHours": 48,
                            "minimumHours": 24,
                            "availabilityType": "NOW"
                          },
                          "SellerFeedbackRating": {
                            "FeedbackCount": 0,
                            "SellerPositiveFeedbackRating": 0
                          },
                          "ShipsFrom": {
                            "State": "WA",
                            "Country": "US"
                          },
                          "SubCondition": "new",
                          "IsFeaturedMerchant": false,
                          "SellerId": "AXXXXXXXXXXXXX",
                          "IsFulfilledByAmazon": false
                        }
                      ],
                      "MarketplaceID": "ATVPDKIKX0DER"
                    }
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "Asin": {
                        "value": "B00V5DG6IQ"
                      },
                      "MarketplaceId": {
                        "value": "ATVPDKIKX0DER"
                      },
                      "CustomerType": {
                        "value": "Business"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "ASIN": "B00V5DG6IQ",
                      "status": "Success",
                      "ItemCondition": "New",
                      "Identifier": {
                        "MarketplaceId": "ATVPDKIKX0DER",
                        "ItemCondition": "New",
                        "ASIN": "B00V5DG6IQ"
                      },
                      "Summary": {
                        "LowestPrices": [
                          {
                            "condition": "new",
                            "fulfillmentChannel": "Merchant",
                            "offerType": "B2B",
                            "LandedPrice": {
                              "CurrencyCode": "USD",
                              "Amount": 10
                            },
                            "ListingPrice": {
                              "CurrencyCode": "USD",
                              "Amount": 10
                            },
                            "Shipping": {
                              "CurrencyCode": "USD",
                              "Amount": 0
                            }
                          },
                          {
                            "condition": "new",
                            "fulfillmentChannel": "Merchant",
                            "offerType": "B2B",
                            "quantityTier": 20,
                            "quantityDiscountType": "QUANTITY_DISCOUNT",
                            "ListingPrice": {
                              "CurrencyCode": "USD",
                              "Amount": 8
                            }
                          },
                          {
                            "condition": "new",
                            "fulfillmentChannel": "Merchant",
                            "offerType": "B2B",
                            "quantityTier": 30,
                            "quantityDiscountType": "QUANTITY_DISCOUNT",
                            "ListingPrice": {
                              "CurrencyCode": "USD",
                              "Amount": 6
                            }
                          }
                        ],
                        "NumberOfOffers": [
                          {
                            "condition": "new",
                            "fulfillmentChannel": "Merchant"
                          }
                        ],
                        "BuyBoxEligibleOffers": [
                          {
                            "condition": "new",
                            "fulfillmentChannel": "Merchant"
                          }
                        ],
                        "BuyBoxPrices": [
                          {
                            "condition": "new",
                            "offerType": "B2B",
                            "ListingPrice": {
                              "Amount": 9,
                              "CurrencyCode": "USD"
                            },
                            "Shipping": {
                              "Amount": 0,
                              "CurrencyCode": "USD"
                            },
                            "LandedPrice": {
                              "Amount": 9,
                              "CurrencyCode": "USD"
                            },
                            "sellerId": "AXXXXXXXXXXXXX"
                          },
                          {
                            "condition": "new",
                            "offerType": "B2B",
                            "quantityTier": 20,
                            "quantityDiscountType": "QUANTITY_DISCOUNT",
                            "ListingPrice": {
                              "Amount": 8,
                              "CurrencyCode": "USD"
                            },
                            "sellerId": "AXXXXXXXXXXXXX"
                          },
                          {
                            "condition": "new",
                            "offerType": "B2B",
                            "quantityTier": 30,
                            "quantityDiscountType": "QUANTITY_DISCOUNT",
                            "ListingPrice": {
                              "Amount": 7,
                              "CurrencyCode": "USD"
                            },
                            "sellerId": "AXXXXXXXXXXXXX"
                          }
                        ],
                        "TotalOfferCount": 4
                      },
                      "Offers": [
                        {
                          "Shipping": {
                            "CurrencyCode": "USD",
                            "Amount": 0
                          },
                          "ListingPrice": {
                            "CurrencyCode": "USD",
                            "Amount": 10
                          },
                          "quantityDiscountPrices": [
                            {
                              "quantityTier": 20,
                              "quantityDiscountType": "QUANTITY_DISCOUNT",
                              "listingPrice": {
                                "Amount": 8,
                                "CurrencyCode": "USD"
                              }
                            },
                            {
                              "quantityTier": 30,
                              "quantityDiscountType": "QUANTITY_DISCOUNT",
                              "listingPrice": {
                                "Amount": 7,
                                "CurrencyCode": "USD"
                              }
                            }
                          ],
                          "ShippingTime": {
                            "maximumHours": 48,
                            "minimumHours": 24,
                            "availabilityType": "NOW"
                          },
                          "SellerFeedbackRating": {
                            "FeedbackCount": 0,
                            "SellerPositiveFeedbackRating": 0
                          },
                          "ShipsFrom": {
                            "State": "WA",
                            "Country": "US"
                          },
                          "SubCondition": "new",
                          "IsFeaturedMerchant": false,
                          "SellerId": "AXXXXXXXXXXXXX",
                          "MyOffer": true,
                          "IsFulfilledByAmazon": false
                        }
                      ],
                      "MarketplaceID": "ATVPDKIKX0DER"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/GetOffersResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "Asin": {
                        "value": "TEST_CASE_400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid Input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/GetOffersResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            }
          },
          "403": {
            "description": "表示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/GetOffersResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/GetOffersResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/GetOffersResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/GetOffersResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/GetOffersResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。\n_注意:_对于此状态代码，速率限制标头已弃用，不再返回。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一的请求引用ID。"
              }
            }
          }
        }
      }
    },
    "/batches/products/pricing/v0/itemOffers": {
      "post": {
        "tags": [
          "productPricing"
        ],
        "description": "返回基于ASIN的一批商品的最低价报价。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 0.1 | 1 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getItemOffersBatch",
        "parameters": [
          {
            "name": "getItemOffersBatchRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetItemOffersBatchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "指示请求是在批处理中运行的。有关批处理请求是否成功的信息，请检查批处理响应状态行。",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "requests": [
                            {
                              "uri": "/products/pricing/v0/items/B000P6Q7MY/offers",
                              "method": "GET",
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ItemCondition": "New",
                              "CustomerType": "Consumer"
                            },
                            {
                              "uri": "/products/pricing/v0/items/B001Q3KU9Q/offers",
                              "method": "GET",
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ItemCondition": "New",
                              "CustomerType": "Consumer"
                            },
                            {
                              "uri": "/products/pricing/v0/items/B007Z07UK6/offers",
                              "method": "GET",
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ItemCondition": "New",
                              "CustomerType": "Consumer"
                            },
                            {
                              "uri": "/products/pricing/v0/items/B000OQA3N4/offers",
                              "method": "GET",
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ItemCondition": "New",
                              "CustomerType": "Consumer"
                            },
                            {
                              "uri": "/products/pricing/v0/items/B07PTMKYS7/offers",
                              "method": "GET",
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ItemCondition": "New",
                              "CustomerType": "Consumer"
                            },
                            {
                              "uri": "/products/pricing/v0/items/B001PYUTII/offers",
                              "method": "GET",
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ItemCondition": "New",
                              "CustomerType": "Consumer"
                            },
                            {
                              "uri": "/products/pricing/v0/items/B00505DW2I/offers",
                              "method": "GET",
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ItemCondition": "New",
                              "CustomerType": "Consumer"
                            },
                            {
                              "uri": "/products/pricing/v0/items/B00CGZQU42/offers",
                              "method": "GET",
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ItemCondition": "New",
                              "CustomerType": "Consumer"
                            },
                            {
                              "uri": "/products/pricing/v0/items/B01LY2ZYRF/offers",
                              "method": "GET",
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ItemCondition": "New",
                              "CustomerType": "Consumer"
                            },
                            {
                              "uri": "/products/pricing/v0/items/B00KFRNZY6/offers",
                              "method": "GET",
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ItemCondition": "New",
                              "CustomerType": "Consumer"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "responses": [
                      {
                        "status": {
                          "statusCode": 200,
                          "reasonPhrase": "OK"
                        },
                        "body": {
                          "payload": {
                            "ASIN": "B000P6Q7MY",
                            "status": "Success",
                            "ItemCondition": "New",
                            "Identifier": {
                              "MarketplaceId": "ATVPDKIKX0DER",
                              "ItemCondition": "New",
                              "ASIN": "B000P6Q7MY"
                            },
                            "Summary": {
                              "LowestPrices": [
                                {
                                  "condition": "new",
                                  "fulfillmentChannel": "Merchant",
                                  "LandedPrice": {
[...]
