{
  "swagger": "2.0",
  "info": {
    "description": "通过销售合作伙伴进货API，您可以创建应用程序，这些应用程序可以创建库存的进货并将其更新到Amazon的执行网络。",
    "version": "v0",
    "title": "Selling Partner API for Fulfillment Inbound",
    "contact": {
      "name": "Selling Partner API Developer Support",
      "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "sellingpartnerapi-na.amazon.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/fba/inbound/v0/plans": {
      "post": {
        "tags": [
          "fbaInbound"
        ],
        "description": "返回一个或多个入站发运计划，这些计划提供了为指定的一组物料创建一个或多个入站发运所需的信息。可能需要多个入站装运计划，以便可以在亚马逊的履行网络中以最佳方式放置商品-例如，将库存放置在更靠近客户的位置。或者，如果两个发货计划需要不同的处理方式，则可以使用相同的Amazon fulfilation center目标创建两个入站发货计划-例如，需要标签的商品必须与无粘性混合库存分开发货。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "createInboundShipmentPlan",
        "deprecated": true,
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateInboundShipmentPlanRequest"
            },
            "description": "CreateInboundShipmentPlanRequest操作的请求架构。"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/CreateInboundShipmentPlanResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "ShipFromAddress": {
                            "Name": "Name",
                            "AddressLine1": "123 any st",
                            "AddressLine2": "AddressLine2",
                            "DistrictOrCounty": "Washtenaw",
                            "City": "Ann Arbor",
                            "StateOrProvinceCode": "MI",
                            "CountryCode": "US",
                            "PostalCode": "48188"
                          },
                          "LabelPrepPreference": "SELLER_LABEL",
                          "ShipToCountryCode": "ShipToCountryCode",
                          "ShipToCountrySubdivisionCode": "ShipToCountrySubdivisionCode",
                          "InboundShipmentPlanRequestItems": [
                            {
                              "SellerSKU": "SellerSKU",
                              "ASIN": "ASIN",
                              "Condition": "NewItem",
                              "Quantity": 1,
                              "QuantityInCase": 1,
                              "PrepDetailsList": [
                                {
                                  "PrepInstruction": "Polybagging",
                                  "PrepOwner": "AMAZON"
                                }
                              ]
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "InboundShipmentPlans": [
                        {
                          "ShipmentId": "ShipmentId",
                          "DestinationFulfillmentCenterId": "ABE2",
                          "ShipToAddress": {
                            "Name": "John Doe",
                            "AddressLine1": "123 any s",
                            "AddressLine2": "",
                            "DistrictOrCounty": "Wayne",
                            "City": "Detroit",
                            "StateOrProvinceCode": "MI",
                            "CountryCode": "US",
                            "PostalCode": "48110"
                          },
                          "LabelPrepType": "NO_LABEL",
                          "Items": [
                            {
                              "SellerSKU": "SellerSKU",
                              "FulfillmentNetworkSKU": "FulfillmentNetworkSKU",
                              "Quantity": 10,
                              "PrepDetailsList": [
                                {
                                  "PrepInstruction": "Polybagging",
                                  "PrepOwner": "AMAZON"
                                }
                              ]
                            }
                          ],
                          "EstimatedBoxContentsFee": {
                            "TotalUnits": 10,
                            "FeePerUnit": {
                              "CurrencyCode": "USD",
                              "Value": 10
                            },
                            "TotalFee": {
                              "CurrencyCode": "USD",
                              "Value": 10
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/CreateInboundShipmentPlanResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "ShipFromAddress": {
                            "Name": "BADBAD NAME",
                            "AddressLine1": "BADAddressLine1",
                            "AddressLine2": "BADAddressLine2",
                            "DistrictOrCounty": "BADDistrictOrCounty",
                            "City": "BADCity",
                            "StateOrProvinceCode": "BADStateOrProvinceCode",
                            "CountryCode": "BADCountryCode",
                            "PostalCode": "BADPostalCodeg"
                          },
                          "LabelPrepPreference": "BADSELLER_LABEL",
                          "ShipToCountryCode": "BADShipToCountryCode",
                          "ShipToCountrySubdivisionCode": "BADShipToCountrySubdivisionCode",
                          "InboundShipmentPlanRequestItems": [
                            {
                              "SellerSKU": "BADSellerSKU",
                              "ASIN": "BADASIN",
                              "Condition": "BADNewItem",
                              "Quantity": 0,
                              "QuantityInCase": 0,
                              "PrepDetailsList": [
                                {
                                  "PrepInstruction": "BADPolybagging",
                                  "PrepOwner": "BADAMAZON"
                                }
                              ]
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "Invalid Input",
                        "message": "Invalid data. Please check details"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/CreateInboundShipmentPlanResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/CreateInboundShipmentPlanResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/CreateInboundShipmentPlanResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/CreateInboundShipmentPlanResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/CreateInboundShipmentPlanResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/CreateInboundShipmentPlanResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    },
    "/fba/inbound/v0/shipments/{shipmentId}": {
      "post": {
        "tags": [
          "fbaInbound"
        ],
        "description": "根据由createInboundShipmentPlan操作返回的指定的shipmentId返回新的入站发运。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "createInboundShipment",
        "deprecated": true,
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InboundShipmentRequest"
            },
            "description": "InboundShipmentRequest操作的请求架构。"
          },
          {
            "name": "shipmentId",
            "in": "path",
            "description": "最初由createInboundShipmentPlan操作返回的装运标识符。",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/InboundShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "InboundShipmentHeader": {
                            "ShipmentName": "43545345",
                            "ShipFromAddress": {
                              "Name": "35435345",
                              "AddressLine1": "123 any st",
                              "DistrictOrCounty": "Washtenaw",
                              "City": "Ann Arbor",
                              "StateOrProvinceCode": "Test",
                              "CountryCode": "US",
                              "PostalCode": "48103"
                            },
                            "DestinationFulfillmentCenterId": "AEB2",
                            "AreCasesRequired": true,
                            "ShipmentStatus": "WORKING",
                            "LabelPrepPreference": "SELLER_LABEL",
                            "IntendedBoxContentsSource": "NONE"
                          },
                          "InboundShipmentItems": [
                            {
                              "ShipmentId": "345453",
                              "SellerSKU": "34534545",
                              "FulfillmentNetworkSKU": "435435435",
                              "QuantityShipped": 0,
                              "QuantityReceived": 0,
                              "QuantityInCase": 0,
                              "ReleaseDate": "2020-04-23",
                              "PrepDetailsList": [
                                {
                                  "PrepInstruction": "Polybagging",
                                  "PrepOwner": "AMAZON"
                                }
                              ]
                            }
                          ],
                          "MarketplaceId": "MarketplaceId"
                        }
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "ShipmentId": "ShipmentId"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/InboundShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "MarketplaceId": "BADATVPDKIKX0DER",
                          "InboundShipmentHeader": {
                            "ShipmentName": "Shipment for FBA15DJCQ1ZF",
                            "ShipFromAddress": {
                              "Name": "Uma Test",
                              "AddressLine1": "123 any st",
                              "AddressLine2": "",
                              "DistrictOrCounty": "Washtenaw",
                              "City": "Ann Arbor",
                              "StateOrProvinceCode": "MI",
                              "CountryCode": "US",
                              "PostalCode": "48103"
                            },
                            "DestinationFulfillmentCenterId": "ABE2",
                            "ShipmentStatus": "WORKING",
                            "LabelPrepPreference": "SELLER_LABEL"
                          },
                          "InboundShipmentItems": [
                            {
                              "ShipmentId": "FBA15DJCQ1ZF",
                              "SellerSKU": "PSMM-TEST-SKU-Apr-03_21_17_20-0379",
                              "FulfillmentNetworkSKU": "X0014ENQ7B",
                              "QuantityShipped": 1,
                              "QuantityReceived": 1,
                              "QuantityInCase": 1,
                              "ReleaseDate": "2020-02-27"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "Invalid Input",
                        "message": "Data is invalid. Please check."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/InboundShipmentResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/InboundShipmentResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/InboundShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/InboundShipmentResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/InboundShipmentResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/InboundShipmentResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "fbaInbound"
        ],
        "description": "从由指定的货件标识符标识的入站货件中更新或删除项目。不支持添加新项目。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "updateInboundShipment",
        "deprecated": true,
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InboundShipmentRequest"
            },
            "description": "InboundShipmentRequest操作的请求架构。"
          },
          {
            "name": "shipmentId",
            "in": "path",
            "description": "最初由createInboundShipmentPlan操作返回的装运标识符。",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/InboundShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "MarketplaceId": "ATVPDKIKX0DER",
                          "InboundShipmentHeader": {
                            "ShipmentName": "Shipment for FBA15DJCQ1ZF",
                            "ShipFromAddress": {
                              "Name": "Uma Test",
                              "AddressLine1": "123 any st",
                              "AddressLine2": "",
                              "DistrictOrCounty": "Washtenaw",
                              "City": "Ann Arbor",
                              "StateOrProvinceCode": "CO",
                              "CountryCode": "US",
                              "PostalCode": "48104"
                            },
                            "DestinationFulfillmentCenterId": "ABE2",
                            "ShipmentStatus": "WORKING",
                            "LabelPrepPreference": "SELLER_LABEL"
                          },
                          "InboundShipmentItems": [
                            {
                              "SellerSKU": "PSMM-TEST-SKU-Apr-03_21_17_20-0379",
                              "QuantityShipped": 1
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "ShipmentId": "FBA15DJCQ1ZF"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/InboundShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "MarketplaceId": "BADID",
                          "InboundShipmentHeader": {
                            "ShipmentName": "Shipment for FBA15DJCQ1ZF",
                            "ShipFromAddress": {
                              "Name": "Uma Test",
                              "AddressLine1": "123 any st",
                              "AddressLine2": "",
                              "DistrictOrCounty": "Washtenaw",
                              "City": "Ann Arbor",
                              "StateOrProvinceCode": "CO",
                              "CountryCode": "US",
                              "PostalCode": "48104"
                            },
                            "DestinationFulfillmentCenterId": "ABE2",
                            "ShipmentStatus": "WORKING",
                            "LabelPrepPreference": "SELLER_LABEL"
                          },
                          "InboundShipmentItems": [
                            {
                              "SellerSKU": "PSMM-TEST-SKU-Apr-03_21_17_20-0379",
                              "QuantityShipped": 1
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "Invalid Input",
                        "message": "Data is invalid. Please check."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/InboundShipmentResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/InboundShipmentResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/InboundShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/InboundShipmentResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/InboundShipmentResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/InboundShipmentResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    },
    "/fba/inbound/v0/shipments/{shipmentId}/preorder": {
      "get": {
        "tags": [
          "fbaInbound"
        ],
        "description": "返回预购信息，包括日期，卖方在确认预购装运之前需要这些信息。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getPreorderInfo",
        "deprecated": true,
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "最初由createInboundShipmentPlan操作返回的装运标识符。",
            "required": true,
            "type": "string"
          },
          {
            "name": "MarketplaceId",
            "in": "query",
            "description": "市场标识符。指定货件绑定到的市场。",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/GetPreorderInfoResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "shipmentId1"
                      },
                      "MarketplaceId": {
                        "value": "MarketplaceId1"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "ShipmentContainsPreorderableItems": true,
                      "ShipmentConfirmedForPreorder": true,
                      "NeedByDate": "2020-04-23",
                      "ConfirmedFulfillableDate": "2020-04-23"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/GetPreorderInfoResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "BADshipmentId1"
                      },
                      "MarketplaceId": {
                        "value": "BADMarketplaceId1"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "Invalid Input",
                        "message": "Data is invalid. Please check."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/GetPreorderInfoResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/GetPreorderInfoResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/GetPreorderInfoResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/GetPreorderInfoResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/GetPreorderInfoResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/GetPreorderInfoResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    },
    "/fba/inbound/v0/shipments/{shipmentId}/preorder/confirm": {
      "put": {
        "tags": [
          "fbaInbound"
        ],
        "description": "返回确认预购货件所需的信息。在调用getPreorderInfo操作后调用此操作，以获取有关装运的NeedByDate值和其他预购信息。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "confirmPreorder",
        "deprecated": true,
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "最初由createInboundShipmentPlan操作返回的装运标识符。",
            "required": true,
            "type": "string"
          },
          {
            "name": "NeedByDate",
            "in": "query",
            "description": "货件必须到达亚马逊履行中心的日期，以避免预购商品的交货承诺中断。必须为yyyy-mm-dd格式。对getPreorderInfo操作的响应返回此值。",
            "required": true,
            "type": "string",
            "format": "date"
          },
          {
            "name": "MarketplaceId",
            "in": "query",
            "description": "市场标识符。指定货件绑定到的市场。",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/ConfirmPreorderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "shipmentId1"
                      },
                      "NeedByDate": {
                        "value": "2020-10-10"
                      },
                      "MarketplaceId": {
                        "value": "MarketplaceId1"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "ConfirmedNeedByDate": "2020-04-23",
                      "ConfirmedFulfillableDate": "2020-04-23"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/ConfirmPreorderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "BADshipmentId1"
                      },
                      "NeedByDate": {
                        "value": "2020-10-10"
                      },
                      "MarketplaceId": {
                        "value": "BADMarketplaceId1"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "Invalid Input",
                        "message": "Data is invalid. Please check."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/ConfirmPreorderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ConfirmPreorderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ConfirmPreorderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ConfirmPreorderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ConfirmPreorderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/ConfirmPreorderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    },
    "/fba/inbound/v0/prepInstructions": {
      "get": {
        "tags": [
          "fbaInbound"
        ],
        "description": "返回标签要求和物品准备说明，以帮助准备将物品运送到亚马逊的履行网络。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getPrepInstructions",
        "parameters": [
          {
            "name": "ShipToCountryCode",
            "in": "query",
            "description": "项目将发往的国家/地区代码。请注意，标签要求和项目准备说明可能因国家/地区而异。",
            "required": true,
            "type": "string",
            "format": "[A-Z]{2}"
          },
          {
            "name": "SellerSKUList",
            "in": "query",
            "description": "SellerSKU值的列表。用于识别您想要标签要求的商品和商品准备说明，以便运送到亚马逊的履行网络。SellerSKU由卖方ID限定，卖方ID包含在对卖方合作伙伴API的每次调用中。\n\n注意: 包括您用于在亚马逊零售网站上列出商品的卖家sku。如果您包含从未用于在亚马逊零售网站上列出商品的卖家SKU，则会在响应的InvalidSKUList属性中返回卖家SKU。",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 50
          },
          {
            "name": "ASINList",
            "in": "query",
            "description": "ASIN值的列表。用于标识您希望物料准备说明帮助物料来源决策的物料。\n\n注意: asin必须包含在卖家参与的至少一个市场的产品目录中。未包含在卖方参与的至少一个市场的产品目录中的任何ASIN将在响应的InvalidASINList属性中返回。您可以通过在卖家的销售合作伙伴API中调用getmarketplaceparticipartions操作来了解卖家参与的市场。",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 50
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/GetPrepInstructionsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "ShipToCountryCode": {
                        "value": "US"
                      },
                      "ASINList": {
                        "value": [
                          "ASIN1"
                        ]
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "SKUPrepInstructionsList": [
                        {
                          "SellerSKU": "SellerSKU",
                          "ASIN": "ASIN1",
                          "BarcodeInstruction": "RequiresFNSKULabel",
                          "PrepGuidance": "ConsultHelpDocuments",
                          "PrepInstructionList": [
                            "Polybagging"
                          ],
                          "AmazonPrepFeesDetailsList": [
                            {
                              "PrepInstruction": "Polybagging",
                              "FeePerUnit": {
                                "CurrencyCode": "USD",
                                "Value": 10
                              }
                            }
                          ]
                        }
                      ],
                      "InvalidSKUList": [
                        {
                          "SellerSKU": "SellerSKU",
                          "ErrorReason": "DoesNotExist"
                        }
                      ],
                      "ASINPrepInstructionsList": [
                        {
                          "ASIN": "ASIN1",
                          "BarcodeInstruction": "RequiresFNSKULabel",
                          "PrepGuidance": "ConsultHelpDocuments",
                          "PrepInstructionList": [
                            "Polybagging"
                          ]
                        }
                      ],
                      "InvalidASINList": [
                        {
                          "ASIN": "ASIN1",
                          "ErrorReason": "DoesNotExist"
                        }
                      ]
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/GetPrepInstructionsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "ShipToCountryCode": {
                        "value": "US"
                      },
                      "ASINList": {
                        "value": [
                          "BADASIN"
                        ]
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "Invalid Input",
                        "message": "Data is invalid. Please check."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/GetPrepInstructionsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/GetPrepInstructionsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/GetPrepInstructionsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/GetPrepInstructionsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/GetPrepInstructionsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/GetPrepInstructionsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    },
    "/fba/inbound/v0/shipments/{shipmentId}/transport": {
      "get": {
        "tags": [
          "fbaInbound"
        ],
        "description": "返回有关入站发运的当前运输信息。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getTransportDetails",
        "deprecated": true,
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "最初由createInboundShipmentPlan操作返回的装运标识符。",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/GetTransportDetailsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "shipmentId1"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "TransportContent": {
                        "TransportHeader": {
                          "SellerId": "A3O2V2ZBRHE3NZ",
                          "ShipmentId": "FBA15DJCPTRK",
                          "IsPartnered": true,
                          "ShipmentType": "SP"
                        },
                        "TransportDetails": {
                          "PartneredSmallParcelData": {
                            "PackageList": [
                              {
                                "Dimensions": {
                                  "Length": 11,
                                  "Width": 11,
                                  "Height": 11,
                                  "Unit": "IN"
                                },
                                "Weight": {
                                  "Value": 11,
                                  "Unit": "pounds"
                                },
                                "CarrierName": "UNITED_PARCEL_SERVICE_INC",
                                "PackageStatus": "SHIPPED"
                              }
                            ]
                          }
                        },
                        "TransportResult": {
                          "TransportStatus": "WORKING"
                        }
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/GetTransportDetailsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "BADshipmentId1"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "Invalid Input",
                        "message": "Data is invalid. Please check."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/GetTransportDetailsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/GetTransportDetailsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/GetTransportDetailsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/GetTransportDetailsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/GetTransportDetailsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/GetTransportDetailsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "fbaInbound"
        ],
        "description": "向亚马逊发送有关入站货物的运输信息。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "putTransportDetails",
        "deprecated": true,
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "最初由createInboundShipmentPlan操作返回的装运标识符。",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutTransportDetailsRequest"
            },
            "description": "PutTransportDetailsRequest操作的请求架构。"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/PutTransportDetailsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "shipmentId1"
                      },
                      "body": {
                        "value": {
                          "IsPartnered": true,
                          "ShipmentType": "SP",
                          "TransportDetails": {
                            "PartneredSmallParcelData": {
                              "PackageList": [
                                {
                                  "Dimensions": {
                                    "Length": 11,
                                    "Width": 11,
                                    "Height": 11,
                                    "Unit": "inches"
                                  },
                                  "Weight": {
                                    "Value": 11,
                                    "Unit": "pounds"
                                  }
                                }
                              ],
                              "CarrierName": "string"
                            },
                            "NonPartneredSmallParcelData": {
                              "CarrierName": "USPS",
                              "PackageList": [
                                {
                                  "TrackingId": "werwrwerwrwrer"
                                }
                              ]
                            },
                            "PartneredLtlData": {
                              "Contact": {
                                "Name": "Test1",
                                "Phone": "234-343-3434",
                                "Email": "abc@test.com",
                                "Fax": "234-343-3434"
                              },
                              "BoxCount": 1,
                              "SellerFreightClass": "50",
                              "FreightReadyDate": "2020-03-27",
                              "PalletList": [
                                {
                                  "Dimensions": {
                                    "Length": 13,
                                    "Width": 13,
                                    "Height": 13,
                                    "Unit": "inches"
                                  },
                                  "Weight": {
                                    "Value": 13,
                                    "Unit": "pounds"
                                  },
                                  "IsStacked": true
                                }
                              ],
                              "TotalWeight": {
                                "Value": 13,
                                "Unit": "pounds"
                              },
                              "SellerDeclaredValue": {
                                "CurrencyCode": "USD",
                                "Value": 20
                              }
                            },
                            "NonPartneredLtlData": {
                              "CarrierName": "USPS",
                              "ProNumber": "3746274"
                            }
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "TransportResult": {
                        "TransportStatus": "WORKING"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/PutTransportDetailsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "BADshipmentId1"
                      },
                      "body": {
                        "value": {
                          "IsPartnered": true,
                          "ShipmentType": "SP",
                          "TransportDetails": {
                            "PartneredSmallParcelData": {
                              "PackageList": [
                                {
                                  "Dimensions": {
                                    "Length": 11,
                                    "Width": 11,
                                    "Height": 11,
                                    "Unit": "inches"
                                  },
                                  "Weight": {
                                    "Value": 11,
                                    "Unit": "pounds"
                                  }
                                }
                              ],
                              "CarrierName": "string"
                            },
                            "NonPartneredSmallParcelData": {
                              "CarrierName": "USPS",
                              "PackageList": [
                                {
                                  "TrackingId": "werwrwerwrwrer"
                                }
                              ]
                            },
                            "PartneredLtlData": {
                              "Contact": {
                                "Name": "Test1",
                                "Phone": "234-343-3434",
                                "Email": "abc@test.com",
                                "Fax": "234-343-3434"
                              },
                              "BoxCount": 1,
                              "SellerFreightClass": "50",
                              "FreightReadyDate": "2020-03-27",
                              "PalletList": [
                                {
                                  "Dimensions": {
                                    "Length": 13,
                                    "Width": 13,
                                    "Height": 13,
                                    "Unit": "inches"
                                  },
                                  "Weight": {
                                    "Value": 13,
                                    "Unit": "pounds"
                                  },
                                  "IsStacked": true
                                }
                              ],
                              "TotalWeight": {
                                "Value": 13,
                                "Unit": "pounds"
                              },
                              "SellerDeclaredValue": {
                                "CurrencyCode": "USD",
                                "Value": 20
                              }
                            },
                            "NonPartneredLtlData": {
                              "CarrierName": "USPS",
                              "ProNumber": "3746274"
                            }
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "Invalid Input",
                        "message": "Data is invalid. Please check."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/PutTransportDetailsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/PutTransportDetailsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/PutTransportDetailsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/PutTransportDetailsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/PutTransportDetailsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/PutTransportDetailsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    },
    "/fba/inbound/v0/shipments/{shipmentId}/transport/void": {
      "post": {
        "tags": [
          "fbaInbound"
        ],
        "description": "取消先前确认的请求，使用亚马逊合作的承运人运送入站货物。\n\n若要成功，必须在getTransportDetails操作返回的VoidDeadline日期之前调用此操作。\n\n重要: VoidDeadline日期是在您确认小包裹装运运输请求后24小时或在您确认少于卡车/满载 (LTL/FTL) 装运运输请求后一小时。无效期限过后，您的帐户将被收取运费。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "voidTransport",
        "deprecated": true,
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "最初由createInboundShipmentPlan操作返回的装运标识符。",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/VoidTransportResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "shipmentId1"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "TransportResult": {
                        "TransportStatus": "VOIDING"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/VoidTransportResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "badshipmentId1"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "Invalid Input",
                        "message": "Data is invalid. Please check."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/VoidTransportResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/VoidTransportResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/VoidTransportResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/VoidTransportResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/VoidTransportResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/VoidTransportResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    },
    "/fba/inbound/v0/shipments/{shipmentId}/transport/estimate": {
      "post": {
        "tags": [
          "fbaInbound"
        ],
        "description": "启动由Amazon合作的承运人估算入站货物的运输成本的过程。\n\n在调用estimateTransport操作之前，您必须调用putTransportDetails操作以向Amazon提供入站货物的运输信息。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "estimateTransport",
        "deprecated": true,
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "最初由createInboundShipmentPlan操作返回的装运标识符。",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/EstimateTransportResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "shipmentId1"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "TransportResult": {
                        "TransportStatus": "ESTIMATING"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/EstimateTransportResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "BadshipmentId1"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "Invalid Input",
                        "message": "Data is invalid. Please check."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/EstimateTransportResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/EstimateTransportResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/EstimateTransportResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/EstimateTransportResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/EstimateTransportResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/EstimateTransportResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    },
    "/fba/inbound/v0/shipments/{shipmentId}/transport/confirm": {
      "post": {
        "tags": [
          "fbaInbound"
        ],
        "description": "确认卖家接受亚马逊合作的运费估算，同意允许亚马逊向他们的账户收取运费，并请求亚马逊合作的承运人运送入站货物。\n\n在调用confirmTransport操作之前，您应该调用getTransportDetails操作以获取Amazon合作的运费估计值。\n\n重要提示: 确认运输请求后，如果卖家决定不希望亚马逊合作的承运人运送入站货物，您可以致电voidTransport操作以取消运输请求。请注意，对于小包裹货物，卖方在确认运输请求后24小时内将运输请求作废。对于少于卡车/满载 (LTL/FTL) 的货物，卖方在确认运输请求后一小时内将其作废。宽限期到期后，卖方的帐户将收取运费。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "confirmTransport",
        "deprecated": true,
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "最初由createInboundShipmentPlan操作返回的装运标识符。",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/ConfirmTransportResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "shipmentId1"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "TransportResult": {
                        "TransportStatus": "CONFIRMING"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/ConfirmTransportResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "BADshipmentId1"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "Invalid Input",
                        "message": "Data is invalid. Please check."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/ConfirmTransportResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/ConfirmTransportResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/ConfirmTransportResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/ConfirmTransportResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/ConfirmTransportResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/ConfirmTransportResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    },
    "/fba/inbound/v0/shipments/{shipmentId}/labels": {
      "get": {
        "tags": [
          "fbaInbound"
        ],
        "description": "返回包裹/托盘标签，以便在亚马逊履行中心更快、更准确地处理货件。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getLabels",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "最初由createInboundShipmentPlan操作返回的装运标识符。",
            "required": true,
            "type": "string"
          },
          {
            "name": "PageType",
            "in": "query",
            "description": "用于打印标签的页面类型。提交您的市场中不支持的PageType值将返回错误。",
            "required": true,
            "type": "string",
            "enum": [
              "PackageLabel_Letter_2",
              "PackageLabel_Letter_4",
              "PackageLabel_Letter_6",
              "PackageLabel_Letter_6_CarrierLeft",
              "PackageLabel_A4_2",
              "PackageLabel_A4_4",
              "PackageLabel_Plain_Paper",
              "PackageLabel_Plain_Paper_CarrierBottom",
              "PackageLabel_Thermal",
              "PackageLabel_Thermal_Unified",
              "PackageLabel_Thermal_NonPCP",
              "PackageLabel_Thermal_No_Carrier_Rotation"
            ],
            "x-docgen-enum-table-extension": [
              {
                "value": "PackageLabel_Letter_2",
                "description": "每个美国字母标签页两个标签。这是在美国使用联合包裹服务 (UPS) 作为承运人的亚马逊合作货件的唯一有效值。支持在加拿大和美国。"
              },
              {
                "value": "PackageLabel_Letter_4",
                "description": "每个美国字母标签页四个标签。这是美国非亚马逊合作发货的唯一有效值。支持在加拿大和美国。"
              },
              {
                "value": "PackageLabel_Letter_6",
                "description": "每个美国字母标签页六个标签。这是美国非亚马逊合作发货的唯一有效值。支持在加拿大和美国。"
              },
              {
                "value": "PackageLabel_Letter_6_CarrierLeft",
                "description": "PackageLabel_Letter_6_CarrierLeft"
              },
              {
                "value": "PackageLabel_A4_2",
                "description": "每个A4标签页有两个标签。"
              },
              {
                "value": "PackageLabel_A4_4",
                "description": "每张A4标签纸四个标签。"
              },
              {
                "value": "PackageLabel_Plain_Paper",
                "description": "每张美国信纸一张标签。仅适用于非亚马逊合作的发货。"
              },
              {
                "value": "PackageLabel_Plain_Paper_CarrierBottom",
                "description": "PackageLabel_Plain_Paper_CarrierBottom"
              },
              {
                "value": "PackageLabel_Thermal",
                "description": "用于热敏打印机。支持Amazon与UPS合作发货。"
              },
              {
                "value": "PackageLabel_Thermal_Unified",
                "description": "用于热敏打印机。支持ATS发货。"
              },
              {
                "value": "PackageLabel_Thermal_NonPCP",
                "description": "用于热敏打印机。支持非亚马逊合作的发货。"
              },
              {
                "value": "PackageLabel_Thermal_No_Carrier_Rotation",
                "description": "用于热敏打印机。支持亚马逊与DHL合作发货。"
              }
            ]
          },
          {
            "name": "LabelType",
            "in": "query",
            "description": "请求的标签类型。",
            "required": true,
            "type": "string",
            "enum": [
              "BARCODE_2D",
              "UNIQUE",
              "PALLET"
            ],
            "x-docgen-enum-table-extension": [
              {
                "value": "BARCODE_2D",
                "description": "此选项仅适用于将2D条形码应用于所有包装的货件。Amazon强烈建议使用UNIQUE选项来获取软件包标签，而不是BARCODE_2D选项。"
              },
              {
                "value": "UNIQUE",
                "description": "用于打印入站货物的唯一运输标签和承运人标签的文档数据。"
              },
              {
                "value": "PALLET",
                "description": "用于打印托盘标签的文件数据，用于少于卡车/满载 (LTL/FTL) 入站货物。"
              }
            ]
          },
          {
            "name": "NumberOfPackages",
            "in": "query",
            "description": "装运中的包裹数量。",
            "required": false,
            "type": "integer"
          },
          {
            "name": "PackageLabelsToPrint",
            "in": "query",
            "description": "指定要打印其包装标签的包装的标识符列表。\n\n如果您使用 [FBA入站装运纸箱信息提要](https:// developer-docs.amazon.com/sp-api/docs/fulfilliting-by-amazon-Feed-type-values # fba-inbound-Shipment-Carton-information-feed) 提供包装盒内容信息，然后，'PackageLabelsToPrint' 必须与您通过该feed提供的 'CartonId' 值匹配。如果您为盒内容信息提供了实现入站API v2024-03-20，则 “packagelabelstoprint” 必须与 ['listshipmentboxes](https:// developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference # listshipmentboxes) 响应中的 “boxid” 值匹配。如果这些值不符合要求，则该操作返回 “incorrectpackageidentifier” 错误代码。",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "NumberOfPallets",
            "in": "query",
            "description": "货盘的数量。这将为每个托盘返回四个相同的标签。",
            "required": false,
            "type": "integer"
          },
          {
            "name": "PageSize",
            "description": "通过总包装标签进行分页的页面大小。这是非合作LTL装运的必需参数。最大值: 1000。",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "PageStartIndex",
            "description": "用于通过total packages标签进行分页的页面起始索引。这是非合作LTL装运的必需参数。",
            "in": "query",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/GetLabelsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "348975493"
                      },
                      "PageType": {
                        "value": "PackageLabel_Letter_2"
                      },
                      "LabelType": {
                        "value": "BARCODE_2D"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "DownloadURL": "http://www.labels.url.com"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/GetLabelsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "BADVALUE"
                      },
                      "PageType": {
                        "value": "PackageLabel_Letter_2"
                      },
                      "LabelType": {
                        "value": "BARCODE_2D"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "Invalid Input",
                        "message": "Data is invalid. Please check."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/GetLabelsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/GetLabelsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/GetLabelsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/GetLabelsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/GetLabelsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/GetLabelsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    },
    "/fba/inbound/v0/shipments/{shipmentId}/billOfLading": {
      "get": {
        "tags": [
          "fbaInbound"
        ],
        "description": "返回少于卡车/满载 (LTL/FTL) 装运的提单。getBillOfLading操作返回PDF文档数据，用于打印亚马逊合作的少于卡车/满载 (LTL/FTL) 入站货物的提单。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getBillOfLading",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "最初由createInboundShipmentPlan操作返回的装运标识符。",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/GetBillOfLadingResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "shipmentId"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "DownloadURL": "http://bill-of.lading.url.com"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/GetBillOfLadingResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "badid1"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "Invalid Input",
                        "message": "Data is invalid. Please check."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "401": {
            "description": "请求的授权标头格式不正确或不包含有效的令牌。",
            "schema": {
              "$ref": "#/definitions/GetBillOfLadingResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/GetBillOfLadingResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/GetBillOfLadingResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/GetBillOfLadingResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/GetBillOfLadingResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/GetBillOfLadingResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        }
      }
    },
    "/fba/inbound/v0/shipments": {
      "get": {
        "tags": [
          "fbaInbound"
        ],
        "description": "根据您指定的标准返回入站发运的列表。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表显示了此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会看到比此处显示的更高的速率和突发值。有关更多信息，请参阅 [销售合作伙伴API中的使用计划和费率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getShipments",
        "parameters": [
          {
            "name": "ShipmentStatusList",
            "in": "query",
            "description": "ShipmentStatus值的列表。用于选择当前状态与您指定的状态值匹配的发运。",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "WORKING",
                "READY_TO_SHIP",
                "SHIPPED",
                "RECEIVING",
                "CANCELLED",
                "DELETED",
                "CLOSED",
                "ERROR",
                "IN_TRANSIT",
                "DELIVERED",
                "CHECKED_IN"
              ],
              "x-docgen-enum-table-extension": [
                {
                  "value": "WORKING",
                  "description": "装运是由卖方创建的，但尚未装运。"
                },
                {
                  "value": "READY_TO_SHIP",
                  "description": "卖方有印刷的盒子标签 (用于小包裹运输) 或托盘标签 (用于少于卡车运输)。"
                },
                {
[...]
