{
  "swagger": "2.0",
  "info": {
    "description": "使用订单销售合作伙伴API以编程方式检索订单信息。使用此API，您可以开发快速、灵活和自定义的应用程序来管理订单同步、执行订单研究以及创建基于需求的决策支持工具。\n\n_注意:_对于JP、AU和SG市场，订单API支持订单2016年。对于所有其他市场，Orders API支持过去两年的订单 (响应中不会显示超过此时间的订单)。",
    "version": "v0",
    "title": "Orders v0",
    "contact": {
      "name": "Selling Partner API Developer Support",
      "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "sellingpartnerapi-na.amazon.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/orders/v0/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "description": "返回在指定时间段内创建或更新的订单。如果您想要返回特定类型的订单，您可以对您的请求应用过滤器。“Nexttoken” 不会影响您在请求中包含的任何过滤器; 它只会影响过滤订单响应的分页。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 0.0167 | 20 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表包含此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会收到比此处显示的更高的速率和突发值。有关详细信息，请参阅销售合作伙伴api文档中的 [使用计划和速率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getOrders",
        "parameters": [
          {
            "name": "CreatedAfter",
            "in": "query",
            "description": "使用此日期选择在指定时间之后 (或在指定时间) 创建的订单。只有在指定时间之后的订单才会被退回。日期必须为 [ISO 8601](https:// developer-docs.amazon.com/sp-api/docs/iso-8601) 格式。\n\n** 注意 **: 必须输入 'CreatedAfter' 或 'LastUpdatedAfter' 参数。两者都不能为空。当设置 “createdafter'” 时，不能设置 “lastupdatedafter'” 和 “lastupdatedbefore”。",
            "required": false,
            "type": "string"
          },
          {
            "name": "CreatedBefore",
            "in": "query",
            "description": "使用此日期选择在指定时间之前 (或在指定时间) 创建的订单。仅返回在指定时间之前下达的订单。日期必须为 [ISO 8601](https:// developer-docs.amazon.com/sp-api/docs/iso-8601) 格式。\n\n** 注意 **: 当设置 “createdafter” 时，“createdbefore” 是可选的。如果指定，“createdbefore” 必须等于或在 “createdafter” 日期之后，并且至少在当前时间之前两分钟。",
            "required": false,
            "type": "string"
          },
          {
            "name": "LastUpdatedAfter",
            "in": "query",
            "description": "使用此日期选择上次在指定时间之后 (或在指定时间) 更新的订单。更新定义为订单状态的任何更改，包括创建新订单。包括亚马逊和卖家所做的更新。日期必须为 [ISO 8601](https:// developer-docs.amazon.com/sp-api/docs/iso-8601) 格式。\n\n** 注意 **: “createdafter'” 或 “lastupdatedafter'” 为必填项。两者都不能为空。当设置 “lastupdatedafter'” 时，不能设置 “createdafter'” 或 “createdbefore”。",
            "required": false,
            "type": "string"
          },
          {
            "name": "LastUpdatedBefore",
            "in": "query",
            "description": "使用此日期选择上次在指定时间之前 (或在指定时间) 更新的订单。更新定义为订单状态的任何更改，包括创建新订单。包括亚马逊和卖家所做的更新。日期必须为 [ISO 8601](https:// developer-docs.amazon.com/sp-api/docs/iso-8601) 格式。\n\n** 注意 **: 当设置 'LastUpdatedAfter' 时，'LastUpdatedBefore' 是可选的。但如果指定，“lastupdatedbefore” 必须等于或在 “lastupdatedafter” 日期之后，并且至少在当前时间之前两分钟。",
            "required": false,
            "type": "string"
          },
          {
            "name": "OrderStatuses",
            "in": "query",
            "description": "用于筛选结果的 “orderstatus” 值的列表。\n\n** 可能值: **\n-'PendingAvailability' (此状态仅适用于预购，该订单已下达，付款尚未授权，并且该物品的发布日期为将来。)\n-“待定” (订单已下达，但付款尚未授权。)\n-'未发货' (已授权付款，订单已准备好发货，但订单中没有物品已发货。)\n-'部分装运' (订单中的一个或多个，但不是全部，物品已装运。)\n-“已发货” (订单中的所有项目已发货。)\n-'InvoiceUnconfirmed' (订单中的所有商品都已发货，卖家尚未向亚马逊确认发票已发货给买家。)\n-“已取消” (订单已取消。)\n-'未履行标签' (订单无法履行。此状态仅适用于多通道履行订单。)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "MarketplaceIds",
            "in": "query",
            "description": "“Marketplaceid” 值的列表。用于选择在指定市场中下达的订单。\n\n有关 “marketplaceid” 值的完整列表，请参阅 [marketplaceid](https:// developer-docs.amazon.com/sp-api/docs/marketplaceid)。",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 50
          },
          {
            "name": "FulfillmentChannels",
            "in": "query",
            "description": "指示订单履行方式的列表。按履行渠道筛选结果。\n\n** 可能的值 **: 'AFN' (由亚马逊履行)，'MFN' (由卖家履行)。",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "PaymentMethods",
            "in": "query",
            "description": "付款方法值的列表。使用此字段可以选择使用指定付款方式支付的订单。\n\n** 可能的值 **: “COD” (货到付款)，“CVS” (便利店)，“其他” (除COD或CVS以外的任何付款方式)。",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "BuyerEmail",
            "in": "query",
            "description": "买家的电子邮件地址。用于选择包含指定电子邮件地址的订单。",
            "required": false,
            "type": "string"
          },
          {
            "name": "SellerOrderId",
            "in": "query",
            "description": "由卖方指定的订单标识符。用于仅选择与订单标识符匹配的订单。如果指定了 'SellerOrderId'，则不能指定 'afulfillmentchannels' 、 'OrderStatuses' 、 'PaymentMethod' 、 'LastUpdatedAfter' 、 'lastupdatedbefore' 和 'BuyerEmail'。",
            "required": false,
            "type": "string"
          },
          {
            "name": "MaxResultsPerPage",
            "in": "query",
            "description": "指示每页可返回的最大订单数的数字。值必须为1-100。默认100。",
            "required": false,
            "type": "integer"
          },
          {
            "name": "EasyShipShipmentStatuses",
            "in": "query",
            "description": "“Easyshipshipmentstatus” 值的列表。用于选择状态与指定值匹配的简易发运订单。如果指定了 “easyshipshipmentstatus”，则仅返回Amazon Easy Ship订单。\n\n** 可能值: **\n-'PendingSchedule' (包裹正在等待接送时间表。)\n-'PendingPickUp' (亚马逊尚未从卖家那里领取包裹。)\n-'PendingDropOff' (卖方将把包裹交付给承运人。)\n-'标签取消' (卖方取消取货。)\n-'PickedUp' (亚马逊已经从卖家那里拿到了包裹。)\n-'DroppedOff' (包裹由卖方交付给承运人。)\n-'Atorigininfc' (包装在origin履行中心。)\n-'AtDestinationFC' (包裹在目的地履行中心。)\n-“已交付” (包裹已交付。)\n-'Rejectedbyer' (包已被买方拒绝。)\n-“无法递送” (无法递送包裹。)\n-'ReturningToSeller' (包裹未送达，正在退还给卖方。)\n-'ReturnedToSeller' (包裹未送达，已退回卖方。)\n-“丢失” (包丢失。)\n-'OutForDelivery' (包裹已交付。)\n-“损坏” (包装被承运人损坏。)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "ElectronicInvoiceStatuses",
            "in": "query",
            "description": "“Electronicinvoicestatus” 值的列表。用于选择具有与指定值匹配的电子发票状态的订单。\n\n** 可能值: **\n-“不需要” (此订单不需要提交电子发票。)\n-“未找到” (未提交此订单的电子发票。)\n-“处理” (正在处理此订单的电子发票。)\n-“出错” (此订单最后提交的电子发票被拒绝。)\n-“已接受” (最后提交的电子发票已提交并接受。)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "NextToken",
            "in": "query",
            "description": "上一个请求的响应中返回的字符串令牌。",
            "required": false,
            "type": "string"
          },
          {
            "name": "AmazonOrderIds",
            "in": "query",
            "description": "“Amazonorderid” 值的列表。“Amazonorderid” 是Amazon定义的订单标识符，格式为3-7-7。",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 50
          },
          {
            "name": "ActualFulfillmentSupplySourceId",
            "in": "query",
            "description": "您希望订单完成的位置的 “源id”。",
            "required": false,
            "type": "string"
          },
          {
            "name": "IsISPU",
            "in": "query",
            "description": "当为true时，此订单被标记为从商店取货而不是交付。",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "StoreChainStoreId",
            "in": "query",
            "description": "存储链存储标识符。链接到连锁商店中的特定商店。",
            "required": false,
            "type": "string"
          },
          {
            "name": "EarliestDeliveryDateBefore",
            "in": "query",
            "description": "使用此日期选择最早交货日期在指定时间之前 (或之前) 的订单。日期必须为 [ISO 8601](https:// developer-docs.amazon.com/sp-api/docs/iso-8601) 格式。",
            "required": false,
            "type": "string"
          },
          {
            "name": "EarliestDeliveryDateAfter",
            "in": "query",
            "description": "使用此日期选择最早交货日期在指定时间之后 (或在指定时间) 的订单。日期必须为 [ISO 8601](https:// developer-docs.amazon.com/sp-api/docs/iso-8601) 格式。",
            "required": false,
            "type": "string"
          },
          {
            "name": "LatestDeliveryDateBefore",
            "in": "query",
            "description": "使用此日期选择在指定时间之前 (或在指定时间) 具有最晚交货日期的订单。日期必须为 [ISO 8601](https:// developer-docs.amazon.com/sp-api/docs/iso-8601) 格式。",
            "required": false,
            "type": "string"
          },
          {
            "name": "LatestDeliveryDateAfter",
            "in": "query",
            "description": "使用此日期可选择在指定时间之后 (或在指定时间) 具有最晚交货日期的订单。日期必须为 [ISO 8601](https:// developer-docs.amazon.com/sp-api/docs/iso-8601) 格式。",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/GetOrdersResponse"
            },
            "examples": {
              "application/json": {
                "payload": {
                  "NextToken": "2YgYW55IGNhcm5hbCBwbGVhc3VyZS4",
                  "Orders": [
                    {
                      "AmazonOrderId": "902-3159896-1390916",
                      "PurchaseDate": "2017-01-20T19:49:35Z",
                      "LastUpdateDate": "2017-01-20T19:49:35Z",
                      "OrderStatus": "Pending",
                      "FulfillmentChannel": "SellerFulfilled",
                      "NumberOfItemsShipped": 0,
                      "NumberOfItemsUnshipped": 0,
                      "PaymentMethod": "Other",
                      "PaymentMethodDetails": [
                        "CreditCard",
                        "GiftCerificate"
                      ],
                      "MarketplaceId": "ATVPDKIKX0DER",
                      "ShipmentServiceLevelCategory": "Standard",
                      "OrderType": "StandardOrder",
                      "EarliestShipDate": "2017-01-20T19:51:16Z",
                      "LatestShipDate": "2017-01-25T19:49:35Z",
                      "IsBusinessOrder": false,
                      "IsPrime": false,
                      "IsAccessPointOrder": false,
                      "IsGlobalExpressEnabled": false,
                      "IsPremiumOrder": false,
                      "IsSoldByAB": false,
                      "IsIBA": false,
                      "ShippingAddress": {
                        "Name": "Michigan address",
                        "AddressLine1": "1 Cross St.",
                        "City": "Canton",
                        "StateOrRegion": "MI",
                        "PostalCode": "48817",
                        "CountryCode": "US"
                      },
                      "BuyerInfo": {
                        "BuyerEmail": "user@example.com",
                        "BuyerName": "John Doe",
                        "BuyerTaxInfo": {
                          "CompanyLegalName": "A Company Name"
                        },
                        "PurchaseOrderNumber": "1234567890123"
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "CreatedAfter": {
                        "value": "TEST_CASE_200"
                      },
                      "MarketplaceIds": {
                        "value": [
                          "ATVPDKIKX0DER"
                        ]
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "CreatedBefore": "1.569521782042E9",
                      "Orders": [
                        {
                          "AmazonOrderId": "902-1845936-5435065",
                          "PurchaseDate": "1970-01-19T03:58:30Z",
                          "LastUpdateDate": "1970-01-19T03:58:32Z",
                          "OrderStatus": "Unshipped",
                          "FulfillmentChannel": "MFN",
                          "SalesChannel": "Amazon.com",
                          "ShipServiceLevel": "Std US D2D Dom",
                          "OrderTotal": {
                            "CurrencyCode": "USD",
                            "Amount": "11.01"
                          },
                          "NumberOfItemsShipped": 0,
                          "NumberOfItemsUnshipped": 1,
                          "PaymentMethod": "Other",
                          "PaymentMethodDetails": [
                            "Standard"
                          ],
                          "IsReplacementOrder": false,
                          "MarketplaceId": "ATVPDKIKX0DER",
                          "ShipmentServiceLevelCategory": "Standard",
                          "OrderType": "StandardOrder",
                          "EarliestShipDate": "1970-01-19T03:59:27Z",
                          "LatestShipDate": "1970-01-19T04:05:13Z",
                          "EarliestDeliveryDate": "1970-01-19T04:06:39Z",
                          "LatestDeliveryDate": "1970-01-19T04:15:17Z",
                          "IsBusinessOrder": false,
                          "IsPrime": false,
                          "IsGlobalExpressEnabled": false,
                          "IsPremiumOrder": false,
                          "IsSoldByAB": false,
                          "IsIBA": false,
                          "DefaultShipFromLocationAddress": {
                            "Name": "MFNIntegrationTestMerchant",
                            "AddressLine1": "2201 WESTLAKE AVE",
                            "City": "SEATTLE",
                            "StateOrRegion": "WA",
                            "PostalCode": "98121-2778",
                            "CountryCode": "US",
                            "Phone": "+1 480-386-0930 ext. 73824",
                            "AddressType": "Commercial"
                          },
                          "FulfillmentInstruction": {
                            "FulfillmentSupplySourceId": "sampleSupplySourceId"
                          },
                          "IsISPU": false,
                          "IsAccessPointOrder": false,
                          "AutomatedShippingSettings": {
                            "HasAutomatedShippingSettings": false
                          },
                          "EasyShipShipmentStatus": "PendingPickUp",
                          "ElectronicInvoiceStatus": "NotRequired"
                        },
                        {
                          "AmazonOrderId": "902-8745147-1934268",
                          "PurchaseDate": "1970-01-19T03:58:30Z",
                          "LastUpdateDate": "1970-01-19T03:58:32Z",
                          "OrderStatus": "Unshipped",
                          "FulfillmentChannel": "MFN",
                          "SalesChannel": "Amazon.com",
                          "ShipServiceLevel": "Std US D2D Dom",
                          "OrderTotal": {
                            "CurrencyCode": "USD",
                            "Amount": "11.01"
                          },
                          "NumberOfItemsShipped": 0,
                          "NumberOfItemsUnshipped": 1,
                          "PaymentMethod": "Other",
                          "PaymentMethodDetails": [
                            "Standard"
                          ],
                          "IsReplacementOrder": false,
                          "MarketplaceId": "ATVPDKIKX0DER",
                          "ShipmentServiceLevelCategory": "Standard",
                          "OrderType": "StandardOrder",
                          "EarliestShipDate": "1970-01-19T03:59:27Z",
                          "LatestShipDate": "1970-01-19T04:05:13Z",
                          "EarliestDeliveryDate": "1970-01-19T04:06:39Z",
                          "LatestDeliveryDate": "1970-01-19T04:15:17Z",
                          "IsBusinessOrder": false,
                          "IsPrime": false,
                          "IsAccessPointOrder": false,
                          "IsGlobalExpressEnabled": false,
                          "IsPremiumOrder": false,
                          "IsSoldByAB": false,
                          "IsIBA": false,
                          "EasyShipShipmentStatus": "PendingPickUp",
                          "ElectronicInvoiceStatus": "NotRequired"
                        }
                      ]
                    }
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "CreatedAfter": {
                        "value": "TEST_CASE_200_NEXT_TOKEN"
                      },
                      "MarketplaceIds": {
                        "value": [
                          "ATVPDKIKX0DER"
                        ]
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "NextToken": "2YgYW55IGNhcm5hbCBwbGVhc3VyZS4",
                      "Orders": [
                        {
                          "AmazonOrderId": "902-3159896-1390916",
                          "PurchaseDate": "2017-01-20T19:49:35Z",
                          "LastUpdateDate": "2017-01-20T19:49:35Z",
                          "OrderStatus": "Pending",
                          "FulfillmentChannel": "SellerFulfilled",
                          "NumberOfItemsShipped": 0,
                          "NumberOfItemsUnshipped": 0,
                          "PaymentMethod": "Other",
                          "PaymentMethodDetails": [
                            "CreditCard",
                            "GiftCerificate"
                          ],
                          "MarketplaceId": "ATVPDKIKX0DER",
                          "ShipmentServiceLevelCategory": "Standard",
                          "OrderType": "StandardOrder",
                          "EasyShipShipmentStatus": "PendingPickUp",
                          "ElectronicInvoiceStatus": "NotRequired",
                          "EarliestShipDate": "2017-01-20T19:51:16Z",
                          "LatestShipDate": "2017-01-25T19:49:35Z",
                          "IsBusinessOrder": false,
                          "IsPrime": false,
                          "IsAccessPointOrder": false,
                          "IsGlobalExpressEnabled": false,
                          "IsPremiumOrder": false,
                          "IsSoldByAB": false,
                          "IsIBA": false
                        }
                      ]
                    }
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "CreatedAfter": {
                        "value": "TEST_CASE_200_NEXT_TOKEN"
                      },
                      "MarketplaceIds": {
                        "value": [
                          "ATVPDKIKX0DER"
                        ]
                      },
                      "NextToken": {
                        "value": "2YgYW55IGNhcm5hbCBwbGVhc3VyZS4"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "Orders": [
                        {
                          "AmazonOrderId": "902-3159896-1390916",
                          "PurchaseDate": "2017-01-20T19:49:35Z",
                          "LastUpdateDate": "2017-01-20T19:49:35Z",
                          "OrderStatus": "Pending",
                          "FulfillmentChannel": "SellerFulfilled",
                          "NumberOfItemsShipped": 0,
                          "NumberOfItemsUnshipped": 0,
                          "PaymentMethod": "Other",
                          "PaymentMethodDetails": [
                            "CreditCard",
                            "GiftCerificate"
                          ],
                          "MarketplaceId": "ATVPDKIKX0DER",
                          "ShipmentServiceLevelCategory": "Standard",
                          "OrderType": "StandardOrder",
                          "EasyShipShipmentStatus": "PendingPickUp",
                          "ElectronicInvoiceStatus": "NotRequired",
                          "EarliestShipDate": "2017-01-20T19:51:16Z",
                          "LatestShipDate": "2017-01-25T19:49:35Z",
                          "IsBusinessOrder": false,
                          "IsPrime": false,
                          "IsAccessPointOrder": false,
                          "IsGlobalExpressEnabled": false,
                          "IsPremiumOrder": false,
                          "IsSoldByAB": false,
                          "IsIBA": false
                        }
                      ]
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/GetOrdersResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "CreatedAfter": {
                        "value": "TEST_CASE_400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid Input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "表示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/GetOrdersResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/GetOrdersResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/GetOrdersResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/GetOrdersResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/GetOrdersResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        },
        "summary": "getOrders"
      }
    },
    "/orders/v0/orders/{orderId}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "description": "返回您指定的顺序。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 0.5 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表包含此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会收到比此处显示的更高的速率和突发值。有关详细信息，请参阅 [使用计划和速率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getOrder",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "Amazon定义的订单标识符，格式为3-7-7。",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/GetOrderResponse"
            },
            "examples": {
              "application/json": {
                "payload": {
                  "AmazonOrderId": "902-3159896-1390916",
                  "PurchaseDate": "2017-01-20T19:49:35Z",
                  "LastUpdateDate": "2017-01-20T19:49:35Z",
                  "OrderStatus": "Pending",
                  "FulfillmentChannel": "SellerFulfilled",
                  "NumberOfItemsShipped": 0,
                  "NumberOfItemsUnshipped": 0,
                  "PaymentMethod": "Other",
                  "PaymentMethodDetails": [
                    "CreditCard",
                    "GiftCerificate"
                  ],
                  "MarketplaceId": "ATVPDKIKX0DER",
                  "ShipmentServiceLevelCategory": "Standard",
                  "OrderType": "StandardOrder",
                  "EarliestShipDate": "2017-01-20T19:51:16Z",
                  "LatestShipDate": "2017-01-25T19:49:35Z",
                  "IsBusinessOrder": false,
                  "IsPrime": false,
                  "IsGlobalExpressEnabled": false,
                  "IsPremiumOrder": false,
                  "IsSoldByAB": false,
                  "IsIBA": false,
                  "DefaultShipFromLocationAddress": {
                    "Name": "MFNIntegrationTestMerchant",
                    "AddressLine1": "2201 WESTLAKE AVE",
                    "City": "SEATTLE",
                    "StateOrRegion": "WA",
                    "PostalCode": "98121-2778",
                    "CountryCode": "US",
                    "Phone": "+1 480-386-0930 ext. 73824",
                    "AddressType": "Commercial"
                  },
                  "FulfillmentInstruction": {
                    "FulfillmentSupplySourceId": "sampleSupplySourceId"
                  },
                  "IsISPU": false,
                  "IsAccessPointOrder": false,
                  "ShippingAddress": {
                    "Name": "Michigan address",
                    "AddressLine1": "1 Cross St.",
                    "City": "Canton",
                    "StateOrRegion": "MI",
                    "PostalCode": "48817",
                    "CountryCode": "US"
                  },
                  "BuyerInfo": {
                    "BuyerEmail": "user@example.com",
                    "BuyerName": "John Doe",
                    "BuyerTaxInfo": {
                      "CompanyLegalName": "A Company Name"
                    },
                    "PurchaseOrderNumber": "1234567890123"
                  },
                  "AutomatedShippingSettings": {
                    "HasAutomatedShippingSettings": false
                  }
                }
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TEST_CASE_200"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "AmazonOrderId": "902-1845936-5435065",
                      "PurchaseDate": "1970-01-19T03:58:30Z",
                      "LastUpdateDate": "1970-01-19T03:58:32Z",
                      "OrderStatus": "Unshipped",
                      "FulfillmentChannel": "MFN",
                      "SalesChannel": "Amazon.com",
                      "ShipServiceLevel": "Std US D2D Dom",
                      "OrderTotal": {
                        "CurrencyCode": "USD",
                        "Amount": "11.01"
                      },
                      "NumberOfItemsShipped": 0,
                      "NumberOfItemsUnshipped": 1,
                      "PaymentMethod": "Other",
                      "PaymentMethodDetails": [
                        "Standard"
                      ],
                      "IsReplacementOrder": false,
                      "MarketplaceId": "ATVPDKIKX0DER",
                      "ShipmentServiceLevelCategory": "Standard",
                      "OrderType": "StandardOrder",
                      "EarliestShipDate": "1970-01-19T03:59:27Z",
                      "LatestShipDate": "1970-01-19T04:05:13Z",
                      "EarliestDeliveryDate": "1970-01-19T04:06:39Z",
                      "LatestDeliveryDate": "1970-01-19T04:15:17Z",
                      "IsBusinessOrder": false,
                      "IsPrime": false,
                      "IsGlobalExpressEnabled": false,
                      "IsPremiumOrder": false,
                      "IsSoldByAB": false,
                      "IsIBA": false,
                      "DefaultShipFromLocationAddress": {
                        "Name": "MFNIntegrationTestMerchant",
                        "AddressLine1": "2201 WESTLAKE AVE",
                        "City": "SEATTLE",
                        "StateOrRegion": "WA",
                        "PostalCode": "98121-2778",
                        "CountryCode": "US",
                        "Phone": "+1 480-386-0930 ext. 73824",
                        "AddressType": "Commercial"
                      },
                      "FulfillmentInstruction": {
                        "FulfillmentSupplySourceId": "sampleSupplySourceId"
                      },
                      "IsISPU": false,
                      "IsAccessPointOrder": false,
                      "AutomatedShippingSettings": {
                        "HasAutomatedShippingSettings": false
                      },
                      "EasyShipShipmentStatus": "PendingPickUp",
                      "ElectronicInvoiceStatus": "NotRequired"
                    }
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TEST_CASE_IBA_200"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "AmazonOrderId": "921-3175655-0452641",
                      "PurchaseDate": "2019-05-07T15:42:57.058Z",
                      "LastUpdateDate": "2019-05-08T21:59:59Z",
                      "OrderStatus": "Shipped",
                      "FulfillmentChannel": "AFN",
                      "SalesChannel": "Amazon.de",
                      "ShipServiceLevel": "Standard",
                      "OrderTotal": {
                        "CurrencyCode": "EUR",
                        "Amount": "100.00"
                      },
                      "NumberOfItemsShipped": 1,
                      "NumberOfItemsUnshipped": 0,
                      "PaymentMethod": "Other",
                      "PaymentMethodDetails": [
                        "Invoice"
                      ],
                      "IsReplacementOrder": false,
                      "MarketplaceId": "A1PA6795UKMFR9",
                      "ShipmentServiceLevelCategory": "Standard",
                      "OrderType": "StandardOrder",
                      "EarliestShipDate": "1970-01-19T03:59:27Z",
                      "LatestShipDate": "2019-05-08T21:59:59Z",
                      "EarliestDeliveryDate": "2019-05-10T21:59:59Z",
                      "LatestDeliveryDate": "2019-05-12T21:59:59Z",
                      "IsBusinessOrder": true,
                      "IsPrime": false,
                      "IsGlobalExpressEnabled": false,
                      "IsPremiumOrder": false,
                      "IsSoldByAB": true,
                      "IsIBA": true,
                      "DefaultShipFromLocationAddress": {
                        "Name": "MFNIntegrationTestMerchant",
                        "AddressLine1": "2201 WESTLAKE AVE",
                        "City": "SEATTLE",
                        "StateOrRegion": "WA",
                        "PostalCode": "98121-2778",
                        "CountryCode": "US",
                        "Phone": "+1 480-386-0930 ext. 73824",
                        "AddressType": "Commercial"
                      },
                      "FulfillmentInstruction": {
                        "FulfillmentSupplySourceId": "sampleSupplySourceId"
                      },
                      "IsISPU": false,
                      "IsAccessPointOrder": false,
                      "AutomatedShippingSettings": {
                        "HasAutomatedShippingSettings": false
                      },
                      "EasyShipShipmentStatus": "PendingPickUp",
                      "ElectronicInvoiceStatus": "NotRequired"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/GetOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TEST_CASE_400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid Input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "表示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/GetOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/GetOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/GetOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/GetOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/GetOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        },
        "summary": "getOrder"
      }
    },
    "/orders/v0/orders/{orderId}/buyerInfo": {
      "get": {
        "tags": [
          "Orders"
        ],
        "description": "返回您指定的订单的买方信息。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 0.5 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表包含此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会收到比此处显示的更高的速率和突发值。有关详细信息，请参阅 [使用计划和速率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getOrderBuyerInfo",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "“Orderid” 是Amazon定义的订单标识符，格式为3-7-7。",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/GetOrderBuyerInfoResponse"
            },
            "examples": {
              "application/json": {
                "payload": {
                  "AmazonOrderId": "902-3159896-1390916",
                  "BuyerEmail": "user@example.com",
                  "BuyerName": "John Smith",
                  "BuyerTaxInfo": {
                    "CompanyLegalName": "Company Name"
                  },
                  "PurchaseOrderNumber": "1234567890123"
                }
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TEST_CASE_200"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "AmazonOrderId": "902-1845936-5435065",
                      "BuyerEmail": "fzyrv6gwkhbb15c@example.com",
                      "BuyerName": "MFNIntegrationTestMerchant"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/GetOrderBuyerInfoResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TEST_CASE_400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid Input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "表示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/GetOrderBuyerInfoResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/GetOrderBuyerInfoResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/GetOrderBuyerInfoResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/GetOrderBuyerInfoResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/GetOrderBuyerInfoResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        },
        "summary": "getOrderBuyerInfo"
      }
    },
    "/orders/v0/orders/{orderId}/address": {
      "get": {
        "tags": [
          "Orders"
        ],
        "description": "返回您指定的订单的送货地址。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 0.5 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表包含此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会收到比此处显示的更高的速率和突发值。有关详细信息，请参阅 [使用计划和速率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getOrderAddress",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "“Orderid” 是Amazon定义的订单标识符，格式为3-7-7。",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/GetOrderAddressResponse"
            },
            "examples": {
              "application/json": {
                "payload": {
                  "AmazonOrderId": "902-3159896-1390916",
                  "ShippingAddress": {
                    "Name": "Michigan address",
                    "AddressLine1": "1 cross st",
                    "City": "Canton",
                    "StateOrRegion": "MI",
                    "PostalCode": "48817",
                    "CountryCode": "US"
                  }
                }
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TEST_CASE_200"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "AmazonOrderId": "902-1845936-5435065",
                      "ShippingAddress": {
                        "Name": "MFNIntegrationTestMerchant",
                        "AddressLine1": "2201 WESTLAKE AVE",
                        "City": "SEATTLE",
                        "StateOrRegion": "WA",
                        "PostalCode": "98121-2778",
                        "CountryCode": "US",
                        "Phone": "+1 480-386-0930 ext. 73824",
                        "AddressType": "Commercial"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/GetOrderAddressResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TEST_CASE_400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid Input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "表示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/GetOrderAddressResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/GetOrderAddressResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/GetOrderAddressResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/GetOrderAddressResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/GetOrderAddressResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        },
        "summary": "getOrderAddress"
      }
    },
    "/orders/v0/orders/{orderId}/orderItems": {
      "get": {
        "tags": [
          "Orders"
        ],
        "description": "返回您指定的订单的详细订单项信息。如果提供了 “nexttoken”，则它用于检索订单项的下一页。\n\n__ 注意 __: 当订单处于待定状态时 (订单已下达，但付款尚未授权)，getOrderItems操作不会返回有关订单中订单项目的定价，税费，运费，礼品状态或促销的信息。在订单离开待定状态 (当付款已被授权时会发生这种情况) 并进入未发货、部分发货或已发货状态后，getOrderItems操作将返回有关订单中订单项目的定价、税费、运费、礼品状态和促销信息。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 0.5 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表包含此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会收到比此处显示的更高的速率和突发值。有关详细信息，请参阅 [使用计划和速率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getOrderItems",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "Amazon定义的订单标识符，格式为3-7-7。",
            "required": true,
            "type": "string"
          },
          {
            "name": "NextToken",
            "in": "query",
            "description": "上一个请求的响应中返回的字符串令牌。",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsResponse"
            },
            "examples": {
              "application/json": {
                "payload": {
                  "AmazonOrderId": "903-1671087-0812628",
                  "NextToken": "2YgYW55IGNhcm5hbCBwbGVhc3VyZS4",
                  "OrderItems": [
                    {
                      "ASIN": "BT0093TELA",
                      "OrderItemId": "68828574383266",
                      "SellerSKU": "CBA_OTF_1",
                      "Title": "Example item name",
                      "QuantityOrdered": 1,
                      "QuantityShipped": 1,
                      "PointsGranted": {
                        "PointsNumber": 10,
                        "PointsMonetaryValue": {
                          "CurrencyCode": "JPY",
                          "Amount": "10.00"
                        }
                      },
                      "ItemPrice": {
                        "CurrencyCode": "JPY",
                        "Amount": "25.99"
                      },
                      "ShippingPrice": {
                        "CurrencyCode": "JPY",
                        "Amount": "1.26"
                      },
                      "ScheduledDeliveryEndDate": "2013-09-09T01:30:00Z",
                      "ScheduledDeliveryStartDate": "2013-09-07T02:00:00Z",
                      "CODFee": {
                        "CurrencyCode": "JPY",
                        "Amount": "10.00"
                      },
                      "CODFeeDiscount": {
                        "CurrencyCode": "JPY",
                        "Amount": "1.00"
                      },
                      "PriceDesignation": "BusinessPrice",
                      "BuyerInfo": {
                        "BuyerCustomizedInfo": {
                          "CustomizedURL": "https://zme-caps.amazon.com/t/bR6qHkzSOxuB/J8nbWhze0Bd3DkajkOdY-XQbWkFralegp2sr_QZiKEE/1"
                        },
                        "GiftMessageText": "For you!",
                        "GiftWrapPrice": {
                          "CurrencyCode": "GBP",
                          "Amount": "41.99"
                        },
                        "GiftWrapLevel": "Classic"
                      },
                      "BuyerRequestedCancel": {
                        "IsBuyerRequestedCancel": "true",
                        "BuyerCancelReason": "Found cheaper somewhere else."
                      },
                      "SerialNumbers": [
                        "854"
                      ]
                    },
                    {
                      "ASIN": "BCTU1104UEFB",
                      "OrderItemId": "79039765272157",
                      "SellerSKU": "CBA_OTF_5",
                      "Title": "Example item name",
                      "QuantityOrdered": 2,
                      "ItemPrice": {
                        "CurrencyCode": "JPY",
                        "Amount": "17.95"
                      },
                      "PromotionIds": [
                        "FREESHIP"
                      ],
                      "ConditionId": "Used",
                      "ConditionSubtypeId": "Mint",
                      "ConditionNote": "Example ConditionNote",
                      "PriceDesignation": "BusinessPrice",
                      "BuyerInfo": {
                        "BuyerCustomizedInfo": {
                          "CustomizedURL": "https://zme-caps.amazon.com/t/bR6qHkzSOxuB/J8nbWhze0Bd3DkajkOdY-XQbWkFralegp2sr_QZiKEE/1"
                        },
                        "GiftMessageText": "For you!",
                        "GiftWrapPrice": {
                          "CurrencyCode": "JPY",
                          "Amount": "1.99"
                        },
                        "GiftWrapLevel": "Classic"
                      },
                      "BuyerRequestedCancel": {
                        "IsBuyerRequestedCancel": "true",
                        "BuyerCancelReason": "Found cheaper somewhere else."
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TEST_CASE_200"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "AmazonOrderId": "902-1845936-5435065",
                      "OrderItems": [
                        {
                          "ASIN": "B00551Q3CS",
                          "OrderItemId": "05015851154158",
                          "SellerSKU": "NABetaASINB00551Q3CS",
                          "Title": "B00551Q3CS [Card Book]",
                          "QuantityOrdered": 1,
                          "QuantityShipped": 0,
                          "ProductInfo": {
                            "NumberOfItems": "1"
                          },
                          "ItemPrice": {
                            "CurrencyCode": "USD",
                            "Amount": "10.00"
                          },
                          "ItemTax": {
                            "CurrencyCode": "USD",
                            "Amount": "1.01"
                          },
                          "PromotionDiscount": {
                            "CurrencyCode": "USD",
                            "Amount": "0.00"
                          },
                          "IsGift": "false",
                          "ConditionId": "New",
                          "ConditionSubtypeId": "New",
                          "IsTransparency": false,
                          "SerialNumberRequired": false,
                          "IossNumber": "",
                          "DeemedResellerCategory": "IOSS",
                          "StoreChainStoreId": "ISPU_StoreId",
                          "BuyerRequestedCancel": {
                            "IsBuyerRequestedCancel": "true",
                            "BuyerCancelReason": "Found cheaper somewhere else."
                          }
                        }
                      ]
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TEST_CASE_400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid Input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "表示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        },
        "summary": "getOrderItems"
      }
    },
    "/orders/v0/orders/{orderId}/orderItems/buyerInfo": {
      "get": {
        "tags": [
          "Orders"
        ],
        "description": "返回指定订单中的订单项的买方信息。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 0.5 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表包含此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会收到比此处显示的更高的速率和突发值。有关详细信息，请参阅 [使用计划和速率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getOrderItemsBuyerInfo",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "Amazon定义的订单标识符，格式为3-7-7。",
            "required": true,
            "type": "string"
          },
          {
            "name": "NextToken",
            "in": "query",
            "description": "上一个请求的响应中返回的字符串令牌。",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsBuyerInfoResponse"
            },
            "examples": {
              "application/json": {
                "payload": {
                  "OrderItemId": "903-1671087-0812628",
                  "BuyerCustomizedInfo": {
                    "CustomizedURL": "https://zme-caps.amazon.com/t/bR6qHkzSOxuB/J8nbWhze0Bd3DkajkOdY-XQbWkFralegp2sr_QZiKEE/1"
                  },
                  "GiftMessageText": "For you!",
                  "GiftWrapPrice": {
                    "CurrencyCode": "JPY",
                    "Amount": "1.99"
                  },
                  "GiftWrapLevel": "Classic"
                }
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TEST_CASE_200"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "AmazonOrderId": "902-1845936-5435065",
                      "OrderItems": [
                        {
                          "BuyerCustomizedInfo": {
                            "CustomizedURL": "https://zme-caps.amazon.com/t/bR6qHkzSOxuB/J8nbWhze0Bd3DkajkOdY-XQbWkFralegp2sr_QZiKEE/1"
                          },
                          "GiftMessageText": "Et toi!",
                          "GiftWrapPrice": {
                            "CurrencyCode": "JPY",
                            "Amount": "1.99"
                          },
                          "GiftWrapLevel": "Classic"
                        }
                      ]
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsBuyerInfoResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TEST_CASE_400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid Input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "表示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsBuyerInfoResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsBuyerInfoResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsBuyerInfoResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsBuyerInfoResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsBuyerInfoResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        },
        "summary": "getOrderItemsBuyerInfo"
      }
    },
    "/orders/v0/orders/{orderId}/shipment": {
      "post": {
        "tags": [
          "Orders"
        ],
        "description": "更新您指定的订单的发运状态。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 5 | 15 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表包含此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会收到比此处显示的更高的速率和突发值。有关详细信息，请参阅 [使用计划和速率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "updateShipmentStatus",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "Amazon定义的订单标识符，格式为3-7-7。",
            "required": true,
            "type": "string"
          },
          {
            "name": "payload",
            "in": "body",
            "description": "“Updateshipmentstatus” 操作的请求正文。",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateShipmentStatusRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "成功。",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {}
                  },
                  "response": {}
                }
              ]
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "marketplaceId": "1",
                          "shipmentStatus": "ReadyForPickup"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Marketplace ID is not defined",
                        "details": "1001"
                      }
                    ]
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/UpdateShipmentStatusErrorResponse"
            }
          },
          "403": {
            "description": "指示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/UpdateShipmentStatusErrorResponse"
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/UpdateShipmentStatusErrorResponse"
            }
          },
          "413": {
            "description": "请求大小超过了可接受的最大大小。",
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/UpdateShipmentStatusErrorResponse"
            }
          },
          "415": {
            "description": "请求负载的格式不受支持。",
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/UpdateShipmentStatusErrorResponse"
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/UpdateShipmentStatusErrorResponse"
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/UpdateShipmentStatusErrorResponse"
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "headers": {
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/UpdateShipmentStatusErrorResponse"
            }
          }
        },
        "summary": "updateShipmentStatus"
      }
    },
    "/orders/v0/orders/{orderId}/regulatedInfo": {
      "get": {
        "tags": [
          "Orders"
        ],
        "description": "返回您指定的订单的规定信息。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 0.5 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表包含此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会收到比此处显示的更高的速率和突发值。有关详细信息，请参阅 [使用计划和速率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "getOrderRegulatedInfo",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "Amazon定义的订单标识符，格式为3-7-7。",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "成功。",
            "schema": {
              "$ref": "#/definitions/GetOrderRegulatedInfoResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "902-3159896-1390916"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "AmazonOrderId": "902-3159896-1390916",
                      "RequiresDosageLabel": false,
                      "RegulatedInformation": {
                        "Fields": [
                          {
                            "FieldId": "pet_prescription_name",
                            "FieldLabel": "Name",
                            "FieldType": "Text",
                            "FieldValue": "Ruffus"
                          },
                          {
                            "FieldId": "pet_prescription_species",
                            "FieldLabel": "Species",
                            "FieldType": "Text",
                            "FieldValue": "Dog"
                          }
                        ]
                      },
                      "RegulatedOrderVerificationStatus": {
                        "Status": "Pending",
                        "RequiresMerchantAction": true,
                        "ValidRejectionReasons": [
                          {
                            "RejectionReasonId": "shield_pom_vps_reject_product",
                            "RejectionReasonDescription": "This medicine is not suitable for your pet."
                          },
                          {
                            "RejectionReasonId": "shield_pom_vps_reject_age",
                            "RejectionReasonDescription": "Your pet is too young for this medicine."
                          },
                          {
                            "RejectionReasonId": "shield_pom_vps_reject_incorrect_weight",
                            "RejectionReasonDescription": "Your pet's weight does not match ordered size."
                          }
                        ]
                      }
                    }
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "902-2592119-3531015"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "AmazonOrderId": "902-2592119-3531015",
                      "RequiresDosageLabel": false,
                      "RegulatedInformation": {
                        "Fields": [
                          {
                            "FieldId": "pets_rx_scName",
                            "FieldLabel": "Pet name",
                            "FieldType": "Text",
                            "FieldValue": "Woofer"
                          },
                          {
                            "FieldId": "pets_rx_scType",
                            "FieldLabel": "Pet type",
                            "FieldType": "Text",
                            "FieldValue": "Dog"
                          },
                          {
                            "FieldId": "pets_rx_scBreed",
                            "FieldLabel": "Pet breed",
                            "FieldType": "Text",
                            "FieldValue": "Husky"
                          },
                          {
                            "FieldId": "pets_rx_scGender",
                            "FieldLabel": "Pet gender",
                            "FieldType": "Text",
                            "FieldValue": "Female"
                          },
                          {
                            "FieldId": "pets_rx_scDateOfBirth",
                            "FieldLabel": "Pet Birth Date",
                            "FieldType": "Text",
                            "FieldValue": "2016-05-01"
                          },
                          {
                            "FieldId": "pets_rx_scWeight",
                            "FieldLabel": "Weight",
                            "FieldType": "Text",
                            "FieldValue": "12"
                          },
                          {
                            "FieldId": "pets_rx_scWeightUnit",
                            "FieldLabel": "Weight Unit",
                            "FieldType": "Text",
                            "FieldValue": "Pound"
                          },
                          {
                            "FieldId": "pets_rx_scHasAllergies",
                            "FieldLabel": "Does your pet have allergies?",
                            "FieldType": "Text",
                            "FieldValue": "False"
                          },
                          {
                            "FieldId": "pets_rx_scTakesAdditionalMedications",
                            "FieldLabel": "Is your pet on any other medication?",
                            "FieldType": "Text",
                            "FieldValue": "False"
                          },
                          {
                            "FieldId": "pets_rx_scHasOtherProblems",
                            "FieldLabel": "Any pet health problems?",
                            "FieldType": "Text",
                            "FieldValue": "False"
                          },
                          {
                            "FieldId": "pets_rx_scSourceClinicId",
                            "FieldLabel": "Source Clinic ID",
                            "FieldType": "Text",
                            "FieldValue": "Clinic-1234"
                          },
                          {
                            "FieldId": "pets_rx_scVetClinicName",
                            "FieldLabel": "Vet Clinic Name",
                            "FieldType": "Text",
                            "FieldValue": "Test Clinic"
                          },
                          {
                            "FieldId": "pets_rx_scVetClinicCity",
                            "FieldLabel": "Vet Clinic City",
                            "FieldType": "Text",
                            "FieldValue": "Seattle"
                          },
                          {
                            "FieldId": "pets_rx_scVetClinicState",
                            "FieldLabel": "Vet Clinic State",
                            "FieldType": "Text",
                            "FieldValue": "WA"
                          },
                          {
                            "FieldId": "pets_rx_scVetClinicZipCode",
                            "FieldLabel": "Vet Clinic Zip Code",
                            "FieldType": "Text",
                            "FieldValue": "98000"
                          },
                          {
                            "FieldId": "pets_rx_scVetClinicPhoneNumber",
                            "FieldLabel": "Vet Clinic Phone Number",
                            "FieldType": "Text",
                            "FieldValue": "2060000000"
                          }
                        ]
                      },
                      "RegulatedOrderVerificationStatus": {
                        "Status": "Pending",
                        "RequiresMerchantAction": true,
                        "ValidRejectionReasons": [
                          {
                            "RejectionReasonId": "pets_rx_sc_incorrect_product",
                            "RejectionReasonDescription": "Canceled order due to veterinarian indicating wrong product ordered"
                          },
                          {
                            "RejectionReasonId": "pets_rx_sc_no_vcpr",
                            "RejectionReasonDescription": "Canceled order due to veterinarian indicating they do not have you as their client"
                          },
                          {
                            "RejectionReasonId": "pets_rx_sc_visit_required",
                            "RejectionReasonDescription": "Canceled order due to veterinarian indicating they need to see your pet for an appointment"
                          },
                          {
                            "RejectionReasonId": "pets_rx_sc_wrx_required",
                            "RejectionReasonDescription": "Canceled order due to veterinarian policy requiring you pick up a written prescription and mail to pharmacy"
                          },
                          {
                            "RejectionReasonId": "pets_rx_sc_other",
                            "RejectionReasonDescription": "Canceled order due to prescription denied - contact your vetinarian"
                          },
                          {
                            "RejectionReasonId": "pets_rx_sc_therapy_change",
                            "RejectionReasonDescription": "Canceled order due to a change in therapy, follow up with your veterinarian"
                          },
                          {
                            "RejectionReasonId": "pets_rx_sc_wrong_weight",
                            "RejectionReasonDescription": "Canceled order due to incorrect pet weight on file, update weight and replace order or order correct product"
                          },
                          {
                            "RejectionReasonId": "pets_rx_sc_early_refill",
                            "RejectionReasonDescription": "Canceled due to refilling prescription order too soon"
                          },
                          {
                            "RejectionReasonId": "pets_rx_sc_wrong_species",
                            "RejectionReasonDescription": "Canceled due to ordering for wrong pet species, replace order for correct product"
                          },
                          {
                            "RejectionReasonId": "pets_rx_sc_duplicate",
                            "RejectionReasonDescription": "Canceled due to duplicate order identified"
                          },
                          {
                            "RejectionReasonId": "pets_rx_sc_invalid_rx",
                            "RejectionReasonDescription": "Canceled due to not receiving a valid prescription"
                          },
                          {
                            "RejectionReasonId": "pets_rx_sc_address_validation_error",
                            "RejectionReasonDescription": "Canceled due to a non-verified address, correct address and replace order"
                          },
                          {
                            "RejectionReasonId": "pets_rx_sc_no_clinic_match",
                            "RejectionReasonDescription": "Canceled due to no valid clinic match, provide complete and accurate details for vet clinic and replace order"
                          },
                          {
                            "RejectionReasonId": "pets_rx_sc_pharmacist_canceled",
                            "RejectionReasonDescription": "Order canceled by pharmacy"
                          }
                        ],
                        "ValidVerificationDetails": [
                          {
                            "VerificationDetailType": "prescriptionDetail",
                            "ValidVerificationStatuses": [
                              "Approved"
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              ]
            },
            "examples": {
              "PendingOrder": {
                "payload": {
                  "AmazonOrderId": "902-3159896-1390916",
                  "RequiresDosageLabel": false,
                  "RegulatedInformation": {
                    "Fields": [
                      {
                        "FieldId": "pet_prescription_name",
                        "FieldLabel": "Name",
                        "FieldType": "Text",
                        "FieldValue": "Ruffus"
                      },
                      {
                        "FieldId": "pet_prescription_species",
                        "FieldLabel": "Species",
                        "FieldType": "Text",
                        "FieldValue": "Dog"
                      }
                    ]
                  },
                  "RegulatedOrderVerificationStatus": {
                    "Status": "Pending",
                    "RequiresMerchantAction": true,
                    "ValidRejectionReasons": [
                      {
                        "RejectionReasonId": "shield_pom_vps_reject_product",
                        "RejectionReasonDescription": "This medicine is not suitable for your pet."
                      },
                      {
                        "RejectionReasonId": "shield_pom_vps_reject_age",
                        "RejectionReasonDescription": "Your pet is too young for this medicine."
                      },
                      {
                        "RejectionReasonId": "shield_pom_vps_reject_incorrect_weight",
                        "RejectionReasonDescription": "Your pet's weight does not match ordered size."
                      }
                    ]
                  }
                }
              },
              "ApprovedOrder": {
                "payload": {
                  "AmazonOrderId": "902-3159896-1390916",
                  "RequiresDosageLabel": false,
                  "RegulatedInformation": {
                    "Fields": [
                      {
                        "FieldId": "pet_prescription_name",
                        "FieldLabel": "Name",
                        "FieldType": "Text",
                        "FieldValue": "Ruffus"
                      },
                      {
                        "FieldId": "pet_prescription_species",
                        "FieldLabel": "Species",
                        "FieldType": "Text",
                        "FieldValue": "Dog"
                      }
                    ]
                  },
                  "RegulatedOrderVerificationStatus": {
                    "Status": "Approved",
                    "RequiresMerchantAction": false,
                    "ValidRejectionReasons": [],
                    "ExternalReviewerId": "externalId",
                    "ReviewDate": "1970-01-19T03:59:27Z"
                  }
                }
              },
              "RejectedOrder": {
                "payload": {
                  "AmazonOrderId": "902-3159896-1390916",
                  "RequiresDosageLabel": false,
                  "RegulatedInformation": {
                    "Fields": [
                      {
                        "FieldId": "pet_prescription_name",
                        "FieldLabel": "Name",
                        "FieldType": "Text",
                        "FieldValue": "Ruffus"
                      },
                      {
                        "FieldId": "pet_prescription_species",
                        "FieldLabel": "Species",
                        "FieldType": "Text",
                        "FieldValue": "Dog"
                      }
                    ]
                  },
                  "RegulatedOrderVerificationStatus": {
                    "Status": "Rejected",
                    "RequiresMerchantAction": false,
                    "RejectionReason": {
                      "RejectionReasonId": "shield_pom_vps_reject_species",
                      "RejectionReasonDescription": "This medicine is not suitable for this type of pet."
                    },
                    "ValidRejectionReasons": [],
                    "ExternalReviewerId": "externalId",
                    "ReviewDate": "1970-01-19T03:59:27Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "schema": {
              "$ref": "#/definitions/GetOrderRegulatedInfoResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TEST_CASE_400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid Input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "表示禁止访问资源。可能的原因包括访问被拒绝、未经授权、令牌过期或签名无效。",
            "schema": {
              "$ref": "#/definitions/GetOrderRegulatedInfoResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "404": {
            "description": "指定的资源不存在。",
            "schema": {
              "$ref": "#/definitions/GetOrderRegulatedInfoResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "此操作的速率限制 (每秒请求数)。"
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "429": {
            "description": "请求的频率大于允许的频率。",
            "schema": {
              "$ref": "#/definitions/GetOrderRegulatedInfoResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "500": {
            "description": "发生了阻止服务器完成请求的意外情况。",
            "schema": {
              "$ref": "#/definitions/GetOrderRegulatedInfoResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          },
          "503": {
            "description": "服务器的临时过载或维护。",
            "schema": {
              "$ref": "#/definitions/GetOrderRegulatedInfoResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "唯一请求引用标识符。"
              }
            }
          }
        },
        "summary": "getOrderRegulatedInfo"
      },
      "patch": {
        "tags": [
          "Orders"
        ],
        "description": "更新 (批准或拒绝) 包含受管制产品的订单的验证状态。\n\n** 使用计划: **\n\n| Rate (每秒请求数) | Burst |\n| ---- | ---- |\n| 0.5 | 30 |\n\n“X-amzn-ratelimit-limit” 响应标头返回应用于请求的操作的使用计划费率限制 (如果可用)。上表包含此操作的默认速率和突发值。业务需求需要更高吞吐量的销售合作伙伴可能会收到比此处显示的更高的速率和突发值。有关详细信息，请参阅 [使用计划和速率限制](https:// developer-docs.amazon.com/sp-api/docs/Usage-Plans-and-Rate-Limits-in-the-sp-api)。",
        "operationId": "updateVerificationStatus",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "Amazon定义的订单标识符，格式为3-7-7。",
            "required": true,
            "type": "string"
          },
          {
            "name": "payload",
            "in": "body",
            "description": "“Updateverificationstatus” 操作的请求正文。",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateVerificationStatusRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "成功。",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "902-3159896-1390916"
                      },
                      "body": {
                        "value": {
                          "regulatedOrderVerificationStatus": {
                            "status": "Rejected",
                            "externalReviewerId": "reviewer1234",
                            "rejectionReasonId": "shield_pom_vps_reject_incorrect_weight"
                          }
                        }
                      }
                    }
                  },
                  "response": {}
                },
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "902-3159896-1390916"
                      },
                      "body": {
                        "value": {
                          "regulatedOrderVerificationStatus": {
                            "externalReviewerId": "reviewer1234",
                            "verificationDetails": {
                              "prescriptionDetail": {
                                "prescriptionId": "Rx-1234",
                                "expirationDate": "2024-01-01T00:00:00Z",
                                "writtenQuantity": 3,
                                "totalRefillsAuthorized": 10,
                                "usageInstructions": "Take one per day by mouth with food",
                                "refillsRemaining": 10,
                                "clinicId": "ABC-1234"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "response": {}
                }
              ]
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "此操作的速率限制 (每秒请求数)。",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "唯一请求引用标识符。",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "请求缺少参数或参数无效，无法对其进行分析。",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "902-3159896-1390916"
                      },
                      "body": {
                        "value": {
                          "regulatedOrderVerificationStatus": {
                            "status": "Rejected"
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Missing request parameter: rejectionReasonId."
                      },
                      {
                        "code": "InvalidInput",
                        "message": "Missing request parameter: externalReviewerId."
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "902-3159896-1390916"
                      },
                      "body": {
                        "value": {
                          "regulatedOrderVerificationStatus": {
                            "status": "Cancelled",
                            "externalReviewerId": "reviewer1234"
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid request parameter `status`. Must be one of [Approved, Rejected]."
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "902-3159896-1390916"
                      },
                      "body": {
                        "value": {
                          "regulatedOrderVerificationStatus": {
                            "status": "Rejected",
                            "rejectionReasonId": "shield_pom_vps_reject_incorrect_weight",
                            "verificationDetails": {
                              "prescriptionDetail": {
                                "prescriptionId": "Rx-1234",
                                "expirationDate": "2024-01-01T00:00:00Z",
                                "writtenQuantity": 3,
                                "totalRefillsAuthorized": 10,
                                "usageInstructions": "Take one per day by mouth with food",
                                "refillsRemaining": 10,
                                "clinicId": "ABC-1234"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Verification Detail `prescriptionDetail` is not supported when order is in Rejected status."
                      },
                      {
                        "code": "InvalidInput",
                        "message": "Missing request parameter: externalReviewerId."
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "902-3159896-1390916"
                      },
                      "body": {
                        "value": {
                          "regulatedOrderVerificationStatus": {
[...]
